﻿@model Fusion.WebApp.Models.AdditSchemeViewModel

<h2>Add new scheme</h2>

@using (Html.BeginForm("Add", "Scheme", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="IsEditScheme" value="false"/>
    
    @Html.ValidationMessage("")

    <div>
        @Html.ValidationMessageFor(m => m.NewSchemeName)
        @Html.LabelFor(m => m.NewSchemeName)
        @Html.TextBoxFor(m => m.NewSchemeName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.Logo)
        @Html.LabelFor(m => m.Logo)
        <input type="text" class="fileview" data-ghost="Logo..." readonly />
        <input type="button" value="Choose" class="filebutton"/>
        <input type="file" name="Logo" class="fileinput" />
    </div>    
       
    <div>
        @{
            if ((Model.ImportErrorDetails ?? "").Length > 0)
            {
                <p id="model-importerrordetails" style="display: none">
                    <span class="import-error-header">Aborted at:</span><br />
                    @Model.ImportErrorAt<br />
                    <span class="import-error-header">Error:</span><br />
                    @Model.ImportErrorDetails
                </p>
                <a style="float:right; margin-left: 3px; margin-right: 1px" href="#" id="ImportErrorDetailsTooltip" title="">[details...]</a>
                <span class="field-validation-error">Invalid import file</span>
            }
        }
        @Html.ValidationMessageFor(m => m.SchemeData)
        @Html.LabelFor(m => m.SchemeData)
        <input type="text" class="fileview" data-ghost="Choose import file..." readonly />
        <input type="button" value="Choose" class="filebutton" />
        <input type="file" name="SchemeData" class="fileinput" />
    </div>
    
    <div>
        @Html.LabelFor(m => m.IsRestricted)
        @Html.CheckBoxFor(m => m.IsRestricted)
    </div>
    
    <div>
        @Html.ValidationMessageFor(m => m.AccountingDownloadsPassword)
        @Html.LabelFor(m => m.AccountingDownloadsPassword)
        @Html.TextBoxFor(m => m.AccountingDownloadsPassword, new { @class = "ghost", data_ghost = "Set password..." })
    </div>

    <div id="addDocumentPanel">
        @Html.ValidationMessageFor(m => m.Documents)
        @Html.LabelFor(m => m.Documents)
        <input type="button" value="+" />
    </div>    

    <div id="documentsPanel">
        
        @for (int i = 0; i < Model.DocumentNames.Count(); i++)
        {
            <div>
                <input type="text" class="ghost" data-ghost="Name..." name="DocumentNames" value="@Model.DocumentNames[i]" />
                <input type="hidden" name="DocumentIds" value="@Model.DocumentIds[i]" />
                <input type="hidden" name="DocumentFileNames" value="@Model.DocumentFileNames[i]" />
                <input type="text" class="fileview" data-ghost="Choose document..." readonly />
                <input type="button" value="Choose" class="filebutton" />
                <input type="file" name="Documents" class="fileinput" />
            </div>
        }
        <div id="addDocumentTemplate">
            <input type="text" class="ghost" data-ghost="Name..." name="DocumentNames" />
            <input type="hidden" name="DocumentIds" value="-1" />
            <input type="hidden" name="DocumentFileNames" value="Choose document..." />
            <input type="text" class="fileview" data-ghost="Choose document..." readonly />
            <input type="button" value="Choose" class="filebutton" />
            <input type="file" name="Documents" class="fileinput" />
        </div>
    </div>
    

    <div class="submitters">
        @if (Model.Result == AdditSchemeResult.AddSchemeSuccess)
        {
                <span class="changeSucceeded">Scheme added</span>
        }
        else if (Model.Result == AdditSchemeResult.AddSchemeFailure)
        {
                <span class="changeFailed">Failed to add scheme</span>
        }
        else if (Model.Result == AdditSchemeResult.DeleteSchemeSuccess)
        {
            <span class="changeSucceeded">Scheme deleted</span>
        }

        <input type="submit" value="Add" id="save-scheme-btn" class="submit-limit" />

    </div>
}