﻿@model Fusion.WebApp.Models.AdditSchemeViewModel

@{
    var importFile = string.IsNullOrEmpty(Model.ImportFileSpreadsheetName)
        ? "Choose import file..."
        : Model.ImportFileSpreadsheetName.Split('/', '\\').Last();
}

<h2>Edit scheme
    @if (Model.Result == AdditSchemeResult.FindSchemeSuccess)
    {
        <span class="changeSucceeded">Scheme found</span>
    }
</h2>

@using (Html.BeginForm("Edit", "Scheme", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <input type="hidden" name="IsEditScheme" value="true"/>
    <input type="hidden" name="CurrentSchemeName" value="@Model.CurrentSchemeName" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="SourceXmlExists" value="@Model.SourceXmlExists.ToString()" />

    @Html.ValidationMessage("")
    
    <div>
        @Html.ValidationMessageFor(m => m.NewSchemeName)
        @Html.LabelFor(m => m.NewSchemeName)
        @Html.TextBoxFor(m => m.NewSchemeName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.Logo)
        @Html.LabelFor(m => m.Logo)
        <input type="text" class="fileview ghost" data-ghost="Logo..." readonly />
        <input type="button" value="Choose" class="filebutton"/>
        <input type="file" name="Logo" class="fileinput" />
    </div>
    

    if ((Model.ImportErrorDetails ?? "").Length > 0)
    {
        <p id="model-importerrordetails" style="display: none">
            <span class="import-error-header">Aborted at:</span><br />
            @Model.ImportErrorAt<br />
            <span class="import-error-header">Error:</span><br />
            @Model.ImportErrorDetails
        </p>
        <a style="float:right; margin-left: 3px; margin-right: 1px" href="#" id="ImportErrorDetailsTooltip" title="">[details...]</a>
        <span class="field-validation-error">Invalid import file</span>
    }
    else
    {
        @Html.ValidationMessage("ImportErrorDetails")
    }
    <div>
        @Html.ValidationMessageFor(m => m.SchemeData)
        @Html.LabelFor(m => m.SchemeData)
        <input type="text" class="fileview ghost" data-ghost="@importFile" readonly />
        <input type="button" value="Choose" class="filebutton"/>
        <input type="file" name="SchemeData" class="fileinput" />
    </div>
    
    <div>
        @Html.LabelFor(m => m.IsRestricted)
        @Html.CheckBoxFor(m => m.IsRestricted)
    </div>
    
    <div>
        @Html.ValidationMessageFor(m => m.AccountingDownloadsPassword)
        @Html.LabelFor(m => m.AccountingDownloadsPassword)
        <input type="text" name="AccountingDownloadsPassword" id="AccountingDownloadsPassword" class = "ghost" data-ghost="Set password..." />
    </div>   
    
    <div id="addDocumentPanel">
        @Html.ValidationMessageFor(m => m.Documents)
        @Html.LabelFor(m => m.Documents)
        <input type="button" value="+" />
    </div>
    if (Model.DocumentNames.Count() > 0)
    {
        <div id="documentDeleteHeader">Delete</div>
    }
    <br />
    <div id="documentsPanel">
        
        @for (int i = 0; i < Model.DocumentNames.Count(); i++)
        {
            <div id="scheme-document-@(Model.DocumentIds[i])" class="document-container">
                <div>
                    <input type="text" class="ghost documentTextbox" data-ghost="Name..." name="DocumentNames" value="@Model.DocumentNames[i]" />
                    <input type="checkbox" name="DeleteCheckbox" class="deleteCheckbox" value="@Model.DocumentIds[i]" />
                    <input type="hidden" name="DeleteDocuments" id="DeleteDocument-@(Model.DocumentIds[i])" value="0" />
                    <input type="hidden" name="DocumentIds" value="@Model.DocumentIds[i]" />
                    <input type="hidden" name="DocumentFileNames" value="@Model.DocumentFileNames[i]" />
                </div>
                <div class="fileInputContainer">
                    <input type="text" class="fileview" data-ghost="Choose document..." readonly value="@Model.DocumentFileNames[i]" />
                    <input type="button" value="Choose" class="filebutton" />
                    <input type="file" name="Documents" class="fileinput" />
                </div>
            </div>
        }
        <div id="addDocumentTemplate">
            <div>
                <input type="text" class="ghost documentTextbox" data-ghost="Name..." name="DocumentNames" />
                <input type="hidden" name="DocumentIds" value="-1" />
                <input type="hidden" name="DocumentFileNames" value="Choose document..." />
            </div>
            <div class="fileInputContainer">
                <input type="text" class="fileview" data-ghost="Choose document..." readonly />
                <input type="button" value="Choose" class="filebutton" />
                <input type="file" name="Documents" class="fileinput" />
            </div>
        </div>
    </div>    
    
    
        
    <div class="submitters">
        <hr />
        @if (Model.Result == AdditSchemeResult.EditSchemeSuccess)
        {
            <span class="changeSucceeded">Scheme updated</span>
        }
        @if (Model.Result == AdditSchemeResult.AddSchemeSuccess)
        {
            <span class="changeSucceeded">Scheme added</span>
        }
        else if (Model.Result == AdditSchemeResult.EditSchemeFailure)
        {
            <span class="changeFailed">Failed to update</span>
        }
        @if (Model.Result == AdditSchemeResult.DeleteSchemeFailure)
        {
             <span class="changeFailed">Failed to delete</span>
        }

        <div class="scheme-button-action-container">
            <input type="submit" value="Update" name="update" id="save-scheme-btn" class="submit-limit" />
            <input type="submit" value="Delete" name="delete" id="delete_scheme" class="submit-limit" />
            @if (Model.SourceXmlExists)
            {
                <a href="@Url.Action("Download", "Scheme", new { id = Model.Id })" class="button">Export</a>
            }
        </div>
    </div>

    <div id="dialog-scheme-delete-confirm" title="">
        <h3>Delete Scheme</h3>
        <p>Are you sure you want to permanently delete this scheme?</p>
    </div>
}

