﻿@model FlightDeck.DomainShared.SchemeDetail

<table class="report gapbelow">
    <tr>
        <th class="reportlabel">Scheme ref:</th>
        <td>@Model.SchemeData_SchemeRef</td>
    </tr>
    <tr>
        <th class="reportlabel">Imported by:</th>
        <td>@Model.SchemeData_ImportedByUser</td>
    </tr>
    <tr>
        <th class="reportlabel">Imported on:</th>
        <td>@Model.SchemeData_ImportedOnDate</td>
    </tr>
    <tr>
        <th class="reportlabel">Prepared by:</th>
        <td>@Model.SchemeData_ProducedByUser</td>
    </tr>
    <tr>
        <th class="reportlabel">Prepared on:</th>
        <td>@Model.SchemeData_ProducedOnDate</td>
    </tr>
    <tr>
        <th class="reportlabel">Spreadsheet:</th>
        <td>@Model.SchemeData_Spreadsheet</td>
    </tr>
    <tr>
        <th class="reportlabel">Comment:</th>
        <td>@Model.SchemeData_Comment</td>
    </tr>
    <tr>
        <th class="reportlabel">Source:</th>
        <td>@Model.SchemeData_ExportFile</td>
    </tr>
    @if (Model.Logo != null)
    {
        <tr>
            <th class="reportlabel">Logo:</th>
            <td>
                <div style="height:80px;width:100%;background: top right no-repeat url('@Url.Action("Logo", "Scheme", new {id= Model.SchemeName})'); background-size: contain"></div>
            </td>
        </tr>
    }
</table>   
