﻿@model Fusion.WebApp.Models.ListSchemeViewModel

<h2>All Schemes</h2>

<table>
    @foreach (var scheme in Model.Schemes)
    {
    <tr>
        <td>@Html.ActionLink(scheme.SchemeName, "Manage", new { id = scheme.SchemeDetailId })</td>
        <td>@string.Format(" - {0}{1}", scheme.ContactName, scheme.SchemeData_ImportedOnDate.HasValue ? ", " + scheme.SchemeData_ImportedOnDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
    </tr>
    }   
</table>