﻿@model Fusion.WebApp.Models.SchemeViewModel
@{
    ViewBag.Title = "Scheme Details";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/scheme")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.Action("Manage", new { id = Model.SchemeSummary.SchemeDetailId })' class="button">Back</a>
        </div>

    </section>
</div>