﻿@model IEnumerable<FlightDeck.DomainShared.SchemeDetail>
@{
    ViewBag.Title = "ImportHistory";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <!--section-->
        <div class="grid">
            <!--grid-->
            <div class="bottompad">
                @Html.ActionLink("Back", "Manage", null, new { @class = "button" })
            </div>
            <div class="block lightgrey include_indicator">
                <h2>Import history</h2>
                <table id="import_history_table">
                    <tr>
                        <th rowspan="2" class="leftcol">Date imported</th>
                        <th rowspan="2" class="leftcol">Effect date</th>
                        <th colspan="3">Basis</th>
                        <th rowspan="2" class="gap">Assets</th>
                        <th rowspan="2">Liabilities</th>
                        <th rowspan="2" class="leftcol">Imported by</th>
                        <th rowspan="2" class="leftcol">Comments</th>
                    </tr>
                    <tr>
                        <th>F</th>
                        <th>B</th>
                        <th>A</th>
                    </tr>
                    @foreach (var import in Model)
                    {
                        <tr>
                            <td class="leftcol">@import.SchemeData_ImportedOnDate.ToString()</td>
                            <td class="leftcol">@import.SchemeData_AnchorDate.ToString()</td>
                            <td><img src='@Url.Content("~/Images/tick.png")' /></td>
                            <td><img src='@Url.Content("~/Images/tick.png")' /></td>
                            <td><img src='@Url.Content("~/Images/tick.png")' /></td>
                            <td class="gap"><img src='@Url.Content("~/Images/tick.png")' /></td>
                            <td><img src='@Url.Content("~/Images/tick.png")' /></td>
                            <td class="leftcol">@import.SchemeData_ImportedByUser</td>
                            <td class="leftcol">@import.SchemeData_Comment</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</div>

