﻿@model Fusion.WebApp.Models.ManageSchemeViewModel
    
@{
    ViewBag.Title = "List";
    ViewBag.ShowVersion = true;
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.FindSchemeViewModel.ShowListAll = true;
}

@section scripts {
    @Scripts.Render("~/bundles/scheme")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.RouteUrl("Home")' class="button">Home</a>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->

            <div class="left fourty">
                <div class="block lightgrey include_indicator">
                    @Html.Partial("_FindScheme", Model.FindSchemeViewModel)                    
                </div>
            </div>
            <div class="right fifty-five">
                <div class="block lightgrey include_indicator all-schemes">
                    @Html.Partial("_List", Model.ListSchemeViewModel)
                </div>
            </div>
        </div><!--grid-->


    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->

        <div class="grid">
            <!--grid-->
            <div class="right fifty-five">
                <div class="block mustygrey">
                    <div class="">
                        <a href="@Url.Action("Manage", "Scheme")" class="button">Back</a>
                    </div>
                </div>
            </div>

        </div><!--grid-->

    </section><!--section-->

</div>

