﻿@model Fusion.WebApp.Models.ManageSchemeViewModel

@{
    ViewBag.Title = "Manage Schemes";
    ViewBag.ShowVersion = true;
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.FindSchemeViewModel.ShowListAll = true;
}

@section scripts {
    @Scripts.Render("~/bundles/scheme")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.RouteUrl("Home")' class="button">Home</a>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->

            <div class="left fourty-five">
                <div class="block lightgrey include_indicator">
                    <h2>Find scheme</h2>
                    @Html.Partial("_FindScheme", Model.FindSchemeViewModel) 
                </div>
            </div>
            <div class="right fourty-five">
                <div class="block lightgrey include_indicator">
                    @if (Model.AdditSchemeViewModel.IsEditScheme)
                    {
                        @Html.Partial("_Edit", Model.AdditSchemeViewModel)
                    }
                    else
                    {
                        @Html.Partial("_Add", Model.AdditSchemeViewModel)
                    }
                </div>
            </div>
            @if (Model.SchemeImportHistory.Any())
            {
            <div class="left fourty-five reportpane">
                <div class="block lightgrey include_indicator">

                    <h2>Last import details</h2>
                    @Html.Partial("_ImportDetail", Model.SchemeImportHistory.First())

                </div>
            </div>
                
            }
        </div><!--grid-->


    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->


        <div class="grid">
            <!--grid-->
            <div class="right  fourty-five">
                <div class="block mustygrey">
                    <div class="">
                        @if (Model.AdditSchemeViewModel.IsEditScheme)
                        {
                            <a href="@Url.Action("Add", "Scheme")" class="button">Add scheme...</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Manage", "Scheme")" class="button">Discard</a>
                        }
                    </div>
                </div>
            </div>

        </div><!--grid-->



    </section><!--section-->

</div>
