﻿@model Fusion.WebApp.Models.FindSchemeViewModel

@using (Html.BeginForm("Find", "Scheme"))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.FindSchemeName)
        @Html.LabelFor(m => m.FindSchemeName)
        @Html.TextBoxFor(m => m.FindSchemeName, new { autocomplete = "off", @class = "schemeNameSearch", data_schemesource = Url.Action("List", "Scheme", new { state = Model.RestrictionStatus }) })
    </div>
    <div class="submitters">

        @if (Model.Result == ResultEnum.Failure) { 
            <span class="changeFailed">Scheme not found</span>
        }
        <input type="submit" value='@Html.DefaultLabel(Model.SubmitLabel, "Find Scheme")' class="find-scheme-btn" />
        @if (Model.ShowListAll)
        {
            @Html.ActionLink("List all", "ListAll", null, new { @class = "button" })
        }
    </div>
}
