﻿@using Fusion.WebApp
&copy; @DateTime.Now.Year KPMG LLP, a UK limited liability partnership, and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative, a Swiss entity. All rights reserved. 
<br />KPMG FUSION is registered as a trade mark covering the whole Community.
<div id="footerlinks">
    <a target="_blank" href="http://www.kpmg.com/uk/en/Pages/Legal.aspx" title="Legal">Legal</a>
    @if (WebSecurity.IsAuthenticated)
    {
        <a target="_blank" href="@Url.Action("Index", "Terms")" title="Terms">Terms</a>
    }
    <a target="_blank" href="http://www.kpmg.com/uk/en/Pages/Privacy.aspx" title="Privacy">Privacy</a>
</div>

<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@AppSettings.GoogleAnalytics[0]', '@AppSettings.GoogleAnalytics[1]');
            ga('send', 'pageview');

</script>