﻿@using FlightDeck.DomainShared
@{
    var user = UserHelper.GetUser(Html);
    var scheme = user.ActiveSchemeDetail ?? new SchemeDetail();
    var isFavourite = false;
}

@if (Request.IsAuthenticated)
{
    <div class="userpanel">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a id="signin" class="logout" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
        }
        <div style="position: relative;display:inline;float: right">
            <a href="@Url.Action("Manage", "Account")" class="username">
                <span class="header-dropdown left"></span>
                <span class="whitecolor right">@user.FirstName @user.LastName</span>
            </a>
        </div>
        @if (user.IsInRole(RoleType.Admin, RoleType.Installer))
        {
            <div style="position: relative;display:inline;float: right">
                <a id="adminSelector" href="#" class="username">
                    <span class="header-dropdown left"></span>
                    <span class="whitecolor right">Admin</span>
                </a>
                <ul id="adminMenu" class="dropDownMenuX header-selector-menu">
                    @if (user.IsInRole(RoleType.Admin))
                    {
                        <li><a href='@Url.Action("Manage", "Application")'>Manage Settings</a></li>
                    }
                    <li><a href="@Url.Action("Manage", "Users")">Manage Users</a></li>
                    <li><a href="@Url.Action("Manage", "Scheme")">Manage Schemes</a></li>
                    <li><a href="@Url.Action("Manage", "Indices")">Manage Indices</a></li>
                </ul>
            </div>
        }

        @if (!(ViewBag.HideScheme ?? false))
        {
            if (scheme != null && scheme.Documents != null && scheme.Documents.Any())
            {
                <div style="position: relative;display:inline;float: right">
                    <a id="documentSelector" href="#" class="username">
                        <span class="header-dropdown left"></span>
                        <span class="whitecolor right">Documents</span>
                    </a>
                    <ul id="documentMenu" class="dropDownMenuX header-selector-menu">
                        @foreach (var doc in scheme.Documents)
                        {
                            <li><a style="width: 100%;margin:0" href="@Url.Action("Document", "Scheme", new {id= doc.SchemeDocumentId, name=doc.FileName})" target="_blank">@doc.Name</a></li>
                        }
                    </ul>
                </div>
            }

            if ((user.Role == RoleType.Client || user.Role == RoleType.Adviser) && !user.SchemeDetails.IsNullOrEmpty() && user.ActiveSchemeDetail != null)
            {
                <div style="position: relative; display: inline; float: right">
                    <a id="schemeSelector" href="#" class="username">
                        <span class="header-dropdown left"></span>
                        <span class="whitecolor right">@user.ActiveSchemeDetail.SchemeName</span>
                    </a>
                    <ul id="schemeSelectorMenu" class="dropDownMenuX header-selector-menu">
                        @foreach (var sd in user.SchemeDetails.OrderBy(x => x.SchemeName))
                        {
                            <li><a style="width: 100%; margin:0" href="#" data-selected='@(scheme.SchemeName == sd.SchemeName ? "true" : "false")'>@sd.SchemeName</a></li>
                        }
                    </ul>
                </div>
            }
            else
            {
                if (user.ActiveSchemeDetail != null)
                {
                    var showFavMenu = user.FavouriteSchemes.Any() && (user.FavouriteSchemes.Count() > 1 || user.FavouriteSchemes.First().SchemeDetailId != user.ActiveSchemeDetail.SchemeDetailId);
                    isFavourite = user.FavouriteSchemes.Any(x => x.SchemeDetailId == scheme.SchemeDetailId);
                    <div id="favouriteList" style='position: relative; display: @(showFavMenu ? "block" : "none"); float: right'>
                        <a id="schemeSelector" href="#" class="username">
                            <span class="header-dropdown left"></span>
                            <span class="whitecolor right">@user.ActiveSchemeDetail.SchemeName</span>
                        </a>
                        <ul id="schemeSelectorMenu" class="dropDownMenuX header-selector-menu">
                            @foreach (var sd in user.FavouriteSchemes.OrderBy(x => x.SchemeName))
                            {
                                <li data-schemeid="@sd.SchemeDetailId"><a style="width: 100%; margin:0" href="#" data-selected='@(scheme.SchemeName == sd.SchemeName ? "true" : "false")'>@sd.SchemeName</a></li>
                            }
                        </ul>
                    </div>
                    <p id="userSchemeName" style='display: @(showFavMenu ? "none" : "block")' class="user-banner-scheme-name">@scheme.SchemeName</p>

                    <div id="favouriteIcon" class="user-favourite-selector" title="Add to Favourites" data-type='@(isFavourite ? "gold" : "silver")' data-schemeid='@scheme.SchemeDetailId'>
                        <img id="ajaxLoader" class="ajax-loader" src="~/Images/ajax-loader.gif" />
                    </div>
                }
            }
        }


    </div>

    <div class="scheme-change-cover">
        <div class="spinner-container">
            <div class="spinner"></div>
            <div class="message">Performing calculations...</div>
        </div>
    </div>
}


