﻿@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>@ViewBag.Title - KPMG Fusion</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @if (AppSettings.EnableLocalResources)
        {
            <link href='@Url.Content("~/Content/lato.css")' rel="stylesheet" type="text/css">
            <script type="text/javascript" src='@Url.Content("~/Scripts/libs/jquery-1.11.1.min.js")'></script>
        }
        else
        {
            <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        }
        @Scripts.Render("~/bundles/browserCheck")
        @Scripts.Render("~/bundles/fusionlibs")
        @Scripts.Render("~/bundles/fusioncore")
        @Scripts.Render("~/bundles/highcharts")
        @Scripts.Render("~/bundles/cover")        
        
        @Styles.Render("~/Content/fusioncss")
        @RenderSection("stylesheets", required: false)
    </head>
    <body class="@((ViewBag.Compact ?? false) ? "compact" : "")">

<div id="container">

    @Html.Partial("_JavascriptValues")

    <header>
        <!--header-->
        <div class="headcomponents">
            <div class="headerwrapper">
                @if (ViewBag.ShowVersion ?? false)
                {
                    @Html.Partial("_VersionInfo")
                }
                
                @if (Request.IsAuthenticated && (ViewBag.ShowKPMGLogo==null||!ViewBag.ShowKPMGLogo))
                {
                    <div class="logo"><span><a class="fusion-logo" href='@Url.RouteUrl("Home")'>Fusion Pension risk management</a></span></div>
                }
                else
                {
                    <div class="logo"><span><a href="http://www.kpmg.co.uk">KPMG</a></span></div>
                }
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_HeaderPartial")
                }
            </div>
        </div>
        <div class="headerleft"></div>
        <div class="headerbase"></div>
        <div class="headextentsion">
            <div class="headmenu">
                <ul class="firstmenu">
                    @if (Request.IsAuthenticated && (ViewBag.DisableHeaderMenu == null || !ViewBag.DisableHeaderMenu))
                    {
                        <li class="dashboard"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="dashboard"><a href="@Url.Action("Index", "Baseline")">Baseline</a></li>
                        <li class="dashboard"><a href="@Url.Action("Index", "Evolution")">Evolution</a></li>
                        <li class="dashboard">@Url.LinkableIf(Html.UserIsNotAdviser(), "Index", "Analysis", "Analysis")</li>
                        <li class="dashboard">@Url.LinkableIf(Html.UserIsNotAdviser() && Html.EnableJourneyPlan(), "Index", "JourneyPlan", "Journey plan")</li>
                        <li class="submenu">@Url.LinkableIf(Html.UserIsNotAdviser(), "Index", "Solutions2", "Solutions")</li>
                        <li class="dashboard"><a href='@Html.FormatMailTo(SchemeHelper.GetScheme(Html).ContactEmail, AppSettings.ContactEmail, "Fusion feedback")' title="Feedback..."><img src='@Url.Content("~/Images/communication-light.png")' width="33" height="30" id="feedback-icon"/></a></li>
                    }
                    else
                    {
                        <li class="dashboard">&nbsp;</li>
                    }
                </ul>
            </div>
            <div class="pane">
                
                @RenderSection("controlPanel", required: false)

            </div>
        </div>
    </header><!--header-->

    @RenderBody()

    <footer>
        @Html.Partial("_Footer")
    </footer>		
    
</div>

        @RenderSection("scripts", required: false)
        @RenderSection("inlinescripts", required: false)

    </body>
</html>
