﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title>@ViewBag.Title - KPMG Fusion</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/fusioncss")
    @RenderSection("stylesheets", required: false)
</head>
<body>

    <div id="container">

        <header>
            <!--header-->
            <div class="headcomponents">
                <div class="headerwrapper">
                    @if (Request.IsAuthenticated && (ViewBag.ShowKPMGLogo == null || !ViewBag.ShowKPMGLogo))
                    {
                        <div class="logo"><span><a class="fusion-logo" href="#">Fusion Pension risk management</a></span></div>
                    }
                    else
                    {
                        <div class="logo"><span><a href="http://www.kpmg.co.uk">KPMG</a></span></div>
                    }
                </div>
            </div>
            <div class="headerleft"></div>
            <div class="headerbase"></div>
            <div class="headextentsion"></div>
        </header><!--header-->

        @RenderBody()

        <footer>
            @Html.Partial("_Footer")
        </footer>

    </div>

</body>
</html>
