﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>KPMG Fusion</title>
        <style>@RenderSection("style", false)</style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
