﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="contents landing">
    <section class="grey">
        <!--section-->
        <div class="grid">
            <div style="min-height: 400px;">
                <hgroup class="title">
                    <h1 class="error">Error.</h1>
                    <h2 class="error">An error occurred while processing your request.</h2>
                </hgroup>
            </div>
        </div>
    </section>
</div>
