﻿@{
    ViewBag.Title = "Maintenance";
}

<div class="contents landing">
    <section class="grey">
        <!--section-->
        <div class="grid">
            <div style="min-height: 400px;">
                <hgroup class="title">
                    <h2 class="error">Fusion is currently undergoing routine maintenance. Please sign out and try again in a few minutes.</h2>
                </hgroup>
            </div>
        </div>
    </section>
</div>
<!--contents-->
@section scripts {
    @Scripts.Render("~/bundles/maintenance")
}
