﻿@model System.Web.Mvc.HandleErrorInfo
@{
    if (WebSecurity.IsAuthenticated)
    {
       Response.RedirectToRoute("Home");    
    }
    ViewBag.Title = "Unauthorised";
}

<div class="contents landing">
    <section class="grey">
        <!--section-->
        <div class="grid">
            <div style="min-height: 400px;">
                <p>There has been a recent update to the system. Please refresh your page in order to proceed.</p>
                <div><a href='@Url.Action("Login", "Account", new { @new = true })' class="button">Refresh</a></div>
            </div>
        </div>
    </section>
</div>

