﻿@{
    ViewBag.Title = "Unsupported Scheme";
}
@section inlinescripts {
    <script>
        $(document).ready(function () {
            fusion.util.headerSelectMenu.init();
        });
    </script>
}
<div class="contents landing">
    <section class="grey">
        <!--section-->
        <div class="grid">
            <div style="min-height: 400px;">
                <hgroup class="title">
                    <h2 class="error">
                        The pension scheme you are trying to view is not supported by this version <br />
                        of Fusion. Please contact KPMG to upgrade the scheme.
                    </h2>
                </hgroup>
            </div>
        </div>
    </section>
</div>