﻿@{
    ViewBag.Title = "Home";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section inlinescripts {
    <script>
        $(document).ready(function() {
            fusion.util.headerSelectMenu.init();
        });
    </script>
}
<div class="contents loginsection">

    <section id="loginpane" class="grey loginpane">
        <!--section-->

        <div class="fusionlogo-new">Fusion Pension risk management</div>
        <div class="fusionimg">
            <div class="screenglaze"></div>
            <div id="no-slideshow" class="pics">
                @*
                <img src="/images/content/logins/screen1.jpg" />
                <img src="/images/content/logins/screen2.jpg" />
                *@                    
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/79197932"><img src="/images/content/logins/explore-fusion-video.png" /></a>
            </div>
        </div>
        <div class="grid">
            <!--grid-->
            <div class="right thirty-three">
                <div class="block lightgrey include_indicator">
                    <h2>Welcome...</h2>
                    Welcome to Fusion.<br/><br/>
                    We are currently in the process of setting up your scheme, so there is nothing for you to see just yet.<br /><br />
                    Please bear with us while we prepare the system for you.
                </div>
            </div>

        </div><!--grid-->
    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->


        <div class="grid">
            <!--grid-->
            <div class="right thirty-three">
                <div class="block mustygrey">
                    <h3>Think there is a problem?</h3>
                    <div class="submitters">
                        <a href="mailto: @AppSettings.SupportEmail" class="button">
                            Get in touch
                        </a>

                    </div>
                </div>
            </div>

        </div><!--grid-->



        <div class="grid loginpaneoptions">
            <!--grid-->
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico time"></div>
                </div>
                <div class="ballmargins"><p>Track scheme over time</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico impact"></div>
                </div>
                <div class="ballmargins"><p>Review risk impact</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico scenarios"></div>
                </div>
                <div class="ballmargins"><p>Test multiple scenarios &amp; assumptions</p></div>
            </div>
            <div class="left twenty-five last">
                <div class="ball">
                    <div class="ico charts"></div>
                </div>
                <div class="ballmargins"><p>Simple, dynamic charts</p></div>
            </div>
        </div><!--grid-->
    </section><!--section-->


</div>
