﻿@model string
@{
    ViewBag.Title = "Scheme Error";
    ViewBag.DisableHeaderMenu = true;
}
@section inlinescripts {
    <script>
        $(document).ready(function () {
            fusion.util.headerSelectMenu.init();
        });
    </script>
}
<div class="contents landing">
    <section class="grey">
        <!--section-->
        <div class="grid">
            <div style="min-height: 400px;">
                <hgroup class="title">
                    <h2 class="error">There was a problem loading '@Model'.</h2>
                    <h2>Please select a different scheme or contact KPMG for assistance.</h2>
                </hgroup>
            </div>
        </div>
    </section>
</div>
