﻿@using Fusion.WebApp.Controllers
@model Fusion.WebApp.Models.SchemeHomeViewData
@{
    ViewBag.Title = "Home";
}

@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">

                <div id="baseline_options" class="hide dashboardheader">
                    <div class="grid" style="padding-bottom: 6px;">
                        <!--grid-->
                        <div class="left">
                            <div class="account basisSelector top-panel-icon-margin"></div>
                        </div>
                        <div class="left first-basis-on-menu">
                            <h5>Valuation basis </h5>
                            <h3 id="currentBasis" class="valuationbasisheader top-panel-text-padding">@Model.CurrentBasisName</h3>
                            @Html.BasisDropdown(Model.SchemeData)
                        </div>
                        <div class="right">
                            <h5>Latest date</h5>
                            <h3 class="top-panel-text-padding">@Model.RefreshDate.ToShortDateString()</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!--contents-->
<div class="contents landing">
    <section class="white">
        <!--section-->
        <div class="grid">
            <!--grid-->
            <div class="left sixty-six">
                <div class="blockwrapper">
                    <div class="grid">
                        <!--grid-->
                        <div class="left sixty-five" style="margin-top: 7px">
                            <h1>@Model.SchemeName</h1>
                            <!--<h2>Client Pension Scheme</h2>-->

                            <p class="large">@Model.SchemeSummary.WelcomeMessage</p>
                        </div>
                        <div class="left thirty-five">
                            @if (Model.SchemeSummary.Logo != null)
                            {
                                <img src="@Url.Action("Logo", "Scheme")" class="floatright" />
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="right thirty-three last">
                <div class="block lightteal" style="height:120px">
                    <div class="grid">
                        <!--grid-->
                        <div class="left twenty">
                            <div class="icon_communication"></div>
                        </div>
                        <div class="left eighty">
                            <div class="larger">Call @Model.SchemeSummary.ContactName<br /> for more information on:</div><br />
                            <span class="contactnumber">@Model.SchemeSummary.ContactNumber</span><br />
                            <a href="mailto:@Model.SchemeSummary.ContactEmail">@Model.SchemeSummary.ContactEmail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--grid-->

    </section><!--section-->

    @if (!string.IsNullOrEmpty(Model.ImportantMessage))
    {
        <section class="section-full" id="importantmessage-container" data-importantmessage-id="@Model.ImportantMessageKey">
            <div class="importantmessage-box darkgrey">
                <h4>Important message</h4>
                <p>@Model.ImportantMessage</p>
                <div id="btn-importantmessage-close"><a href='#'>Don’t show this message again</a></div>
            </div>
        </section>
    }

            <section id="breakdown" class="darkgrey">
                <!--section-->
                <div class="grid">
                    <!--grid-->
                    <div class="chartcontainer left thirty-five">
                        <div class="block darkgrey">
                            <h4 class="aligncenter">Asset breakdown</h4>
                            <div id="assetBreakdownPie" style="height: 240px; margin: 0 auto;"></div>
                        </div>
                    </div>
                    <div class="left twenty-seven">
                        <div class="darkgrey">

                            <div id="initialBalanceLabel" class="rougered" style="margin-top:20%;padding:20px;width: auto">
                                <h5 id="initialBalanceDate" class="whitecolor aligncenter"></h5>
                                <h1 class="aligncenter"><span id="initialBalance" class="whitecolor" style="font-size:56px"></span></h1>
                            </div>
                            <div id="funding_target_box" class="UnderInitialBalanceBox" style="display:none;">
                                <h3 id="funding_target" class="aligncenter greencolor"></h3>
                                <h5 id="funding_target_text" class="aligncenter">ahead of funding target</h5>
                            </div>
                            <div id="hedged_cashflows" style="display:none">
                                <h4 class="aligncenter">Hedge summary</h4>
                                <table class="assumptionsTable ldiHedgeTable" style="width:100% !important">
                                    <tr>
                                        <td>Interest&nbsp;rate</td>
                                        <td class="values" style="white-space: nowrap">
                                            <span id="hedged_currentBasis_interest_rate" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_interest_rate" class="charcoalgreycolor"></span> of cashflows)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Inflation</td>
                                        <td class="values" style="white-space: nowrap">
                                            <span id="hedged_currentBasis_inflation" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_inflation" class="charcoalgreycolor"></span> of cashflows)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="chartcontainer left thirty-eight">
                        <div class="block darkgrey">
                            <h4 class="aligncenter">Liability breakdown</h4>
                            <div id="liabilityBreakdownPie" style="height:240px; margin: 0 auto;width:100%;"></div>
                        </div>
                    </div>
                </div><!--grid-->
            </section><!--section-->


    <section id="schemeEvolution" class="white">
        
        
        <h2 class="aligncenter">Scheme evolution</h2>
        
        <div style="height: 50px; margin: 0 150px 0 150px">
            <div class="miniEvolutionDate right">21 Jan 2014</div>
            <div class="miniEvolutionDate left">1 Jan 2014</div>
            <div id='miniEvolutionPeriods'>
                <span class="miniEvolutionPeriodButton" data-period="y1">1 Year</span>
                <span class="miniEvolutionPeriodButton" data-period="m6">6 Months</span>
                <span class="miniEvolutionPeriodButton" data-period="m3">3 Months</span>
                <span class="miniEvolutionPeriodButton" data-period="m1">1 Month</span>
                <span class="miniEvolutionPeriodButton" data-period="d1">1 Day</span>
            </div>
        </div>
        
        <div style="height: 200px">
            <div style="height: 100%; float: right; width: 150px; ">
                <div class="miniEvolutionLabel halfHeight">
                    <span style="line-height: 150px; text-align: left">Assets</span>
                </div>
                <div class="miniEvolutionLabel halfHeight">
                    <span style="line-height: 50px; text-align: left">Liabilities</span>
                </div>
            </div>
            <div id="miniEvolutionValuationPresentChartDiv" style="height: 100%; width: 150px; float: right"></div>

            <div style="height: 100%; float: left; width: 150px; ">
                <div class="miniEvolutionLabel halfHeight">
                    <span style="line-height: 150px; text-align: right;">Assets</span>
                </div>
                <div class="miniEvolutionLabel halfHeight">
                    <span style="line-height: 50px; text-align: right; ">Liabilities</span>
                </div>
            </div>
            <div id="miniEvolutionValuationPastChartDiv" style="height: 100%; width: 150px; float: left"></div>

            <div class="miniEvolutionChangeBox halfHeight">
                <div style="bottom: 0;">
                    <span id="assetIndicatorAmount"></span>
                    <span id="assetIndicatorPercentage" class="indicatorPercentage"></span>
                </div>
            </div>
            <div class="miniEvolutionChangeBox halfHeight" style="border-top:1px solid lightgray">
                <div style="top: 0;">
                    <span id="liabilityIndicatorAmount"></span>
                    <span id="liabilityIndicatorPercentage" class="indicatorPercentage"></span>
                </div>
            </div>
        </div>

        <div style="height: 200px">
            
            <div class="miniEvolutionLabel" style="height: 100%; float: right; width: 150px; ">
                <div class="miniEvolutionLabel halfHeight">
                    <span id='miniEvolutionSurplusPresentTitle' style="line-height: 150px; text-align: left">Surplus</span>
                </div>
                <div class="miniEvolutionLabel halfHeight">
                    <span id='miniEvolutionDeficitPresentTitle' style="line-height: 50px; text-align: left">Deficit</span>
                </div>
            </div>
            <div id="miniEvolutionBalancePresentChartDiv" style="height: 100%; width: 150px; float: right"></div>

            <div class="miniEvolutionLabel" style="height: 100%; float: left; width: 150px; ">
                <div class="miniEvolutionLabel halfHeight">
                    <span id='miniEvolutionSurplusPastTitle' style="line-height: 150px; text-align: right">Surplus</span>
                </div>
                <div class="miniEvolutionLabel halfHeight">
                    <span id='miniEvolutionDeficitPastTitle' style="line-height: 50px; text-align: right">Deficit</span>
                </div>
            </div>
            <div id="miniEvolutionBalancePastChartDiv" style="height: 100%; width: 150px; float: left"></div>


            <div class="miniEvolutionChangeBox">
                <div style="top: 100px; border-top:1px solid lightgray">
                    <span id="balanceIndicatorAmount"></span>
                    <span id="balanceIndicatorPercentage" class="indicatorPercentage"></span>
                </div>
            </div>

        </div>


    </section>

    <section id="schemeCashflows" class="darkgrey">
        <div id="expandingSchemeCashflow" class="darkgrey" title="Cashflows">
            <div id="cashflowChartDiv" style="height:352px"></div>
        </div>
    </section>


        <section id="schemeDetails" class="white">

            <div class="grid">
                <div class="left seventy">
                    <div id="schemedata" class="block lightteal">
                        <h3>Scheme data</h3>
                        <p>Scheme calculations are based on the following data inputs:</p>

                        <ul class="documentchecklist">
                            <li class="@(Model.Ias19Disclosure.HasValue ? "active" : "")">Accounting disclosures <span>@(Model.Ias19Disclosure.HasValue ? "(" + Model.Ias19Disclosure.Value.ToShortDateString() + ")" : "")</span></li>
                            <li class="@(Model.ValuationReport.HasValue ? "active" : "")">Valuation report <span>@(Model.ValuationReport.HasValue ? "(" + Model.ValuationReport.Value.ToShortDateString() + ")" : "")</span></li>
                            <li class="@(Model.AssetData.HasValue ? "active" : "")">Asset data <span>@(Model.AssetData.HasValue ? "(" + Model.AssetData.Value.ToShortDateString() + ")" : "")</span></li>
                            <li class="@(Model.MemberData.HasValue ? "active" : "")">Member data <span>@(Model.MemberData.HasValue ? "(" + Model.MemberData.Value.ToShortDateString() + ")" : "")</span></li>
                            <li class="@(Model.BenefitData.HasValue ? "active" : "")">Benefit data <span>@(Model.BenefitData.HasValue ? "(" + Model.BenefitData.Value.ToShortDateString() + ")" : "")</span></li>
                            <li id="li-documentchecklist-buyin">Existing buy-in <span id="li-documentchecklist-buyin-date"></span></li>
                        </ul>

                        <p>Fusion uses an advanced model to carry out calculations. However, it is possible that the results will differ from a full analysis. More detailed advice should be sought before acting or refraining from acting on the basis of the information provided. Providing more data allows more accurate output to be shown.</p>
                    </div>
                </div>

                <div class="right thirty">
                    <ul class="dates">
                        <li>
                            <h3>Scheme reference</h3>
                            <span>@Model.SchemeSummary.SchemeData_SchemeRef</span>
                        </li>
                        <li class="last">
                            <h3>Date last updated</h3>
                            <span>@Model.RefreshDate.ToShortDateString()</span>
                        </li>
                    </ul>
                    <p>The results have been calculated on current published indices.  Please note there may be a time lag as some indices are updated more often than others.</p>
                </div>
            </div><!--grid-->
        </section><!--section-->


        <section id="options" class="darkergrey">
            <!--section-->
            <h2 class="aligncenter">Explore your options</h2>
            <!--<h3 class="aligncenter">Sed diam nonummy nibh euismod tincidunt ut laoreet dolore</h3>-->

            <div class="grid">
                <!--grid-->
                <div class="left twenty">
                    <div class="ball" data-url="@Url.Action("Index", "Baseline")">
                        <div class="ico baseline"></div>
                        <h4 class="copy">Baseline</h4>
                    </div>
                    <div class="ballmargins"><p>What is the historical position?</p></div>
                </div>
                <div class="left twenty">
                    <div class="ball" data-url="@Url.Action("Index", "Evolution")">
                        <div class="ico evolution"></div>
                        <h4 class="copy">Evolution</h4>
                    </div>
                    <div class="ballmargins"><p>How has the scheme evolved?</p></div>
                </div>
                <div class="left twenty">
                    @if (Html.UserIsNotAdviser()) {
                        @:<div class="ball" data-url="@Url.Action("Index", "Analysis")">
                    }
                    else {
                        @:<div class="ball opacity30">
                    }
                        <div class="ico analysis"></div>
                        <h4 class="copy">Analysis</h4>
                    </div>
                    <div class="ballmargins"><p>Model scheme risk, cash, time and accounting.</p></div>
                </div>
                <div class="left twenty">
                    @if (Html.UserIsNotAdviser()) {
                        @:<div class="ball" data-url="@Url.Action("Index", "JourneyPlan")">
                    }
                    else {
                          @:<div class="ball opacity30">
                    }
                          <div class="ico journeyplan"></div>
                          <h4 class="copy">Journey<br />plan</h4>
                    </div>
                    <div class="ballmargins"><p>Model long term strategy options</p></div>
                </div>
                <div class="left twenty last">
                    @if (Html.UserIsNotAdviser()) {
                        @:<div class="ball" data-url="@Url.Action("Index", "Solutions2")">
                    }
                    else {
                        @:<div class="ball opacity30">
                    }
                        <div class="ico solutions"></div>
                        <h4 class="copy">Solutions</h4>
                    </div>
                    <div class="ballmargins"><p>How KPMG can help.</p></div>
                </div>
            </div><!--grid-->
        </section><!--section-->

    </div>
        <!--contents-->
        @section scripts {
            @Scripts.Render("~/bundles/home")
        }




