﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Developer resources</h2>

<h4>v @Fusion.WebApp.AppSettings.Version.ToString() - @Fusion.WebApp.AppInfo.DeploymentDate.ToString("dd MMM yyyy")</h4>

<ul>
    <li>@Html.ActionLink("view log", "Log")</li>
</ul>



