﻿@model Fusion.WebApp.Models.LogViewModel
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Log</h2>

<h3>Showing for date: @Model.Date.ToString("dd MMM yy") @Html.WriteIfValueExists(Model.Level, ", and level: " + Model.Level)</h3>

@using (Html.BeginForm("Log", "Developer", FormMethod.Get))
{
    <p>
        <label for="date">Date (dd/mm/yyyy): </label>
        <input type="text" name="date" />
        <label for="level"></label>
        <select name="level">
            <option value="">ALL</option>
            <option value="ERROR">ERROR</option>
        </select>
        <input type="submit" value="Get" />
    </p>
}

@if (Model.Entries.Any())
{
    <table border="1">
        <tr>
            <th>Date</th><th>Thread</th><th>Level</th><th>Logger</th><th>Message</th><th>Exception</th>
        </tr>
        @foreach (var log in Model.Entries)
        {
            <tr>
                <td nowrap>@log.Date.ToString("yyyy-MM-dd HH:mm:ss.ff")</td>
                <td>@log.Thread</td>
                <td>@log.Level</td>
                <td>@log.Logger</td>
                <td>@log.Message</td>
                <td>@log.Exception</td>
            </tr>
        }
    </table>
}
else
{
    <p>No entries.</p>
}

