﻿@using Fusion.WebApp.Controllers
@using Fusion.WebApp.Models
@using WebGrease.Css.Extensions
@model Fusion.WebApp.Models.SchemeViewModel
@{
    ViewBag.Title = "Baseline";
}

@section controlPanel {

    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
                <div id="baseline_options" class="hide dashboardheader">
                    <div class="grid" style="padding-bottom: 6px;">
                        <!--grid-->
                        <div class="left">
                            <div class="account basisSelector"></div>
                        </div>
                        <div class="left first-basis-on-menu">
                            <h5>Valuation basis</h5>
                            <h3 id="currentBasis" class="valuationbasisheader">@Model.CurrentBasisName</h3>
                            @Html.BasisDropdown(Model.SchemeData)
                        </div>
                        <div class="right">
                            <h5>Valuation date</h5>
                            <h3 id="valuation-date"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<!--contents-->
<div class="contents baseline">
    <section id="deficit" class="white">
        <!--section-->
        <h2 class="aligncenter">Valuation results</h2>
        <div class="grid">
            <div class="right last">

                <!--tabs-->
                <div data-tabs="true" data-orientation="horizontal" id="baselineTabs" class="paneoptionspanel">
                    <div class="tabHeader">
                        <div class="wrapHead">
                            <ul class="tabMenu">
                                <li><a href="#baseline_assumptions"><h4>Assumptions</h4></a></li>
                                <li><a href="#baseline_pensionIncreases"><h4>Pension increases</h4></a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="baseline_assumptions" class="panelTab">
                        <table id="liability-assumptions-table" class="assumptionsTable maxRow300">
                            <tr id="tr-PreRetirementDiscountRate">
                                <th colspan="2">Pre retirement discount rate:</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-PostRetirementDiscountRate">
                                <th colspan="2">Post retirement discount rate:</th>
                                <td colspan="2" class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-PensionDiscountRate">
                                <th colspan="2">Pensioner discount rate:</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-SalaryIncrease">
                                <th colspan="2">Salary increases:</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-InflationRetailPriceIndex">
                                <th colspan="2">Inflation (RPI):</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-InflationConsumerPriceIndex">
                                <th colspan="2">Inflation (CPI):</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-LifeExpectancy65">
                                <th colspan="2">Life Expectancy Male at 65:</th>
                                <td class="values" data-unit="yrs"></td>
                            </tr>
                            <tr id="tr-LifeExpectancy65_45">
                                <th colspan="2">Life Expectancy Male at 65<br /> (currently 45):</th>
                                <td class="values" data-unit="yrs"></td>
                            </tr>
                            <tr id="tr-SacrificeProportion">
                                <th class="preventSchemeLabelOverride">Commutation allowance</th>
                                <td class="values allowLabelOverride" colspan="2" data-unit="%" data-precision="0"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="baseline_pensionIncreases" class="panelTab">
                        <table id="pension-increase-assumptions-table" class="assumptionsTable maxRow300">
                            <tr id="tr-1">
                                <th colspan="2">CPI</th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-2">
                                <th colspan="2"></th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-3">
                                <th colspan="2"></th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-4">
                                <th colspan="2"></th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-5">
                                <th colspan="2"></th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                            <tr id="tr-6">
                                <th colspan="2"></th>
                                <td class="values" data-unit="%"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--tabs-->

                @*<h4 class="alignright">Assumptions</h4>*@


                <br/>
                <br/>
                <h4 class="alignright" id="namedpropertygroupname"></h4>
                <table class="assumptionsTable" id="namedpropertygrouptable">
                </table>
            </div>
            <div class="left fifty">
                <div id="valuationResultBalanceChartDiv" class="aligncenter" style="width:80%;height: 460px;margin: 5px 0 0 0"></div>
            </div>
        </div>
    </section><!--section-->

    <section id="valuation" class="darkgrey">
        <!--section-->
        <h2 class="aligncenter">Assets and Liabilities</h2>
        <div class="grid">
            <div class="chartcontainer left thirty-three">
                <h4 class="aligncenter">Asset breakdown</h4>
                <div id="assetBreakdownPie" style="height: 240px; margin: 0 auto"></div>
            </div>

            <div class="left thirty-three">
                <div id="valuationResultValuationChartDiv" class="aligncenter" style="height: 300px; margin: 0 auto"></div>
                <br /><br />
                <div id="ldiHedgingTableContainer" class="aligncenter hide">
                    <h4 class="aligncenter">Hedge summary</h4>
                    <table class="assumptionsTable ldiHedgeTable">
                        <tr>
                            <th>Interest rate</th>
                            <td class="values" style="white-space: nowrap">
                                <span id="hedged_currentBasis_interest_rate" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_interest_rate" class="charcoalgreycolor"></span> of cashflows)
                            </td>
                        </tr>
                        <tr>
                            <th>Inflation</th>
                            <td class="values" style="white-space: nowrap">
                                <span id="hedged_currentBasis_inflation" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_inflation" class="charcoalgreycolor"></span> of cashflows)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="chartcontainer right thirty-three">
                <h4 class="aligncenter">Liability breakdown</h4>
                <div id="liabilityBreakdownPie" style="height: 240px; margin: 0 auto"></div>
            </div>

        </div>

    </section><!--section-->

</div>
<!--contents-->

@section scripts {
    @Scripts.Render("~/bundles/baseline")
}
