﻿@model Fusion.WebApp.Models.SchemeViewModel
<div class="jp-container-div asset-growth-container">
    <div class="left tabPanelColumn">
        <h4>Current assets</h4>
    </div>
    <div class="jp-controls-container">
            <table id="jpAssetGrowthInputTable" class="assumptionsTable">
            <tr class="">
                    <th>Current return</th>
                    <td><div id="jpCurrentReturnSlider" class="assumptionsSlider gilts-plus" data-increment="0.001" data-min="0"></div></td>
                    <td class="values gilts"></td>
                </tr>
            </table>
        </div>
</div>
