﻿<div class="grid">
    <div class="tabPanelColumn left fifty">
        <div class="block">
            <table class="assumptionsTable maxRow265">
                <tr class="head">
                    <th><h4>Assumptions</h4></th>
                    <td><h5 class="alignright" style=""><span id="jpFundingBasis">Funding&nbsp;basis</span></h5></td>
                    <td><h5 class="alignright" style=""><span id="jpBuyoutBasis">Buyout&nbsp;basis</span></h5></td>
                </tr>
                <tr>
                    <th>Pre retirement discount rate</th>
                    <td id="jpFundingBasisPreRetirementDiscount" class="values" data-unit="%"></td>
                    <td id="jpBuyoutBasisPreRetirementDiscount" class="values" data-unit="%"></td>
                </tr>
                <tr>
                    <th>Post retirement discount rate</th>
                    <td id="jpFundingBasisPostRetirementDiscount" class="values" data-unit="%"></td>
                    <td id="jpBuyoutBasisPostRetirementDiscount" class="values" data-unit="%"></td>
                </tr>
                <tr>
                    <th>Pensioner discount rate</th>
                    <td id="jpFundingBasisPensionerDiscount" class="values" data-unit="%"></td>
                    <td id="jpBuyoutBasisPensionerDiscount" class="values" data-unit="%"></td>
                </tr>
                <tr>
                    <th id="jpGiltYieldLabel">Gilt yield</th>
                    <td id="jpFundingBasisGiltYield" class="values" data-unit="%"></td>
                    <td id="jpBuyoutBasisGiltYield" class="values" data-unit="%"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabPanelColumn left fifty last">
        <div class="block">
            <div id="jpRpCurrentSummary">
                @Html.Partial("_CurrentRPSummary")
            </div>
            <div id="jpRpNewSummary" style="display: none">
                @Html.Partial("_NewRPSummary")
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div>
        The Journey Plan model shows the expected time taken to reach fully funded on a Technical Provisions, Buy-out or Self Sufficiency target.
        The starting position for the liability values is taken from the Analysis page.
        The same member cash-flows are used to project forward all liability measures and can be altered from the drop down menu.
        The impact of changing future investment returns can also be modeled along with altering the current level of deficit contributions.
        Future service for any active members is excluded from the Journey Plan model.
    </div>
    <div>&nbsp;</div>
</div>
