﻿<table class="assumptionsTable maxRow265">
    <tr class="head">
        <th><h4>Existing recovery plan</h4></th>
        <td class="values">&nbsp;</td>
    </tr>
    <tr>
        <th>Contributions due in next 12 months</th>
        <td id="jpExistingRpCurrentRPContsDue" class="values"></td>
    </tr>
    <tr>
        <th>Last payment date</th>
        <td id="jpExistingRpCurrentRPLastPaymentDate" class="values" data-unit="%"></td>
    </tr>
</table>