﻿<div class="jp-container-div recovery-plan-container">
    <div class="tabPanelColumn">
        <div class="left buy-ins-control">
            <input type="checkbox" id="includeBuyIns" class="left" />
            <label for="includeBuyIns" class="left cb-check-box">Include buy-ins</label>
        </div>
    </div>
</div>
