﻿<table class="assumptionsTable maxRow265">
    <tr class="head">
        <th><h4>Existing recovery plan</h4></th>
        <td class="values">&nbsp;</td>
    </tr>
    <tr>
        <th>Length (years)</th>
        <td id="jpExistingRpLength" class="values"></td>
    </tr>
    <tr>
        <th>Increase</th>
        <td id="jpExistingRpIncrease" class="values" data-unit="%"></td>
    </tr>
    <tr>
        <th>Lump sum amount</th>
        <td id="jpExistingRpLumpSum" class="values"></td>
    </tr>
    <tr>
        <th>Commencement (months)</th>
        <td id="jpExistingRpCommencement" class="values"></td>
    </tr>
    <tr>
        <th>Year one contributions</th>
        <td id="jpExistingRpFirstYearContribution" class="values"></td>
    </tr>
</table>