﻿<div class="jp-container-div recovery-plan-container">
    <div class="tabPanelColumn">
        <h4 class="left recovery-plan-heading">Recovery plan</h4>
        <div class="right">
            <input type="checkbox" id="addIncludeExistingRecoveryPlan" class="right" />
            <label for="addIncludeExistingRecoveryPlan" class="right">Add existing recovery plan</label>
        </div>
        <div class="rp-settings">
            <input type="checkbox" id="addExtraContributions" class="right" />
            <label for="addExtraContributions" class="right">Add extra contributions</label>
        </div>
    </div>
        <div class="jp-controls-container">
            <table id="jpRecoveryInputTable1" class="assumptionsTable">
                <tr>
                    <th>Start year</th>
                    <td><div id="jpStartYear" class="assumptionsSlider yearsNoUnits" data-units="int" data-increment="1" data-min="1"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Contributions p.a.</th>
                    <td><div id="jpAnnualCont" class="assumptionsSlider poundsMillionsRoundUp2dp" data-units="int" data-min="0"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Term</th>
                    <td><div id="jpTerm" class="assumptionsSlider years" data-increment="1" data-units="int" data-min="1"></div></td>
                    <td class="values"></td>
                </tr>
            </table>
        </div>
</div>
