﻿@model Fusion.WebApp.Models.SchemeViewModel
<div class="jp-container-div self-sufficiency-container">
    <div class="tabPanelColumn">
        <h4>Self sufficiency</h4>
    </div>
    <div class="jp-controls-container">
            <table id="jpSelfSufficiencyInputTable" class="assumptionsTable">
            <tr class="">
                    <th>Discount rate</th>
                    <td><div id="jpSelfSufficiencySlider" class="assumptionsSlider gilts-plus" data-increment="0.001" data-min="0"></div></td>
                    <td class="values gilts"></td>
                </tr>
            </table>
        </div>
</div>
