﻿@model Fusion.WebApp.Models.SchemeViewModel
<div class="jp-container-div trigger-container">
    <div class="tabPanelColumn">
        <h4 class="left vertical-middle">New assets</h4>
        @*<div class="jp-trigger-switch-container">
            <a id="jpTriggerSwitchTime" class="toggle-switch-readonly">Time</a>
            <a id="jpTriggerSwitchFunding" class="toggle-switch-readonly toggle-switch-disabled">Funding Level</a>
        </div>*@
    </div>
    <div class="jp-controls-container">
        <table id="jpTriggerInputTable" class="assumptionsTable">
            <tr>
                <th>Initial return</th>
                <td><div id="jpTriggerInitialReturnSlider" class="assumptionsSlider gilts-plus" data-increment="0.001" data-min="0"></div></td>
                <td class="values gilts"></td>
            </tr>
            <tr>
                <th>Number of steps</th>
                <td><div id="jpTriggerStepsSlider" class="assumptionsSlider yearsNoUnits" data-units="int" data-increment="1" data-min="0"></div></td>
                <td class="values"></td>
            </tr>
            <tr>
                <th>First step</th>
                <td><div id="jpTimeFirstStepSlider" class="assumptionsSlider years" data-units="int" data-increment="1" data-min="0"></div></td>
                <td class="values"></td>
            </tr>
            <tr>
                <th>Switching period</th>
                <td><div id="jpTimeSwitchingPeriodSlider" class="assumptionsSlider years" data-units="int" data-increment="1" data-min="0"></div></td>
                <td class="values"></td>
            </tr>
            <tr>
                <th>Final return</th>
                <td><div id="jpTriggerFinalReturnSlider" class="assumptionsSlider gilts-plus" data-increment="0.001" data-min="0"></div></td>
                <td class="values gilts"></td>
            </tr>
        </table>
    </div>
</div>
