﻿@using FlightDeck.DomainShared
@using Fusion.WebApp.Controllers
@model Fusion.WebApp.Models.SchemeViewModel
@{
    ViewBag.Title = "Journey plan";
}

@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
                <div id="journeyplan_options" class="dashboardheader">
                    <div class="grid firefox-top-panel-text-padding">
                        <!--grid-->
                        <div class="left">
                            <div class="account basisSelector"></div>
                        </div>
                        <div class="left first-basis-on-menu">
                            <h5>Cashflow basis</h5>
                            <h3 id="currentBasis" class="valuationbasisheader" data-masterbasisid="@Model.CurrentBasis.MasterBasisId.ToString()" data-basistypeid="@((int)Model.CurrentBasisType)">@Model.CurrentBasisName</h3>
                            @Html.BasisDropdown(Model.SchemeData)
                        </div>
                        <div class="left">
                            <div class="account techProvBasisSelector"></div>
                        </div>
                        <div class="left">
                            <h5>Funding basis</h5>
                            
                                @if (Model.SchemeData.GetBasesIdentifiers().Where(b => b.Type == BasisType.TechnicalProvision).Any())
                                {
                                    <h3 id="technicalProvisionsBasis" class="valuationbasisheader">@Model.SchemeData.GetBasesIdentifiers().Where(b => b.Type == BasisType.TechnicalProvision).First().Name</h3>                               
                                }
                                else
                                {
                                    <h3 id="technicalProvisionsBasis" class="valuationbasisheader">@Model.SchemeData.GetBasesIdentifiers().Where(b => b.Type == BasisType.Accounting).First().Name</h3>
                                }
                            
                            @Html.TechnicalProvisionsBasisDropdown(Model.SchemeData)
                        </div>
                        <div class="right">
                            <h5 class="analysis-date" style="margin-bottom: 5px;">Analysis date</h5>
                            <div class="headertitlewrap">
                                @* todo: FUSN-972 only allow curve data range. *@
                                <input class="analysisPeriodEnd h3" type="text" value="" data-range-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()"
                                       data-range-max-date="@Model.CurrentBasis.AttributionEnd.ToShortDateString()"
                                       data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()"
                                       data-max-date="@Model.RefreshDate.ToShortDateString()" />
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="journey-plan-console paneconsole close">
                @Html.Action("Assumptions", "JourneyPlan")
            </div>
        </div>
        <div class="cog">Assumptions <span class="open"></span></div>
    </div>
}

<!--contents-->
<div class="contents">
    <div class="journey-plan-container">
        <section id="newJP-controls" class="lighterblue">
            <div id="jp-controls-div" class="panelTab">
                @Html.Action("IncludeBuyInsControl", "JourneyPlan")
                @Html.Action("AssetGrowthControls", "JourneyPlan")
                @Html.Action("SelfSufficiencyControls", "JourneyPlan")
                @Html.Action("TriggerControls", "JourneyPlan")
                @Html.Action("RecoveryPlanControls", "JourneyPlan")
                <div id="overlayToDisableClick"></div>
            </div>
            <button id="resetInputs" class="reset right jp-reset">Reset</button>
        </section>
        <section id="newJP-chart">
            <div class="grid">
                <div class="jp-container-div">
                    <div class="aligncenter jp-heading">
                        <div id="jpPeriodSelect" class="styleable-select h3 jp-select">
                            <div class="select-selected"></div>
                            <div class="select-options">
                                <div class="select-option" data-value="10">10 year</div>
                                <div class="select-option" data-value="20">20 year</div>
                                <div class="select-option" data-value="30">30 year</div>
                                <div class="select-option" data-value="40">40 year</div>
                            </div>
                        </div>
                        <span class="h3">Journey plan</span>
                    </div>
                    <div id="newJourneyPlanChartDiv"></div>
                    <table id="jpCrossOverTable" cellspacing="2">
                        <tr>
                            <th class="clear"></th>
                            <th class="tp">Funding</th>
                            <th class="ss">Self sufficiency</th>
                            <th class="bo">Buy-out</th>
                        </tr>
                        <tr>
                            <td>Current assets</td>
                            <td class="tp"><span id="tpca_crossover"></span><span class="not-applicable">n/a</span></td>
                            <td class="ss"><span id="ssca_crossover"></span><span class="not-applicable">n/a</span></td>
                            <td class="bo"><span id="boca_crossover"></span><span class="not-applicable">n/a</span></td>
                        </tr>
                        <tr>
                            <td>New assets</td>
                            <td class="tp"><span id="tpna_crossover"></span><span class="not-applicable">n/a</span></td>
                            <td class="ss"><span id="ssna_crossover"></span><span class="not-applicable">n/a</span></td>
                            <td class="bo"><span id="bona_crossover"></span><span class="not-applicable">n/a</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<!--contents-->
@section scripts {
    @Scripts.Render("~/bundles/journeyplan")
}

