﻿@model Fusion.WebApp.Models.IndexImportViewModel
@{
    ViewBag.Title = "Manage Indices";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var importFile = "Choose import file...";
    if (Model.ImportDetail != null && Model.ImportDetail.Spreadsheet != null)
    {
        importFile = Model.ImportDetail.Spreadsheet.Split('/', '\\').Last();
    }
    Model.ImportDetail = Model.ImportDetail ?? new FlightDeck.DomainShared.IndexImportDetail();
}

@section scripts {
    @Scripts.Render("~/bundles/indices")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.RouteUrl("Home")' class="button">Home</a>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->


                <div class="left fourty-five">
                    <div class="block lightgrey include_indicator">
                        <h2>Import indices</h2>

                            @using (Html.BeginForm("Save", "Indices", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div>
                                    @Html.ValidationMessageFor(m => m.ImportFile)
                                    @Html.LabelFor(m => m.ImportFile)
                                    <input type="text" class="fileview ghost" data-ghost="@importFile" readonly />
                                    <input type="button" value="Choose" class="filebutton" />
                                    <input type="file" name="ImportFile" class="fileinput" />
                                </div>
                                <div class="submitters">
                                    @if (Model.Submitted)
                                    {
                                        if (Model.Result == ResultEnum.Success)
                                        {
                                            <span class="changeSucceeded">Indices updated</span>
                                        }
                                        else if (Model.Result == ResultEnum.Failure)
                                        {
                                            <span class="changeFailed">Failed to import</span>
                                        }
                                    }
                                    <input type="submit" value="Import" id="save-indices-btn" class="submit-limit" />
                                </div>
                            }
                            @if (Model.Submitted && Model.Result == ResultEnum.Failure && Model.ValidationMessages.Any())
                            {
                                
                                <div id="xml-validation-errors">
                                    <p>
                                        The following errors were found:
                                    </p>
                                    <ul>
                                        @foreach (var message in Model.ValidationMessages)
                                        {
                                            <li>@message</li>
                                        }
                                    </ul>
                                    @if (Model.AllowInvalidSubmission)
                                    {
                                        using (Html.BeginForm("ForceSave", "Indices", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                
                                            <input type="submit" value="Ignore warnings and attempt import" id="save-indices-override-btn" class="submit-limit" />
                                        }
                                    }
                                </div>
                            }
                    </div>
                </div>
            
        @if (Model.ImportDetail != null)
            {
            <div class="right fourty-five">
                <div class="block lightgrey include_indicator">
                    <h2>Last import details</h2>
                    <table class="report">
                        <tr>
                            <th>Imported by:</th>
                            <td>@Model.ImportDetail.ImportedByUser</td>
                        </tr>
                        <tr>
                            <th>Imported on:</th>
                            <td>@Model.ImportDetail.ImportedOnDate</td>
                        </tr>
                        <tr>
                            <th>Prepared by:</th>
                            <td>@Model.ImportDetail.ProducedByUser</td>
                        </tr>
                        <tr>
                            <th>Prepared on:</th>
                            <td>@Model.ImportDetail.ProducedOnDate</td>
                        </tr>
                        <tr>
                            <th>Spreadsheet:</th>
                            <td>@Model.ImportDetail.Spreadsheet</td>
                        </tr>
                        @*<tr>
                            <th>Comment:</th>
                            <td>@Model.ImportDetail.Comment</td>
                        </tr>*@
                        <tr>
                            <th>Source:</th>
                            <td>@Model.ImportDetail.ExportFile</td>
                        </tr>
                    </table>
                </div>

                <div class="block lightgrey include_indicator topspace-10">
                    <h2>Indices</h2>
                    <div>
                        <a href='@Url.Action("ViewAll")' class="button">View</a> all imported indices 
                    </div>
                </div>

            </div>                 
}  

        </div><!--grid-->


    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->






    </section><!--section-->

</div>
