﻿@model IEnumerable<FlightDeck.ServiceInterfaces.IndexDataSummary>
@{
    ViewBag.Title = "View All Indices";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/indices")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.Action("Manage")' class="button">Back</a>
        </div>

        <!--section-->
        <div class="grid">

            <h2>Indices</h2>

            <table id="indices-all">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="date">Start</th>
                        <th class="date">End</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var index in Model.OrderBy(x => x.Name))
                    {
                        <tr>
                            <td class="index" data-indexid="@index.Id.ToString()"><img src='@Url.Content("~/Images/expand.png")' title="Expand index" /> @index.Name</td>
                            <td class="date">@index.Start.ToString("yyyy-MM-dd")</td>
                            <td class="date">@index.End.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </section>
</div>
