﻿<div class="grid">
    <div class="panelTitle">
        <h3>Asset Backed Funding (ABF)</h3>
        <p>To find out more about Asset Backed Funding arrangements, please visit the @Html.ActionLink("KPMG", "ABF", "Solutions2", null, new { target = "_blank" }) site</p>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock">
            <h4>Information</h4>
            <table class="assumptionsTable">
                <tr>
                    <th>Funding deficit</th>
                    <td></td>
                    <td id="abfFundingDeficit" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="font-weight: bold">Recovery plan</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Length of recovery plan</th>
                    <td></td>
                    <td id="abfLengthOfRecoveryPlan" class="values"></td>
                </tr>
                <tr>
                    <th>Annual contributions</th>
                    <td></td>
                    <td id="abfAnnualPayments" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Cash outflow net of tax for first four years</th>
                    <td></td>
                    <td id="abfNetCashPosition" class="values"></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock leftborder">
            <h4 class="">Asset Backed Funding (ABF)</h4>
            <table id="abfInputTable" class="assumptionsTable">
                <tr>
                    <th>Value of ABF (<span class="currency"></span>)</th>
                    <td><div id="abfPercentageOfAbf" class="assumptionsSlider poundsMillionsRoundUp1dp" data-increment="0.005" data-min="0" data-max="1.50"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Length of ABF</th>
                    <td></td>
                    <td id="abfLengthOfAbf" class="values"></td>
                </tr>
                <tr>
                    <th>Annual payments from ABF</th>
                    <td></td>
                    <td id="abfAnnualContribution" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Cash outflow net of tax for first four years</th>
                    <td></td>
                    <td id="abfNewNetCashPosition" class="values"></td>
                </tr>
                <tr>
                    <th>Cumulative cost saving (first four years)</th>
                    <td></td>
                    <td id="abfCumulativeCashSaving" class="values"></td>
                </tr>
            </table>
            <br />
            <button id="resetAbf" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>
            <li>Simple recovery plan makes no allowance for asset outperformance (see Recovery Plan panel for more detailed analysis)</li>
            <li>Corporation tax assumed to be 20%</li>
            <li>Annual payments from ABF calculated using consistent assumptions with liabilities</li>
            <li>Net after tax cash position from ABF assumes Company makes sufficient profits to gain maximum tax relief (which is spread over four years)</li>
            <li>If ABF is less than deficit then 'Net after tax cash position' assumes balance of deficit met by 10 year recovery plan (as illustrated)</li>
            <li>Figures exclude advisor costs of implementation</li>
            <li>Annual contributions payable under Recovery Plan assumed to be paid monthly, annual payments payable under ABF assumed to be paid annually in arrears</li>
            <li>The Company will need to have an asset of sufficient quality, security and value to implement an ABF</li>
        </ul>
    </div>
</div>
