﻿<div id="analysis_liabilities" class="grid">
    <div class="panelTitle">
        <h3>Liability assumptions</h3>
    </div>
    <div class="tabPanelColumn left sixty">
        <div class="controlblock rightborder">

            <!--tabs-->
            <div data-tabs="true" data-orientation="horizontal" id="assumptionsTabs" class="paneoptionspanel">
                <div class="tabHeader">
                    <div class="wrapHead">
                        <div class="right fourty">
                            <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
                        </div>
                        <ul class="tabMenu">
                            <li><a href="#analysis_assumptions"><h4>Assumptions</h4></a></li>
                            <li><a href="#analysis_pensionIncreases"><h4>Pension increases</h4></a></li>
                        </ul>
                    </div>
                </div>

                <div id="analysis_assumptions" class="panelTab">
                    <table id="liabilityAssumptionsTable" class="assumptionsTable maxRow310">
                        <tr id="tr-PreRetirementDiscountRate" class="no-border-top">
                            <th>Pre retirement discount rate</th>
                            <td><div id="preRetirement" class="assumptionsSlider accounting-linked" data-increment="0.0005" data-min="0.001" data-max="0.08"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-PostRetirementDiscountRate">
                            <th>Post retirement discount rate</th>
                            <td><div id="postRetirement" class="assumptionsSlider accounting-linked" data-liab="" data-increment="0.0005" data-min="0.001" data-max="0.08"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-PensionDiscountRate">
                            <th>Pensioner discount rate</th>
                            <td><div id="pensioner" class="assumptionsSlider accounting-linked" data-liab="" data-increment="0.0005" data-min="0.001" data-max="0.08"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-SalaryIncrease">
                            <th>Salary increases</th>
                            <td><div id="salaryIncreases" class="assumptionsSlider" data-liab="" data-increment="0.0005" data-min="0" data-max="0.06"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-InflationRetailPriceIndex">
                            <th>Inflation (RPI)</th>
                            <td><div id="RPI" class="assumptionsSlider" data-liab="" data-increment="0.0005" data-min="0.01" data-max="0.06"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-InflationConsumerPriceIndex">
                            <th>Inflation (CPI)</th>
                            <td><div id="CPI" class="assumptionsSlider" data-liab="" data-increment="0.0005" data-min="0.01" data-max="0.06"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-LifeExpectancy65">
                            <th>Life Expectancy Male at 65</th>
                            <td><div id="assumptionLife65" class="assumptionsSlider years1dp" data-liab="" data-increment="0.5" data-min="20" data-max="40" data-units="years"></div></td>
                            <td class="values" data-unit="yrs"></td>
                        </tr>
                        <tr id="tr-LifeExpectancy65_45">
                            <th>Life Expectancy Male at 65<br /> (currently 45)</th>
                            <td><div id="assumptionLife45" class="assumptionsSlider years1dp" data-liab="" data-increment="0.5" data-min="20" data-max="40" data-units="years"></div></td>
                            <td class="values" data-unit="yrs"></td>
                        </tr>
                        <tr id="tr-SacrificeProportion" class="greyed-out-row">
                            <th class="preventSchemeLabelOverride">Commutation allowance</th>
                            <td class="greySlider"><div id="sacrificeProp" class="assumptionsSlider wholenumber readonly" data-liab="" data-increment="0.01" data-min="0" data-max="1"></div></td>
                            <td class="values" data-unit="%" data-precision="0"></td>
                        </tr>
                    </table>
                    <table id="gilt-yield-index-table" class="assumptionsTable">
                        <tr id="trSpace" class="">
                            <th></th>
                            <td></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr id="trGiltYieldIndex" class="">
                            <td class="td-as-th"></td>
                            <td class=""></td>
                            <td class="values"></td>
                        </tr>
                    </table>
                </div>

                <div id="analysis_pensionIncreases" class="panelTab">
                    <table id="pension-increase-assumptions-table" class="assumptionsTable maxRow300">
                        <tr id="tr-1" class="no-border-top">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_1" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-2">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_2" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-3">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_3" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-4">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_4" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-5">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_5" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                        <tr id="tr-6">
                            <th></th>
                            <td class="greySlider"><div id="pensionIncrease_6" class="assumptionsSlider readonly" data-increment="0.0001" data-min="0" data-max="0.1"></div></td>
                            <td class="values" data-unit="%"></td>
                        </tr>
                    </table>
                    <div class="topspace-20">
                        <input type="checkbox" id="pension-increases-lock" /> Pension increases locked
                    </div>
                </div>
            </div>
            <!--tabs-->
            <br />
            <button id="resetLiabilityAssumptions" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    <div class="tabPanelColumn right fourty last">
        <div class="controlblock">
            <div class="left sixty">
                <h4>Liability breakdown</h4>
            </div>
            <div class="right fourty">
                <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
            </div>
            <div id="liabilityChartContainer" style="width: 440px; overflow: auto; margin-bottom: 10px">
                <div id="liabilityBreakdownPie" style="width: 240px; height: 200px; float: left; padding-left: 20px;"></div>
            </div>
            <h4 class="futureServiceRelated @(ViewBag.FutureServiceEnabled ? " " : " hide")">Future service (1 year)</h4>
            <table class="assumptionsTable futureServiceRelated @(ViewBag.FutureServiceEnabled ? " " : " hide")">
                <tr>
                    <th>Total annual cost<br />(excluding expenses, insurance and levies)</th>
                    <td></td>
                    <td class="values futureBenefitsAnnualCost"></td>
                </tr>
                <tr>
                    <th>Total contribution rate</th>
                    <td></td>
                    <td class="values futureBenefitsContributionRate"></td>
                </tr>
                <tr>
                    <th>Employee rate</th>
                    <td></td>
                    <td class="values futureBenefitsEmployeeRate"></td>
                </tr>
                <tr>
                    <th>Employer rate</th>
                    <td></td>
                    <td class="values futureBenefitsEmployerRate"></td>
                </tr>
            </table>

        </div>
    </div>

    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>
            <li>Unlocking pension increase assumptions means they will no longer be a function of liability inflation assumptions.</li>
            <li>Re-locking the pension increases will bring them back under the effect of inflation and their values will be re-calculated based on the current inflation assumptions.</li>
            <li>Fixed pension increases cannot be unlocked.</li>
        </ul>
    </div>
</div>
