﻿<div id="analysis_assets" class="grid">
    <div class="panelTitle">
        <h3>Asset assumptions</h3>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock" style="position:relative;">
            <div class="left fifty">
                <h4>Asset breakdown</h4>
            </div>
            <div class="right fifty">
                <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
            </div>
            <div class="legend-pie">
                <div id="assetBreakdownPie" style="height: 230px; width: 350px; position:absolute; z-index:2; left:200px;"></div>
            </div>
            <div id="hedgedCashflowsTable-container">
                <table id="hedgedCashflowsTable" class="assumptionsTable">
                    <tr class="head">
                        <th><h4>Hedge summary</h4></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Interest rate</td>
                        <td class="values" style="white-space: nowrap">
                            <span id="hedged_currentBasis_interest_rate" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_interest_rate" class="charcoalgreycolor"></span> of cashflows)
                        </td>
                    </tr>
                    <tr>
                        <td>Inflation</td>
                        <td class="values" style="white-space: nowrap">
                            <span id="hedged_currentBasis_inflation" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_inflation" class="charcoalgreycolor"></span> of cashflows)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock leftborder">
            <div class="left eighty">
                <h4>Current Investment Return <small>(relative to gilts)</small></h4>
            </div>
            <div class="right twenty">
                <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
            </div>

            <table id="assetAssumptionsTable" class="assumptionsTable"></table>
            <button id="resetAssetAssumptions" class="reset right" style="margin:20px 0">Reset</button>
        </div>
    </div>

    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>
            <li>The weighted asset return excludes any allowance for insurance assets (e.g. buy-ins) held by the scheme</li>
        </ul>
    </div>

</div>

