﻿<div class="grid">
    <div class="panelTitle">
        <h3>Enhanced Transfer Value (ETV)</h3>
        <p>To find out more about Enhanced Transfer Values, please visit the @Html.ActionLink("KPMG", "MemberOptions", "Solutions2", null, new { target = "_blank" }) site.</p>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock">
            <h4>Parameters</h4>
            <table id="etvInputTable" class="assumptionsTable">
                <tr>
                    <th>Deferred liability for members aged under 55</th>
                    <td></td>
                    <td id="etvDeferredLiabilities" class="values"></td>
                </tr>
                <tr>
                    <th>Equivalent Transfer Value</th>
                    <td><div id="etvEquivalentTransferValue" class="assumptionsSlider total poundsMillionsRoundUp2dp" data-min="0" data-units="int"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Size of Transfer Value (% of liabilities)</th>
                    <td></td>
                    <td id="etvCetvSize" class="values"></td>
                </tr>

                <tr>
                    <th>Enhancement to Transfer Value</th>
                    <td><div id="etvEnhancementToCetv" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"></td>
                </tr>

                <tr>
                    <th>Equivalent ETV</th>
                    <td></td>
                    <td id="etvEquivalentEtv" class="values"></td>
                </tr>
                <tr>
                    <th>Take up rate</th>
                    <td><div id="etvTakeUpRate" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"></td>
                </tr>
            </table>
            <br />
            <button id="resetEtv" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock leftborder">
            <h4 class="">Results</h4>
            <table id="etvOutputTable" class="assumptionsTable">
                <tr>
                    <th>Transfer Value paid</th>
                    <td id="etvCetvPaid" class="values"></td>
                </tr>
                <tr>
                    <th>Enhanced Transfer Value paid</th>
                    <td id="etvEtvPaid" class="values"></td>
                </tr>
                <tr>
                    <th>Liability discharged</th>
                    <td id="etvLiabilityDischarged" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Cost to the Company</th>
                    <td id="etvCostToCompany" class="values"></td>
                </tr>
                <tr>
                    <th>Change in funding position</th>
                    <td id="etvChangeInPosition" class="values"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>
            <li>Size of the Transfer Value (% of liabilities) and the Enhancement to Transfer Value are usually age dependent rather than fixed (as illustrated here)</li>
            <li>Any cost difference between the Transfer Value and Enhanced Transfer Value is assumed to be met by the Company - in practice this will be discussed with the Trustees as part of the Enhanced Transfer Value exercise</li>
            <li>Member option exercises should comply with 'Code of Practice'</li>
            <li>Figures exclude any advisor costs of implementation</li>
            <li>One off P&amp;L impacts of member option exercise excluded from estimates shown under Accounting (if applicable)</li>

        </ul>
    </div>
</div>
