﻿<div class="grid">
    <div class="panelTitle">
        <h3>Flexible Retirement Option (FRO)</h3>
        <p>To find out more about Flexible Retirement Options, please visit the @Html.ActionLink("KPMG", "MemberOptions", "Solutions2", null, new { target = "_blank" }) site.</p>
    </div>
    <div class="tabPanelColumn left froPanel">
        <div class="controlblock froControlblock">
            <div class="left left-space-20"></div>
            <label class="left-space-20">
                <input id="froOptionBulk" type="radio" name="froOption" value="fro" checked data-default="selected"><span class="radiooverlay" style="margin-top: -3px"></span>
                <span class="froRadioLabel">Bulk Exercise</span>
            </label>
        </div>
        <div id="froBulkControls" class="controlblock left-space-20">
            <h4>Parameters</h4>
            <table id="froInputTable" class="assumptionsTable">
                <tr>
                    <th colspan="2">Deferred liability for members aged 55 and over</th>
                    <td id="froDeferredLiabilities" class="values"></td>
                </tr>
                <tr>
                    <th>Take up rate</th>
                    <td><div id="froTakeUpRate" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Equivalent Transfer Value</th>
                    <td><div id="froETV" class="assumptionsSlider total poundsMillionsRoundUp1dp" data-min="0" data-max="1" data-units="int"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Size of Transfer Value (% of liabilities)</th>
                    <td></td>
                    <td id="froSizeOfCetv" class="values"></td>
                </tr>
            </table>
            <br />
            <h4>Results</h4>
            <table id="froOutputTable" class="assumptionsTable">
                <tr>
                    <th>Liability discharged</th>
                    <td id="froLiabilityDischarged" class="values"></td>
                </tr>
                <tr>
                    <th>Transfer Value paid</th>
                    <td id="froCetvPaid" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Change in funding position</th>
                    <td id="froFundingImprovement" class="values"></td>
                </tr>
            </table>
        </div>
        <br />
        <button id="resetFro" class="reset right" style="margin:0; margin-right: 20px;">Reset</button>
        <div>
            <ul class="panelNotes panelNotesStatic width-auto">
                <li>Important notes</li>
                <li>Size of the Transfer Value (% of liabilities) is usually age dependent rather than fixed (as illustrated here)</li>
                <li>Member option exercises should comply with 'Code of Practice'</li>
                <li>Figures exclude any advisor costs of implementation</li>
                <li>One off P&amp;L impacts of member option exercise excluded from estimates shown under Accounting (if applicable)</li>
            </ul>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock froControlblock">
            <label class="left-space-20">
                <input id="froOptionEmbedding" type="radio" name="froOption" value="eFro"><span class="radiooverlay" style="margin-top: -3px"></span>
                <span class="froRadioLabel" id="eFroRadioText">Embedding FRO</span>
            </label>
        </div>
        <div id="froEmbedControls" class="controlblock left-space-20">
            <h4>Parameters</h4>
            <table id="eFroInputTable" class="assumptionsTable">
                <tr>
                    <th>Non pensioner liability</th>
                    <td></td>
                    <td id="eFroDeferredLiabilities" class="values"></td>
                </tr>
                <tr>
                    <th>Annual take up rate</th>
                    <td><div id="eFroTakeUpRate" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="0.99"></div></td>
                    <td id="eFroNonPenLiabilities" class="values"></td>
                </tr>
                <tr>
                    <th>Size of Transfer Value (% of liabilities)<br />at retirement</th>
                    <td class="vertical-middle"><div id="eFroTransferValue" class="assumptionsSlider" data-increment="0.005" data-min="0.5" data-max="1.2"></div></td>
                    <td class="values vertical-middle"></td>
                </tr>
            </table>
            <br />
            <h4 class="">Results</h4>
            <table id="eFroOutputTable" class="assumptionsTable">
                <tr>
                    <th>Change in funding position</th>
                    <td id="eFroFundingImprovement" class="values"></td>
                </tr>
            </table>
        </div>
        <br />
        <div style="margin-top: 104px; margin-bottom: 113px">
            <button id="reseteFro" class="reset right" style="margin-right: 20px">Reset</button>
        </div>
        <div>
            <ul class="panelNotes panelNotesStatic width-auto">
                <li>Important notes</li>
                <li>Embedded FRO is not available on the buy-out basis</li>
            </ul>
        </div>
    </div>
</div>

