﻿<div class="grid">
    <div class="panelTitle">
        <h3>Future Benefits</h3>
        <!--<span class="disclaimer">Beta version release - calculations are approximate and do not impact subsequent calculations in Fusion</span>-->
        <p>To find out more about future benefit options, please visit the @Html.ActionLink("KPMG", "BenefitChanges", "Solutions2", null, new { target = "_blank" }) site.</p>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock rightborder">
            <table id="futureBenefitsInputTable" class="assumptionsTable">
                <tr>
                    <th>Total service cost (best estimate)</th>
                    <td></td>
                    <td class="values futureBenefitsServiceCost"></td>
                </tr>
                <tr>
                    <th>Total contribution rate (best estimate)</th>
                    <td></td>
                    <td class="values futureBenefitsContRateEstimate"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Impact of end of contracting-out:</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Estimated adjustment required to future benefits</th>
                    <td></td>
                    <td class="values futureBenefitsEstimatedBenefitReduction"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th colspan="3"><h4>Parameters</h4></th>
                </tr>
                <tr>
                    <th>Increase member contributions</th>
                    <td><div id="futureBenefitsIncreaseMemberContributions" class="assumptionsSlider" data-increment="0.0005" data-min="0" data-max="0.1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Amend Benefit Structure:</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="futureBenefitsNone" type="radio" name="futureBenefitsAdjustment" value="None" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Retain current benefits</label>
                    </th>
                    <td></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="futureBenefitsBenefitReductionOption" type="radio" name="futureBenefitsAdjustment" value="BenefitReduction" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Adjustment to future benefits</label>
                    </th>
                    <td><div id="futureBenefitsBenefitReduction" class="assumptionsSlider fbAdjustmentSlider" data-units="percent" data-increment="0.005" data-min="0" data-max="1" data-default="0.8"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="futureBenefitsSalaryLimitOption" type="radio" name="futureBenefitsAdjustment" value="SalaryLimit"><span class="radiooverlay" style="margin-top: -10px"></span>Salary limit</label>
                    </th>
                    <td><div id="futureBenefitsSalaryLimit" class="assumptionsSlider fbAdjustmentSlider" data-units="percent" data-increment="0.0005" data-min="0" data-max="0.05" data-default="0"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="futureBenefitsCareRevaluationOption" type="radio" name="futureBenefitsAdjustment" value="CareRevaluation"><span class="radiooverlay" style="margin-top: -10px"></span>CARE revaluation</label>
                    </th>
                    <td><div id="futureBenefitsCareRevaluation" class="assumptionsSlider fbAdjustmentSlider" data-units="percent" data-increment="0.0005" data-min="0" data-max="0.05" data-default="0"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="futureBenefitsDcImplementationOption" type="radio" name="futureBenefitsAdjustment" value="DcImplementation"><span class="radiooverlay" style="margin-top: -10px"></span>Close DB - implement DC</label>
                    </th>
                    <td><div id="futureBenefitsDcImplementation" class="assumptionsSlider fbAdjustmentSlider" data-units="percent" data-increment="0.001" data-min="0" data-max="0.4" data-default="0.05"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
            </table>
            <br />
            <button id="resetFutureBenefits" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock">
            <h4 class="">Results</h4>
            <table id="futureBenefitsOutputTable" class="assumptionsTable">
                <tr>
                    <th>Total annual cost (excluding expenses, insurance and levies)</th>
                    <td></td>
                    <td class="values futureBenefitsAnnualCost"></td>
                </tr>
                <tr>
                    <th>Total contribution rate</th>
                    <td></td>
                    <td class="values futureBenefitsContributionRate"></td>
                </tr>
                <tr>
                    <th>Employee rate</th>
                    <td></td>
                    <td class="values futureBenefitsEmployeeRate"></td>
                </tr>
                <tr>
                    <th>Employer rate</th>
                    <td></td>
                    <td class="values futureBenefitsEmployerRate"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Change in total annual cost</th>
                    <td></td>
                    <td id="futureBenefitsChangeInAnnualCost" class="values"></td>
                </tr>
                <tr>
                    <th>Change in employer rate</th>
                    <td></td>
                    <td id="futureBenefitsChangeInEmployerRate" class="values"></td>
                </tr>
                <tr>
                    <th>Change in funding position</th>
                    <td></td>
                    <td id="futureBenefitsChangeInLiabilities" class="values"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td></td>
                    <td class="values"></td>
                </tr>
                <!--
                <tr>
                    <th>Change in 5 year cost</th>
                    <td></td>
                    <td class="values futureBenefitsChangeIn5Years"></td>
                </tr>
                <tr>
                    <th>Change in 10 year cost</th>
                    <td></td>
                    <td class="values futureBenefitsChangeIn10Years"></td>
                </tr>
                -->
            </table>
        </div>
    </div>
    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>
            <li>Salary limit and Career Average Revalued Earnings (CARE) assumed to impact both past and future service benefits</li>
            <li>On closure accrued benefits assumed to get CPI revaluation before retirement</li>
            <li>DC contributions exclude additonal National Insurance costs (from moving to contracted-in status)</li>
            <!-- <li>All calculations assume active members have 10 years until they reach retirement age (use Liability Assumption panel for alternative estimate)</li> -->
            <li>Figures exclude any advisor costs of changes to benefit structure</li>
            <li>One-off P&amp;L impacts from future benefit changes are excluded from estimates shown under Accounting (if applicable), for example curtailment gain or loss on closure is not included</li>
            <li>Impact of ceasing contracting-out shown is approximate</li>
        </ul>
    </div>

</div>
