﻿<div class="grid">
    <div class="panelTitle">
        <h3>Insurance solutions</h3>
        <p class="nonBuyoutBasisContent">Please select the <span class="insuranceOutputBasisName"></span> basis to activate the controls on this panel.</p>
        <p>To find out more about Insurance solutions, please visit the @Html.ActionLink("KPMG", "InsuranceSolutions", "Solutions2", null, new { target = "_blank" }) site.</p>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock rightborder">
            <h4>Parameters</h4>
            <table class="assumptionsTable">
                <tr>
                    <th>Uninsured pensioner liability</th>
                    <td></td>
                    <td id="td-uninsured-pensioner-liability" class="values"></td>
                </tr>
                <tr>
                    <th>Uninsured non-pensioner liability</th>
                    <td></td>
                    <td id="td-uninsured-nonpensioner-liability" class="values"></td>
                </tr>
            </table>
            <br/>
            <table id="insuranceInputTable" class="assumptionsTable">
                <tr>
                    <th>Available Assets</th>
                    <td></td>
                    <td id="insurance-available-assets" class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Pensioner liability to be insured</th>
                    <td><div id="insurance-pensioner-liability-insured" class="assumptionsSlider" data-increment="0.00005" data-min="0" data-max="0.1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Pensioner liability to be insured </th>
                    <td></td>
                    <td id="insurance-pensioner-liability-insured-amount" class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Non-pensioner liability to be insured</th>
                    <td><div id="insurance-nonpensioner-liability-insured" class="assumptionsSlider" data-increment="0.00005" data-min="0" data-max="0.1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Non-pensioner liability to be insured </th>
                    <td></td>
                    <td id="insurance-nonpensioner-liability-insured-amount" class="values"><span style="color:inherit"></span></td>
                </tr>
            </table>
            <table class="assumptionsTable" style="margin-top: 20px;">
                <tr>
                    <th>Total insurance premium paid</th>
                    <td></td>
                    <td id="insurance-buyin-cost" class="values"></td>
                </tr>
                <tr>
                    <th>Impact of 20 basis point increase in implied insurer discount rate</th>
                    <td></td>
                    <td id="insurance-impact-of-50-basis" class="values"></td>
                </tr>
            </table>
            <br />
            <h4>Type of transaction</h4>
            Buy-in
            <input type="radio" name="insurance-buyin" value="true" style="opacity:1; margin-right: 30px;" checked="checked" />
            <span class="greyed-out natural" style="color: #3e3e3e; ">
                Buy-out
                <input type="radio" name="insurance-buyin" value="false" style="opacity:1" disabled="disabled" />
            </span>
            <br />
            <div class="natural left" style="margin-top: 10px;">Buy-out functionality will follow shortly</div>
            <button id="resetInsurance" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    
    <div class="tabPanelColumn right fifty last">
        <div class="controlblock">
            <h4 class="">Historic results</h4>
            <table id="insuranceOutputTable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th><span class="insuranceOutputBasisName"></span>&nbsp;basis</th>
                        <th>Start date</th>
                        <th>Strain at analysis date</th>
                        <th>Max strain since basis start date</th>
                        <th>Min strain since basis start date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p>
                Note that the figures shown in the table above do not reflect any subsequent changes to the liability assumptions or implementation of solutions (such as FRO, PIE or ETV exercises).
            </p>
        </div>   
    </div>

    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>

            <li>Size of the estimated buy-out/ buy-in liabilities are approximate and for illustrative purposes.</li>
            <li>Pricing may not reflect an accurate assessment of the cost to insure the liabilities, which will be dependent on market conditions, competitive tension and the insurers’ view of demographic assumptions. This can only be known by running a full broking process.</li>
            <li>Figures should only be viewed whilst considering the buy-out position for the scheme (i.e. with ‘Valuation Basis’ set to Buy-Out).</li>
            <li>Strains against other basis do not currently reflect the bases used for this scheme and should be used for illustrative purposes only.</li>
            <li>Figures exclude any advisor costs of implementation.</li>
            <li>Funding for the buy-out/buy-in has been taken in equal proportions from the existing assets. Should you wish to change this, this can be done via the Investment strategy panel.</li>
            <li>If you wish to fund the strain by a cash payment this can be done via the Cash Injection option in the Investment Strategy panel. The amount chosen under this option will be added to the market value of assets.</li>
        </ul>
    </div>

    <div class="left hundred charcoalgrey">
    </div>

</div>
