﻿@using System.Web.UI.WebControls
@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.Analysis.InvestmentStrategyViewModel

<div class="grid">
    <div class="panelTitle">
        <h3>Investment strategy</h3>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock" style="position: relative;">
            <h4>Asset breakdown</h4>
            <div class="legend-pie">
                <div id="assetMixPie" class="left" style="height: 230px; width: 350px; position:absolute; z-index:2; left:200px;"></div>
            </div>
            <div id="weightedReturns">
                <table id="asssetMixAssumptionsTable" class="assumptionsTable">
                    <tr>
                        <th>Current weighted asset return (relative to gilts, exc. buy-in)</th>
                        <td></td>
                        <td id="originalAssetReturn" class="values"></td>
                    </tr>
                    <tr>
                        <th>New weighted asset return (relative to gilts, exc. buy-in)</th>
                        <td></td>
                        <td id="investmentStrategryWeightedAssetReturn" class="values"></td>
                    </tr>
                    <tr>
                        <th>Change in expected return (exc. buy-in)</th>
                        <td></td>
                        <td id="changeInExpectedReturn" class="values"></td>
                    </tr>
                    <tr>
                        <th>Weighted 1-year discount rate (relative to gilts)</th>
                        <td></td>
                        <td id="investmentStrategyWeightedDiscountRateRelative" class="values"></td>
                    </tr>
                    <tr id="investmentStrategy_refGiltYieldRow">
                        <th></th>
                        <td></td>
                        <td class="values"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="nestedTable">
                            <table class="assumptionsTable">
                                <tr>
                                    <th class="cashInjectionHeader">Cash Injection</th>
                                    <td><div class='assumptionsSlider noTickMark poundsMillionsRoundUp2dp' id="cashInjectionSlider" data-classid="" data-original="0"></div></td>
                                    <td class='values'></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="tabPanelColumn right fifty last">
        <div class="controlblock leftborder">

            <div data-tabs="true" data-orientation="horizontal" id="investmentstrategydashboard" class="paneoptionspanel">
                <div class="tabHeader">
                    <div class="wrapHead">
                        <ul class="tabMenu">
                            <li><a href="#investmentstrategydashboard_assets"><h5>New investment strategy</h5></a></li>
                            <li><a href="#investmentstrategydashboard_other"><h5>Advanced options</h5></a></li>
                        </ul>
                    </div>
                </div>

                <div id="investmentstrategydashboard_assets" class="panelTab bottom-padding-twenty no-border-bottom">
                    <h4>New investment strategy <small id="customMixHint">(set sliders from top to bottom)</small></h4>
                    <table id="assetMixTable" class="assumptionsTable">
                        <thead>
                            <tr><td colspan='4' class='assetmix-empty'>&nbsp;</td><td style='border-top:none;'>% of total</td></tr>
                        </thead>
                        <tbody>
                            @foreach (var ac in Model.AssetClasses)
                            {
                                if (!ac.Disabled)
                                {
                                    <tr class="assetmix-@ac.Key">
                                        <th>@ac.Label</th>
                                        <td>
                                            @if (!ac.Readonly)
                                            {
                                                <div class='assumptionsSlider poundsMillionsRoundUp2dp' data-classid="@ac.Key" data-original=""></div>
                                            }
                                        </td>
                                        <td class='values'></td>
                                        <td class='values'></td>
                                        <td class='values assetmix-empty'></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class='greyed-out-row'><th>@ac.Label</th><td class='greySlider'><div id='assetclass-@ac.Key' class='assumptionsSlider ignore' data-original='0'></div></td><td class='values'>0.00%</td><td class='values'>@(Model.CurrencySymbol)0</td><td class='values assetmix-empty'></td></tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr><th>Subtotal</th><td></td><td class='values'>100.0%</td><td class='values'><span class="natural bold" id="assetmix-subtotal"></span></td><td class='values' id='assetMixExistingProportion'></td></tr>
                        </tfoot>
                    </table>

                    <br />
                    <h4>Other assets</h4>
                    <table id="inusranceProductsTable" class="assumptionsTable" style="float: right;">
                        <tr><th>Buy-in</th><td>&nbsp;</td><td id="assetMixBuyin" class="values">-</td><td class="values assetmix-empty">&nbsp;</td></tr>
                        <tr><th>ABF</th><td>&nbsp;</td><td class="values" id="assetMixNewABF">-</td><td class="values assetmix-empty">&nbsp;</td></tr>
                        <tr><th>Subtotal</th><td>&nbsp;</td><td class="values"><b id="assetMixTotalOther"></b></td><td class="values" id="assetMixTotalOtherProportion"></td></tr>
                        <tr><td colspan="4" class="assetmix-empty">&nbsp;</td></tr>
                        <tr><th><b>Total assets (excluding synthetic)</b></th><td>&nbsp;</td><td class="values"><b id="assetMixTotalAssets"></b></td><td class="values"><b>100.0%</b></td></tr>
                        <tr><td colspan="4" class="assetmix-empty">&nbsp;</td></tr>
                        <tr><th><b>Total synthetic</b></th><td>&nbsp;</td><td class="values"><b id="assetMixTotalSynthetic"></b></td><td class="values" id="assetMixTotalSyntheticPercentage"></td></tr>
                    </table>
                    <div style="clear: right"></div>
                </div>
                <div id="investmentstrategydashboard_other" class="panelTab bottom-padding-twenty no-border-bottom">
                    <div class="">
                        <h4>Synthetic growth (% of assets)</h4>
                        <table class="assumptionsTable">
                            <tr>
                                <th>Synthetic Equity</th>
                                <td class=""><div id="assets-synthetic-growth-equity" class="assumptionsSlider wholePercentage" data-liab="" data-increment="0.01" data-min="0" data-max="0.5"></div></td>
                                <td class="values">0.00%</td>
                            </tr>
                            <tr>
                                <th>Synthetic Credit</th>
                                <td class=""><div id="assets-synthetic-credit" class="assumptionsSlider wholePercentage" data-liab="" data-increment="0.01" data-min="0" data-max="0.5"></div></td>
                                <td class="values">0.00%</td>
                            </tr>
                        </table>
                    </div>

                    <div class="topspace-20">
                        <h4>Liability hedging (% of cashflows)</h4>
                        <table class="assumptionsTable hedging-cashflows">
                            <tr>
                                <th>Interest Hedge</th>
                                <td class="hedging-slider"><div id="liability-hedging-interest-rates" class="assumptionsSlider hedging-cashflows wholePercentage allowUnderlyingPrecision" data-increment="0.01" data-min="0" data-max="1"></div></td>
                                <td class="values hedging-value"></td>
                            </tr>
                            <tr>
                                <th>Inflation Hedge</th>
                                <td class="hedging-slider"><div id="liability-hedging-inflation" class="assumptionsSlider hedging-cashflows wholePercentage allowUnderlyingPrecision" data-increment="0.01" data-min="0" data-max="1"></div></td>
                                <td class="values hedging-value"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="topspace-20">
                        <h4>Breakdown of hedge</h4>
                        <table id="breakdown-of-hedge">
                            <tr>
                                <td class="breakdown-of-hedge-hidden"></td>
                                <th colspan="2" id="breakdown-of-hedge-current-title"></th>
                                <th colspan="2" id="breakdown-of-hedge-cashflow-title">Cashflows</th>
                            </tr>
                            <tr>
                                <td class="breakdown-of-hedge-hidden"></td>
                                <th>Interest</th>
                                <th>Inflation</th>
                                <th>Interest</th>
                                <th>Inflation</th>
                            </tr>
                            <tr id="breakdown-of-hedge-physical-assets">
                                <th class="breakdown-of-hedge-type">Physical assets</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="breakdown-of-hedge-buyin">
                                <th class="breakdown-of-hedge-type">Buy-in</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="breakdown-of-hedge-ldi-overlay">
                                <th class="breakdown-of-hedge-type">LDI overlay</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="breakdown-of-hedge-total">
                                <th class="breakdown-of-hedge-type">Total hedge</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="topspace-20 enable-ldi">
                        <input type="checkbox" id="enableLdi" checked="checked" />
                        <label for="enableLdi">Enable LDI</label>
                    </div>
                </div>
            </div>
            <button id="resetAssetMix" class="reset right" style="margin:10px 0px">Reset</button>
        </div>

    </div>
    <div class="left">
        <ul class="panelNotes panelNotesStatic no-spacing-bottom no-padding-top">
            <li>Important notes</li>

            <li>All calculations are very high level and based on simple statistical analysis</li>
            <li>The weighted 1-year discount rate is the expected unwind of the discount rate over the next year.  It is calculated from the proportion of the non-pensioner liability multiplied by the pre-retirement discount rate and the pensioner liability multiplied by the pensioner discount rate.  It does not represent the 'Single Effective Discount Rate'</li>
            <li>The weighted asset return excludes any allowance for insurance assets (e.g. buy-ins) held by the scheme</li>
        </ul>
    </div>

</div>