﻿<div class="grid">
    <div class="panelTitle">
        <h3>Pension Increase Exchange (PIE)</h3>
        <p>To find out more about Pension Increase Exchange exercises, please visit the @Html.ActionLink("KPMG", "MemberOptions", "Solutions2", null, new { target = "_blank" }) site.</p>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock rightborder">
            <h4>Liability Breakdown</h4>
            <table id="pieInputTable" class="assumptionsTable">
                <tr>
                    <th>Total pensioner liability</th>
                    <td></td>
                    <td id="piePensionerLiability" class="values"></td>
                </tr>
                <tr>
                    <th>Liability excluding level pensions</th>
                    <td></td>
                    <td id="pieLiabilityExcludingLevelPensions" class="values"></td>
                </tr>
                <tr>
                    <th>Value of total pension increases</th>
                    <td></td>
                    <td id="pieValueOfPensionIncreases" class="values"></td>
                </tr>
                <tr>
                    <th><h4 style="margin-top: 20px;">Eligible for Exchange</h4></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Proportion eligible</th>
                    <td><div id="pieEligibleLiabilityPerc" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Liability eligible:</th>
                    <td></td>
                    <td id="pieEligibleLiability" class="values"></td>
                </tr>
                <tr>
                    <th class="tabgap20">Value of level pensions</th>
                    <td></td>
                    <td id="pieLiabilityWithIncsRemoved" class="values"></td>
                </tr>
                <tr>
                    <th class="tabgap20">Value of future increases</th>
                    <td></td>
                    <td id="pieValueOfFutureIncreases" class="values"></td>
                </tr>
                <tr>
                    <th><h4 style="margin-top: 20px;">Offer</h4></th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Cost neutral uplift to current pensions</th>
                    <td></td>
                    <td id="pieCostNeutralUplift" class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Average actual uplift to be offered</th>
                    <td><div id="pieActualUplift" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
                <tr>
                    <th>Deal proportion (member's share)</th>
                    <td></td>
                    <td id="pieValueShared" class="values"></td>
                </tr>
                <tr class ="row-space-top">
                    <th>Take up rate</th>
                    <td><div id="pieTakeUpRate" class="assumptionsSlider" data-increment="0.005" data-min="0" data-max="1"></div></td>
                    <td class="values"><span style="color:inherit"></span></td>
                </tr>
            </table>
            <br />
            <button id="resetPie" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock">
            <h4 class="">Results</h4>
            <table id="pieOutputTable" class="assumptionsTable">

                <tr>
                    <th>Liability before PIE</th>
                    <td></td>
                    <td id="piePensionerLiability2" class="values piePensionerLiability"></td>
                </tr>
                <tr>
                    <th>Liability after PIE</th>
                    <td></td>
                    <td id="pieLiabilityAfterPie" class="values"></td>
                </tr>
                <tr>
                    <th>Change in funding position</th>
                    <td></td>
                    <td id="pieChangeInLiabilities" class="values"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>

            <li>Figures shown only apply to pensioner members</li>
            <li>Pension Increase Exchange can also be an embedded option for members at retirement</li>
            <li>Calculation of liability without increases is a high level estimate</li>
            <li>Member option exercises should comply with 'Code of Practice'</li>
            <li>Figures exclude any advisor costs of implementation</li>
            <li>One off P&amp;L impacts of member option exercise excluded from estimates shown under Accounting (if applicable)</li>
            <li>The income from insurance policies is not impacted by a Pension Increase Exchange exercise</li>
            <li>Proportion eligible is broadly the pension before 1997 after removing non-statutory increases</li>
        </ul>
    </div>
</div>
