﻿<div id="analysis_recoveryplan" class="grid">
    <div class="panelTitle">
        <h3>Recovery plan</h3>
    </div>
    <div class="tabPanelColumn left fifty">
        <div class="controlblock">
            <h4>Outperformance type</h4>
            <table id="outperformanceTypeTable" class="assumptionsTable">
                <tr>
                    <th>
                        <label><input id="recoveryPlanGrowthFixed" type="radio" name="performancetype" value="GrowthFixed" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Fixed asset return</label><span id="recoveryPlanInvestmentGrowthAsterix" class="asterix_warning" style="visibility:hidden"> *</span>
                    </th>
                    <td><div id="recoveryPlanInvestmentGrowth" class="assumptionsSlider assumptionsSliderWithSoftLimit" data-original="0.005" data-units="percent" data-increment="0.0005" data-min="0" data-max="0.10"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="recoveryPlanGrowthNotFixed" type="radio" name="performancetype" value="GrowthNotFixed"><span class="radiooverlay" style="margin-top: -10px"></span>Discount rate plus</label><span id="recoveryPlanDiscountIncrementAsterix" class="asterix_warning" style="visibility:hidden"> *</span>
                    </th>
                    <td><div id="recoveryPlanDiscountIncrement" class="assumptionsSlider assumptionsSliderWithSoftLimit" data-original="005" data-units="percent" data-increment="0.0005" data-min="0" data-max="0.04"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th></th>
                    <td>&nbsp;</td>
                    <td class="values"></td>
                </tr>
            </table>
            <div id="outperformance-warning" style="visibility:hidden; margin-top: -20px">
                <span>* Outperformance exceeds recommended maximum</span>
            </div>
            <br />
            <br />
            <h4>Scheme information</h4>
            <table class="assumptionsTable">
                <tr>
                    <th>Weighted asset return</th>
                    <td></td>
                    <td id="absoluteAssetReturn" class="values"></td>
                </tr>
                <tr>
                    <th>Weighted asset return (relative to gilts)</th>
                    <td></td>
                    <td id="recoveryPlanWeightedAssetReturn" class="values"></td>
                </tr>
                <tr>
                    <th>Weighted 1-year discount rate</th>
                    <td></td>
                    <td id="recoveryPlanWeightedDiscountRate" class="values"></td>
                </tr>
                <tr>
                    <th>Weighted 1-year discount rate (relative to gilts)</th>
                    <td></td>
                    <td id="recoveryPlanWeightedDiscountRateRelative" class="values"></td>
                </tr>
                <tr id="recoverPlan_refGiltYieldRow">
                    <th></th>
                    <td></td>
                    <td class="values"></td>
                </tr>
            </table>


        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="controlblock leftborder">
            <h4 class="">Recovery plan</h4>
            <table id="recoveryPlanTable" class="assumptionsTable">
                <tr>
                    <th>Length (years)</th>
                    <td><div id="recoveryPlanLength" class="assumptionsSlider yearsNoUnits" data-units="int" data-increment="1" data-min="1" data-max="40"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Increase</th>
                    <td><div id="recoveryPlanIncreases" class="assumptionsSlider" data-units="percent" data-increment="0.0005" data-min="0" data-max="0.05"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Lump sum amount</th>
                    <td><div id="recoveryPlanLumpSumPayment" class="assumptionsSlider total poundsMillionsRoundUp2dp" data-increment="500000" data-min="0" data-units="int"></div></td>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>Commencement (months)</th>
                    <td><div id="recoveryPlanStartMonth" class="assumptionsSlider months" data-units="int" data-increment="1" data-min="0" data-max="24" data-original="12"></div></td>
                    <td class="values"></td>
                </tr>

            </table>
            <br />
            <br />
            <h4>Recovery plan calculations to be used in Fusion</h4>
            <table id="rpStrategyTable" class="assumptionsTable">
                <tr>
                    <th>
                        <label><input id="recoveryPlanExistingStrategy" type="radio" name="recoveryPlanStrategyType" value="Current" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Use current recovery plan only</label>
                    </th>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="recoveryPlanNewStrategy" type="radio" name="recoveryPlanStrategyType" value="NewDynamic" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Use new recovery plan and recalculate after any changes</label>
                    </th>
                    <td class="values"></td>
                </tr>
                <tr>
                    <th>
                        <label><input id="recoveryPlanHybridStrategy" type="radio" name="recoveryPlanStrategyType" value="NewFixed" checked data-default="selected"><span class="radiooverlay" style="margin-top: -10px"></span>Fix the new recovery plan</label>
                    </th>
                    <td class="values"></td>
                </tr>
            </table>



            <button id="resetRecoveryPlan" class="reset right" style="margin:0">Reset</button>
        </div>
    </div>


    <div class="left">
        <ul class="panelNotes panelNotesStatic">
            <li>Important notes</li>

            <li>The outperformance should not exceed the expected return on the scheme's assets</li>
            <li>The outperformance is only used in the calculation of the Recovery Plan and does not impact the Funding Progression of the pension scheme</li>
            <li>The weighted 1-year discount rate is the expected unwind of the discount rate over the next year.  It is calculated from the proportion of the non-pensioner liability multiplied by the pre-retirement discount rate and the pensioner liability multiplied by the pensioner discount rate.  It does not represent the 'Single Effective Discount Rate'</li>
            <li>The weighted asset return excludes any allowance for insurance assets (e.g. buy-ins) held by the scheme</li>
        </ul>
    </div>



</div>