/*
*	accordion.css
*	Profero Ltd. 2013
*/

/*Accordion Styles*/

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0;
}

.ui-accordion .ui-accordion-content {
	border: 1px solid #aaaaaa;
	/*background: #ffffff;*/
	color: #434546;
}

.ui-accordion .ui-state-default, 
.ui-accordion .ui-widget-content .ui-state-default, 
.ui-accordion .ui-widget-header .ui-state-default {
	/*
	border: 1px solid #d3d3d3;
	background: #e6e6e6;*/
	font-weight: normal;
	color: #0d89c7;
	opacity: 0.4;

	background: url('../images/accordionarrows.png') 0 -1px no-repeat;
	padding-left: 30px!important;
	line-height: 17px!important;
	font-size: 17px!important;
	padding-bottom: 5px!important;
}

.ui-accordion .ui-state-active, 
.ui-accordion .ui-widget-content .ui-state-active, 
.ui-accordion .ui-widget-header .ui-state-active {
	/*
	border: 1px solid #aaaaaa;
	background: #ffffff;*/
	font-weight: normal;
	color: #0d89c7;
	opacity: 1;

	background: url('../images/accordionarrows.png') 0 -189px no-repeat;
	padding-left: 30px!important;
	
}

.ui-accordion .ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	margin-bottom: 12px;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
	padding-top: 0;
	padding-bottom: 0;	
}

.accordioncontainer h3{
	margin-bottom: 15px;
	font-family: "expert_sansbold", Arial;
	font-size: 17px;	
}