﻿/**************/
/* paging     */
/**************/
.paging span {
    margin-right: 10px;
    font-weight: bolder;
    color: #3e3e3e;
}
.paging a {
    margin-right: 10px;
}
.paging #paging-next {
    margin-left: 20px;
}

input[type=checkbox] {
	opacity: 1!important;
}
﻿.contents-full-admin {
		width: 1200px;
        padding-top: 120px;
		margin: 0 auto;
	}
#import_history_table tr th, #import_history_table td {
    text-align: center;
    padding-right: 10px;
}
#import_history_table tr th.leftcol, #import_history_table tr td.leftcol {
    text-align: left;
}
#import_history_table tr td.gap, #import_history_table tr th.gap {
    padding-left: 20px;
}

.left-spaced-table th, .left-spaced-table td {
    text-align: left;
    padding: 2px 6px;
}

.remove-scheme {
    border: 0;
}
.remove-scheme img {
    width: 22px; 
    height: 22px; 
    vertical-align: middle; 
    margin-right:8px;
    position: relative; 
    top: -3px;        
}
.remove-scheme-smaller img {
    width: 16px; 
    height: 16px; 
    vertical-align: middle; 
    margin-right:4px;
    position: relative; 
    top: -2px;
}

.right-continuation {
    margin-top: 36px;
}

.scheme-import-error {
    color: red!important;
    border: 1px solid pink!important;
    font-size: 14px!important;
    background-color: mistyrose!important;
    margin: 0px!important;
    padding: 0px!important;
    width: 400px;    
}
.scheme-import-error div {
    background-color: mistyrose!important;
    padding: 5px!important;
}
.scheme-import-error span.import-error-header {
    text-decoration: underline;
    color: red;
}


#dialog-user-delete-confirm {
    background: white!important;
    padding: 5px 10px 25px 10px;
    min-height: 0px!important;
}
#dialog-user-delete-confirm h3 {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bolder;
}
#dialog-user-delete-confirm p {
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/*********************/
/*  User list styles */
/**********/
#user-list-header-row {
    margin-bottom: 8px;
    /*overflow: auto;*/
	width: 100%;
    height: 36px;
}
#h2-user-list {
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    color: #3e3e3e;
    width: 20%;
}
#user-list-search-tools {
    font-size: 14px;
    line-height: 32px;
    width: 80%;
    padding-top: 3px;
}
#user-list-filters {
    display: none;
}
#user-list-filters-toggle {
    color: #3e3e3e;
    padding: 3px 5px 3px 5px;
    margin: 0px;
    background-color: #eaeaea;
}
#user-list-filters-toggle:hover, #user-list-filters-toggle.selected {
    margin-right: -1px;
    padding-left: 4px;
    background-color: #cfcfcf;
    border: 1px solid #3e3e3e;
}
#user-list-search-tools select {
    display: initial;
    width: initial;
    height: initial;
}
#user-list-search-tools label {
    margin-left: 10px;
    margin-right: 10px;
    display: initial;
    color: #3e3e3e;
}
#scheme-filter {    
    display: initial;
    width: 30%;
    height: initial;
}
.scheme-filter-inactive {
    color: #ccc;
}
#tbl-user-list tr, #tbl-user-list tr td {
    vertical-align: top;
}
#tbl-user-list tr th input {
    margin: 0;
}
#tbl-user-list tr td.user-select.hidden input {
    display: none;
}
#tbl-user-list tr td.user-select input {
    margin: 0;
    display: inline;
}
#tbl-user-list tr:hover td:first-child input {
    display: inline;
}
#user-action-panel {
    min-height: 30px;
    margin: 0px 0px 3px 0px;
    padding: 0;
}
#user-bulk-actions {
    display: none;
    margin: 0;
    padding: 0;
}
#user-bulk-actions a {
    margin: 0;
    text-decoration: underline;
}
.scheme-list-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;    
    background-repeat: no-repeat;	
}
.scheme-list-toggle-collapsed .scheme-list-icon {
    background-image: url("/Images/arrow-right-tiny.png");
}
.scheme-list-toggle-expanded .scheme-list-icon {
    vertical-align: text-bottom;
    background-image: url("/Images/arrow-up-tiny.png") 
}
.scheme-list {
    margin-top: 3px;
}
.user-list-sort-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;    
    background-repeat: no-repeat;	
    vertical-align: middle;
}
.user-list-sort-icon-asc {
        background-image: url("/Images/arrow-up-tiny.png");
}
.user-list-sort-icon-des {
        background-image: url("/Images/arrow-down-tiny.png");
}
#user-list-footer {
    min-height: 30px;
    margin-bottom: 20px;
}
table#indices-all {
    border-spacing: 5px;
    border-collapse: separate;
}
table#indices-all tr th {
    text-align: left;
}
table#indices-all tr td.date {
    text-align: left;
    padding-right: 10px;
    vertical-align: top;
}
table#indices-all tr td.index {
    cursor: pointer;
}
table#indices-all tr td img {
    border: 0;
    margin-right: 2px;
    height: 12px;
    width: 12px;
}
table#indices-all tr td.index table {
    margin-top: 5px;
    font-size: 0.8em;
    margin-left: 40px;
    border-spacing: 3px;
    border-collapse: separate;
}
table#indices-all tr td.index table tr td {
    padding-right: 15px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{
    #tbl-user-list tr td.user-select.hidden input {
        margin: 0;
        display: inline;
    }
}

.scheme-button-action-container {
    width: 230px; 
    overflow: auto;
    height: 50px;
}

.scheme-button-action-container input {
    margin-right: 4px !important;
    font-size: 13px !important;
    font-family: "Lato", sans-serif !important;
    line-height: 16px;
}

.scheme-button-action-container a {
    margin-right: 0px !important;
    font-size: 13px !important;
    font-family: "Lato", sans-serif !important;
    display: inline-block;
    line-height: 16px;
    vertical-align: bottom;
}

button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner,
a.button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
