/*
*	analysis.css
*	Space01 Ltd. 2013
*/

/*analysis Styles*/

	#exploreoptions h3{
		font-size:16px;
		margin-bottom: 16px;
	}


	#plans.horizontalmode ul.tabMenu li{
		width: 16.66%;
		margin-right: 0;
		height: 100px;
	}


	#plans.horizontalmode .panelTab{
		padding:100px;
	}
	
	#plans.horizontalmode ul.tabMenu li a{
		background: #0f7bb9;
		padding-top: 45px;
		padding: 40px 14px;
		text-align: center;
	}
	
	#plans.horizontalmode ul.tabMenu li a h5{
		color: rgba(255,255,255,0.8);
	}
	
	#plans.horizontalmode ul.tabMenu li.ui-state-active a h5{
		color:#ffffff;
	}
	
	#plans.horizontalmode ul.tabMenu li.ui-state-active a{
		background: #007c92;
	}
	
	#plans.horizontalmode ul.tabMenu li.ui-state-active{
		background: #007c92;
		margin-right: 0;
		background-image: url("../images/activetab.png");
		background-repeat: no-repeat;
		background-position: 50% 101px;	
	}
	
	#plans.horizontalmode .tabHeader{
		margin-bottom:0;
	}
		
	
	.highrisk{
		color: #9e3039!important;
	}

    #journeyplan {
        padding-bottom: 10px;
    }

	#journeyplan h2,
	#exploreoptions h2{
		margin-bottom:0;
	}

	.reactionpane{
		position: relative;
		width: auto;
	}


	.articleholder {
		width: auto;
		height: 418px;
		overflow: hidden;
		position: relative;
	}

	.reactionpane .block,
	.articleholder .block{
		margin-right:0;
	}

	.articleholder .block{
		margin-bottom: -999px;
		padding-bottom: 999px;
		height: 355px;
	}

	.coupon{
		padding:60px;
	}

	.coupon h2,
	.coupon p{
		margin-bottom:25px;
	}
	
	.coupon h2{
		font-size: 28px;
		line-height: 28px;
	}

	.reactionpane{
		height: 160px;
	}

	.reactionpane .block{
		padding: 45px 60px;
	}

	.reactionpane button{
		margin-right:0;
	}


	.pieblock{
		padding: 60px;
		background-image: url("../images/indicator_white.png");
		background-repeat: no-repeat;
		background-position: 0 165px;
	}
	
	.addtoplan{
		background: #3e3e3e;
	}
	.removefromplan{
		background: #3e3e3e;
	}
	.accountingwrapper h3{
		padding-bottom: 15px;
	}
	.accountingwrapper ul.documents li{
		height: 39px;
		margin-bottom: 17px;
	}	
	
	.pictorial{
		background: url("../images/viewaccounticon.png") 0 0 no-repeat;
		height: 31px;
		width: 47px;
		display: block;
		margin: 0 auto;
		margin-bottom: 19px;
		margin-top: 15px;
	}
	
	.horizontalmode ul.tabMenu li.lastelement .container{
		height: 99px;
		text-align: center;
	}
	
	#opts.horizontalmode ul.tabMenu li .iconbadge {
		height: 50px;
	}
	
	#opts.horizontalmode ul.tabMenu li .iconbadge h2 {
	    margin: 8px 20px;
	    color: white;
	}

	
	#opts.horizontalmode .panelTab{
		padding: 0;
	}
	
	.spacerblock{
		height: 60px;
	}
	
  
	.cornerstone{
		position: absolute;
		top:0;
		left:0;
		background: url("../images/cornerstone.png") 0 0 no-repeat;
		color:#ffffff;
		height: 115px;
		width: 115px;
	}
	
	.cornerstone .text{
		transform:rotate(-45deg);
		-ms-transform:rotate(-45deg); /* IE 9 */
		-webkit-transform:rotate(-45deg); /* Safari and Chrome */
		font-size: 11px;
		margin-left: -35px;
		margin-top: 40px;
		text-align: center;
		color: #393939;
		text-transform: uppercase;
	}

    .controlblock {
        padding: 20px;
        height:100%;
    }

    .controlblock.leftborder {
        border-left: 1px solid #dfdfdf;
    }

    .controlblock.rightborder {
        border-right: 1px solid #dfdfdf;
    }

    .froControlblock {
        padding: 10px 0 6px 0 !important;
        overflow: auto;
    }
    
    .froRadioLabel {
        color: inherit;
        margin-left: -16px;
        font-size: 22px;
    }

    .fro-disabled-text {
        color: #999 !important;
    }

    .fro-disabled-button {
        background-color: #999 !important;
    }

    div.froPanel {
        border-right: 1px solid #dfdfdf;
        width: 49.5%;
    }

    .width-auto {
        width: auto !important;
    }

    .froHeadingMargin {
        margin-bottom: 0px !important;
        margin-left: -15px !important;
    }

    .panelTitle {
        margin: 0px 0px 10px 20px;
        padding: 0px 0px 0px 0px;
        width: 1160px;
        border-bottom: 1px solid #ddd;
    }
    .panelTitle h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .panelTitle h3 .disclaimer {
        font-size: 14px;
        color: #3e3e3e;
        font-weight: normal;
        margin-left:5px
    }

    .panelNotes {
        position: absolute;
        bottom: 40px;
        color: #777;
        font-size: 10pt;
        list-style-type: none;
        margin:10px;
        padding: 10px;
        width: 1160px;
    }
    .panelNotes li {
        padding: 2px;
    }

    .panelNotes li:first-child
    {
        border-bottom: 1px solid #ddd;
        color: #3e3e3e;
    }

    .panelNotes.panelNotesStatic {
       position:static;
       padding:40px 10px 10px 10px;
    }

    .degrayed {
        opacity: 0.3;
    }

    .analysis-video-panel {
        width:500px;
        padding:70px;
        margin:0 auto 0 auto;
    }


    .lensSubTabs {
        margin-top: 20px;
    }

    .lensSubTabs h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: normal;
        font-family: Lato, sans-serif;
        color: #3e3e3e;
    }





    .lensSubTabs ul {
        margin: 0 12px 0 0;
        float:right;
        text-align: right;
    }
 

    .lensSubTabs li {
        list-style-type: none;
        display: inline-block;
        border-radius: 2px;
        padding: 0;
    }
    
    .lensSubTabs li a {
        color: #3e3e3e;
        display: inline-block;
        padding: 5px 10px;
    }


    .lensSubTabs li:hover {
        background-color: #bbb;
    }
    .lensSubTabs li:hover a { 
        color: white;
    }




    .lensSubTabs li.ui-tabs-active {
        background-color: #0f7bb9;
    }

    
    .lensSubTabs li.ui-tabs-active a {
        color: white;
    }

    
    img.panelChanged {
        padding-left: 4px; 
        padding-bottom: 0px;
        margin: 0px;
        height: 14px; 
        width: 14px; 
    }

    .analysis-footer-section-header {
        margin:0 0 20px 0;
    }

    .analysis-footer-section {
        margin:0 0 20px 0;
    }

    table#insuranceOutputTable {
    
        width: 100%;
    }
    table#insuranceOutputTable th {
        background-color: rgba(152, 198, 234, 0.45); /* #98C6EA; */
        vertical-align: top;
        padding: 5px;
        border-style: solid;
        border-width: thin;
        border-color: #DDDDDD;
    }
    table#insuranceOutputTable th {
        text-align: center;
    }
    table#insuranceOutputTable tr td {
        text-align: right;
        padding-right: 10px;
    }
    table#insuranceOutputTable tr th:first-child, table#insuranceOutputTable tr td:first-child {
        text-align: left;
        width: 150px;
    }
    table#insuranceOutputTable td {
        padding: 5px;
        border-style: solid;
        border-width: thin;
        border-color: #DDDDDD;
    }
    .insuranceOutputBasisName{
        color: #3E3E3E;
    }

#analysisdashboard .ui-state-disabled {
    opacity: 0.3;
}

td.assetmix-empty {
    border: none;
}
tr.greyed-out-assetmix-row th, tr.greyed-out-assetmix-row td:not(:last-child) {
        background-color: lightgray;
    }
tr.greyed-out-assetmix-row th:first-child {
    padding-left: 5px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
tr.greyed-out-assetmix-row td:nth-last-child(2) {
    padding-right: 5px;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.field-validation-error {
    background-color: mistyrose;
    color:red!important;
    padding:0 4px;
    border: 1px solid pink;
    float:right;
}

.scenario-first {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
}

.remove-scenario {
    border: 0;
}
.remove-scenario img {
    width: 22px; 
    height: 22px; 
    vertical-align: middle;     
}

#scenario-save-btn {
    background-image: url("../images/save-scenario-icon-small.png"); 
    background-color: #0f7bb9; 
    background-repeat: no-repeat; 
    background-position: 5px 4px; 
    display:inline-block;
	border-radius:2px;
	font-size:11px;
	text-align:center;
	color: #ffffff;
	border:0;
	padding: 6px 6px 6px 26px;
	cursor:pointer;
}
#scenario-save-count {
    font-weight: bold;
}
#saved-scenario-hdr {
    border-top: 2px solid darkgray;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 10px;
    padding-left: 10px;
}
#scenario-download-btn {
    background-image: url("../images/downloadIcon.png"); 
    background-color: #0f7bb9; 
    background-repeat: no-repeat; 
    background-position: 5px 4px; 
    display:inline-block;
	border-radius:2px;
	font-size:11px;
	text-align:center;
	color: #ffffff;
	border:0;
	padding: 6px 6px 6px 26px;
	cursor:pointer;
}
/* accounting disclosure datepicker dialog */
.accounting-dialog-datepicker {
    position: fixed;
    min-width: 390px;
}
.accounting-dialog-datepicker .dialog-body {
    text-align: center;
    padding: 10px 0px 10px 10px;
}
.accounting-dialog-datepicker .ui-dialog-titlebar {
    background: white!important;
    min-height: 22px;
}
.accounting-dialog-datepicker .ui-dialog-titlebar-close {
    background: white!important;
    background-color: white!important;
    background-image: url("../images/btn-importantmessage-close-small.png")!important;
    float:right;
    border-radius: 0px;
    background-position: center;
    margin-right: 0px;
    margin-top: 0px;
    outline-width: 0px!important;
}
.accounting-dialog-datepicker .ui-dialog-content {
    background: white!important;
    padding: 5px 10px 15px 10px!important;
    min-height: 0px!important;
}
.accounting-dialog-datepicker .ui-dialog-content h3 {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bolder;
}
.accounting-dialog-datepicker .ui-dialog-content p {
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.accounting-dialog-datepicker .ui-dialog-buttonpane {
    background: white!important;
    background-color: white!important;
    padding: 0px 10px 10px 10px;
    text-align: center;
}
.accounting-dialog-datepicker .btn-dialog-cancel {
    background-color: #3e3e3e;
}
.accounting-dialog-datepicker .ui-dialog-buttonpane span {
    color: #ffffff !important;
}
.accounting-dialog-datepicker input {
    border: 0; 
    margin: 0px;
    background-color: transparent;
    font-size: 26px;
    font-weight: normal;
    color: #0f7bb9;
    width: 130px;        
}
.accounting-dialog-datepicker .ui-datepicker-trigger {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.accounting-dialog-datepicker .divider {
    margin: 10px 20px 0px 20px;
}
.accounting-dialog-datepicker .ui-dialog-buttonset {
    float: right;
}

.ui-slider-disabled a {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

#assumptionsTabs .panelTab{
    min-height: 280px;
    padding: 0px;
    border-bottom: none;
}
#assumptionsTabs{
    min-width: 409px;
}
#assumptionsTabs.paneoptionspanel.horizontalmode ul.tabMenu li.ui-state-active{
    background-image: none;
    border-top: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
    border-bottom: solid 1px #e0effb;
}
#assumptionsTabs.paneoptionspanel.horizontalmode ul.tabMenu li{
    border-top: solid 1px #e0effb;
    border-left: solid 1px #e0effb;
    border-right: solid 1px #e0effb;
    height: 30px;
    margin:0px;
}
#assumptionsTabs .no-border-top td,
#assumptionsTabs .no-border-top th{
    border-top: none;
}
#assumptionsTabs .wrapHead ul{
    padding-left: 5px;
}
#assumptionsTabs.paneoptionspanel.horizontalmode ul.tabMenu li a {
    padding: 6px 10px 0 10px;
}
#assumptionsTabs .wrapHead div.right.fourty{
    padding-top: 7px;
    height: 25px;
}
#outperformance-warning {
    margin-left: 10px;
}
#outperformance-warning span {
    font-weight: bold;
    color: red;
}
#analysis_assets .panelNotesStatic{
    position: absolute;
    bottom: 30px;
    left: 0px;
}
#hedgedCashflowsTable-container {
    margin-top: 20px;
    float: left;
    width: 100%;
}
#breakdown-of-hedge {
    width: 100%;
    border-collapse: collapse;
}
#breakdown-of-hedge tr td.breakdown-of-hedge-hidden {
    visibility: hidden;
    border: none;
}
#breakdown-of-hedge tr th, #breakdown-of-hedge tr td {
    border: 1px solid #c7c7c7;
    margin: 0px;
    padding: 5px;
}
#breakdown-of-hedge tr th.breakdown-of-hedge-type {
    text-align: left;
}
#breakdown-of-hedge tr td {
    text-align: right;
    padding-right: 10px;
}
.hedging-value .slider-text-container span {
    color: #3e3e3e;
}
.leading-hedging-cashflows {
    float: left;
    margin-left: 5px;
}
table.hedging-cashflows td.hedging-slider {
    width: 52% !important;
}
table.hedging-cashflows td.hedging-value {
    width: 48% !important;
}
.hedging-value {
    width: auto !important
}
.hedging-value > .slider-text-container {
    width: auto !important;
    margin-left: 0px !important;
}
#varPeriodSelect{
    width: 100px;
    margin:0 5px 0 5px;
}
#varChanceSelect{
    width: 205px;
    margin:0 5px 0 5px;
}
.h2{
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    font-family: Lato, sans-serif;
    color: #3e3e3e;
}

.hedging-value span.slider-text-disabled,
.hedging-value span.slider-text-disabled span {
    color: #999;
}
#recoveryPlanChartDivNAContainer-title {
    text-align: center;
    font-family: Lato, sans-serif;
    line-height: 20px;
    font-size: 18px;
    color: #3e3e3e;
    font-weight: bold;
}
#recoveryPlanChartDivNAContainer-body {
    line-height: 313px;
    vertical-align: middle;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: rgb(39, 75, 109);
}
#trGiltYieldIndex .td-as-th{
    word-wrap:normal; 
    width: 90%;
}