/*
*	baseline.css
*	Space01 Ltd. 2013
*/

/*baseline Styles*/

.baseline #surplusresult{
	padding-top:20px;
	padding-bottom:20px;
}

/*
#valuation h2,
#deficit h2{
	margin-bottom:0;
}*/

.assumptionsTable {
    width: 100%;
    border-collapse:collapse;
    padding: 50px;
}

.assumptionsTable tr.head td, .assumptionsTable tr.head th {
    border: none;
    padding-bottom: 0;
    padding-top: 0;
}

.assumptionsTable tr.head td {
    padding-left: 10px;
}

.assumptionsTable tr.gapbelow th, .assumptionsTable tr.gapabove td {
    padding-bottom: 30px;
}

.assumptionsTable th, .assumptionsTable td {
    font-weight: normal;
    border-top: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
}
.assumptionsTable th {
    text-align: left;
    padding-right: 15px;
    width: 1px;
    white-space: nowrap;
}
.assumptionsTable td.values {
    text-align: right;
    width: 70px;
}
.assumptionsTable .nestedTable{
    padding: 0;
}
.assumptionsTable .nestedTable th,
.assumptionsTable .nestedTable td{
    border: none;
}
.allowLabelOverride span {
    color: #3e3e3e;
}




.assumptionsSlider {
    margin: 7px !important;
}

.assumptionsSlider.noTickMark .ui-slider-tick-mark {
    display: none;
}

.assumptionsSlider .ui-slider-range {
    background: #98c6ea; 
}

.greySlider .assumptionsSlider .ui-slider-range {
    background: #c7c7c7!important; 
}

.assumptionsSlider .ui-slider-range-softlimitexceeded {
    background: rgb(248, 126, 120) !important;
}

#baselineTabs .panelTab{
    height: 300px;
    padding: 0px;
    border-bottom: none;
}
#baselineTabs{
    min-width: 409px;
}
#baselineTabs.paneoptionspanel.horizontalmode ul.tabMenu li.ui-state-active{
    background-color: white;
    background-image: none;
    border-top: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
    border-bottom: solid 1px white;
}
#baselineTabs.paneoptionspanel.horizontalmode ul.tabMenu li{
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    height: 30px;
    margin:0px;
}
#baselineTabs .no-border-top td,
#baselineTabs .no-border-top th{
    border-top: none;
}
#baselineTabs .wrapHead ul{
    padding-left: 110px;
}
#baselineTabs.paneoptionspanel.horizontalmode ul.tabMenu li a {
    padding: 6px 10px 0 10px;
}



