﻿
.browser-warning {
    width:620px;
    position:relative;
    margin:0 auto 0 auto;
    background:#9e3039;
    padding:0 4px 0 4px;
}

.browser-warning p {
    color:#ffffff;
    text-align:center;
}


.browser-warning p a {
    color:#ffffff;
    text-decoration:underline;
}
