

/*liability*/
	.liability .quote{
		min-height: 695px;
	}

	.liability #pensiondetails .block{
		min-height: 380px;
		padding-bottom: 1000px;
		margin-bottom: -1000px;		
	}



	.liability .ourapproach {
		margin: 0 auto;
		width: 361px;
		margin-bottom: 20px;
	}

	.liability .ourapproach .quadrant {
		position: relative;
		width: 367px;
		height: 365px;
	    left: -12px;
	}

	.liability .ourapproach .quadrant a {
		width: 100%;
		height: 100%;
		display:block;
	}	
    
    
    		


	.liability .ourapproach .quad_center {
		background: url("../images/content/ourapproach/our-process.png") 0 0 no-repeat;
		position: absolute;
		top: 103px;
		height: 168px;
		left: 102px;
		width: 167px;
	}

	.liability .ourapproach .objectives {
		background: url("../images/content/ourapproach/objectives.png") 0 0 no-repeat;
		position: absolute;
		top: 11px;
		height: 106px;
		left: 83px;
		width: 202px;
	}


  	.liability .ourapproach .offer {
		background: url("../images/content/ourapproach/offer-design.png") 0 0 no-repeat;
		position: absolute;
		top: 43px;
		height: 196px;
		left: 234px;
		width: 128px;
	}

	.liability .ourapproach .stakeholder {
		background: url("../images/content/ourapproach/stakeholder-engagement.png") 0 0 no-repeat;
		position: absolute;
		top: 211px;
		height: 148px;
		left: 181px;
		width: 169px;
	}


	.liability .ourapproach .member {
		background: url("../images/content/ourapproach/member-experience.png") 0 0 no-repeat;
		position: absolute;
		top: 212px;
		height: 151px;
		left: 19px;
		width: 173px;
	}
    

	.liability .ourapproach .monitoring {
		background: url("../images/content/ourapproach/monitoring.png") 0 0 no-repeat;
		position: absolute;
		top: 43px;
		height: 205px;
		left: 12px;
		width: 127px;
	}









/*benefit_changes*/


/*abf*/

	.abf #howwehelped .block{
		padding: 60px;
	}
	
	.abf .quote {
		min-height: 488px;
	}
	
	.abf .potentialtrusteebenefits {
		margin: 0 auto;
		width: 361px;
		margin-bottom: 20px;
	}

	.abf .potentialtrusteebenefits .quadrant {
		position: relative;
		width: 367px;
		height: 365px;
	}

	.abf .potentialtrusteebenefits .quadrant a {
		width: 100%;
		height: 100%;
		display:block;
	}			

	.abf .potentialtrusteebenefits .quad_center {
		background: url("../images/content/potentialtrusteebenefits/center.png") 0 0 no-repeat;
		position: absolute;
		top: 100px;
		height: 168px;
		left: 103px;
		width: 167px;
	}

	.abf .potentialtrusteebenefits .bond {
		background: url("../images/content/potentialtrusteebenefits/bond.png") 0 0 no-repeat;
		position: absolute;
		top: 212px;
		height: 148px;
		left: 184px;
		width: 169px;
	}

	.abf .potentialtrusteebenefits .deficit {
		background: url("../images/content/potentialtrusteebenefits/deficit.png") 0 0 no-repeat;
		position: absolute;
		top: 11px;
		height: 106px;
		left: 83px;
		width: 202px;
	}

	.abf .potentialtrusteebenefits .ppf {
		background: url("../images/content/potentialtrusteebenefits/ppf.png") 0 0 no-repeat;
		position: absolute;
		top: 213px;
		height: 151px;
		left: 21px;
		width: 173px;
	}

	.abf .potentialtrusteebenefits .unlocks{
		background: url("../images/content/potentialtrusteebenefits/unlocks.png") 0 0 no-repeat;
		position: absolute;
		top: 43px;
		height: 205px;
		left: 10px;
		width: 127px;
	}

	.abf .potentialtrusteebenefits .security {
		background: url("../images/content/potentialtrusteebenefits/security.png") 0 0 no-repeat;
		position: absolute;
		top: 43px;
		height: 196px;
		left: 235px;
		width: 128px;
	}

	.abf .potentialcompanybenefits {
		margin: 0 auto;
		width: 367px;
		margin-bottom: 20px;
	}

	.abf .potentialcompanybenefits .quadrant {
		position: relative;
		width: 367px;
		height: 365px;
	}
	
	.abf .potentialcompanybenefits .quadrant a {
		width: 100%;
		height: 100%;
		display:block;
	}	
		
	.abf .potentialcompanybenefits .quad_center {
		background: url("../images/content/potentialcompanybenefits/center.png") 0 0 no-repeat;
		position: absolute;
		top: 99px;
		height: 168px;
		left: 102px;
		width: 167px;
	}

	.abf .potentialcompanybenefits .deficit_reduction {
		background: url("../images/content/potentialcompanybenefits/deficit.png") 0 0 no-repeat;
		position: absolute;
		top: 32px;
		height: 151px;
		left: 8px;
		width: 132px;
	}

	.abf .potentialcompanybenefits .preserve_cash {
		background: url("../images/content/potentialcompanybenefits/preserve.png") 0 0 no-repeat;
		position: absolute;
		top: 4px;
		height: 106px;
		left: 98px;
		width: 177px;
	}

	.abf .potentialcompanybenefits .tax_advantage {
		background: url("../images/content/potentialcompanybenefits/tax.png") 0 0 no-repeat;
		position: absolute;
		top: 30px;
		height: 151px;
		left: 231px;
		width: 132px;
	}

	.abf .potentialcompanybenefits .manage_overfunding {
		background: url("../images/content/potentialcompanybenefits/manage.png") 0 0 no-repeat;
		position: absolute;
		top: 180px;
		height: 151px;
		left: 230px;
		width: 132px;
	}

	.abf .potentialcompanybenefits .efficient_financing{
		background: url("../images/content/potentialcompanybenefits/efficient.png") 0 0 no-repeat;
		position: absolute;
		top: 258px;
		height: 102px;
		left: 99px;
		width: 181px;
	}

	.abf .potentialcompanybenefits .maintain_asset_control{
		background: url("../images/content/potentialcompanybenefits/maintain.png") 0 0 no-repeat;
		position: absolute;
		top: 183px;
		height: 151px;
		left: 6px;
		width: 132px;
	}	

/*insurance*/

	.insurance .wheelofdirection{
		margin-top:120px;
	}
	
	.insurance #gridtransactions .block{
		padding:30px;
	}

	.insurance #gridtransactions .block.primary h3{
		margin:0;
	}
	.insurance #gridtransactions .block.secondary{
		padding-left: 80px;
	}

	.insurance .quote{
		min-height: 407px;
	}

	.insurance .quadrant{
		height: 350px;
		width: 350px;
		position: relative;
		left: -4px;
	}

	.insurance .quadrant .pensions{
		position: absolute;
		left: 7px;
		bottom: 1px;
		background: url("../images/content/cleardirection/pensions.png") 0 0 no-repeat;
		width: 171px;
		height: 171px;
	}

	.insurance .quadrant .transactions{
		position: absolute;
		right: 0;
		bottom: 3px;
		background: url("../images/content/cleardirection/transactions.png") 0 0 no-repeat;
		width: 171px;
		height: 170px;
	}


	.insurance .quadrant .bulk{
		position: absolute;
		left:7px;
		top:7px;
		background: url("../images/content/cleardirection/bulk.png") 0 0 no-repeat;
		width: 170px;
		height: 170px;
	}

	.insurance .quadrant .insurance{
		position: absolute;
		right: -3px;
		top: 7px;
		background: url("../images/content/cleardirection/insurance.png") 0 0 no-repeat;
		width: 175px;
		height: 173px;
	}

	.insurance .quadrant .center{
		position: absolute;
		left: 94px;
		top: 92px;
		background: url("../images/content/cleardirection/center.png") 0 0 no-repeat;
		width: 170px;
		height: 170px;	
	}
	
	.insurance .quadrant a{
		width: 100%;
		height: 100%;
		display:block;
	}
	
	
	.insurance #statistics{
		margin-bottom: 20px;
	}
	
	.insurance #statistics .charcoalcolor{
		font-size: 18px;
		line-height: 18px;
	}
	
	
	.insurance #statistics .copy{
		height: 39px;
		margin-top: 47px;
		margin-bottom: 0;
	}
	
	.insurance #statistics .xlarge {
		font-weight: 900;
	}
	
	.insurance #statistics .block{
		border-bottom: 1px solid #a6a6a6;
	}
	
	.insurance #pieblock .block{
		font-size: 18px;
		line-height: 18px;
		padding: 50px;
		height: 120px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

/*accounting*/
	.accounting .quote{
		min-height: 418px;
	}

	.accounting #gridtransactions .block{
		padding:30px;
		height:70px;
	}
	
	.accounting #gridtransactions .last .block{
		margin-right:20px;
	}	
	
/*scheme_funding*/
	.scheme_funding .quote{
		min-height: 571px;
	}


/*member_data*/
	
	.member_data .quote {
		min-height: 364px;
	}


/*investment*/
	.investment #kis .block{
		min-height: 180px;
	}

	.investment .quote {
		min-height: 283px;
	}

	.investment #kis .block .xlarge{
		font-weight: 900;
	}

	.investment #kis .block .charcoalcolor{
		height: 65px;
	}
