﻿



.ui-datepicker {
    width:15em;
	font-size: 0.875em !important; 
    border:1px solid #cccccc;
    background-color: #FFF;
}

.ui-datepicker .ui-datepicker-next span {
	left: auto  !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
    top:2px;
	left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
    top:2px;
	right: 2px;
}

.ui-datepicker .ui-datepicker-next-hover span,
.ui-datepicker .ui-datepicker-prev-hover span {
    color:#283371;
}


.ui-datepicker td span,
.ui-datepicker td a {
    color:#0f7bb9;
    text-align:center;
    border:1px solid #ffffff;
}

.ui-datepicker td a:hover {
    color:#283371;
    border:1px solid #cccccc;
}


.ui-datepicker td.ui-datepicker-unselectable span {
    color:#cccccc;
}

.ui-datepicker .ui-state-disabled span {
    color:#cccccc;

}

.ui-datepicker td.ui-datepicker-current-day a ,
.ui-datepicker td.ui-datepicker-current-day span {
    background:#ffeeee;
    border:1px solid #cccccc;
}

.ui-datepicker-trigger {
    background: #e0effb;
    padding: 0;
    margin: 0;
}


