
#schemeevolution h2,
#analysissurplus h2{
	margin-bottom:0;
}


#schemeevolutionresults h5 {
	color:#ffffff;
	margin-bottom:0;
}
#schemeevolutionresults h1{
	color:#ffffff;
	font-size:56px;
	line-height:56px;
	margin-bottom:0;
}

#schemeevolutionresults h3{
	font-size: 24px;
	line-height: 40px;
}

/*#balanceChange {
    padding-left: 10px;
}*/

#schemeevolutionresults .difference {
	margin-top:33px;
}

#schemeevolutionresults{
	padding: 45px 220px;
}

#schemeevolutionresults .darkolivegreen{
	padding: 10px 20px;
	border-bottom: 1px solid #a0ac6a;
}
#schemeevolutionresults .rougered{
	margin-left:20px;
	padding: 10px 20px;
	border-bottom: 1px solid #bf7d82;
}


.darkolivegreenindicator .block{
	background: #6a7f10;
}

.darkolivegreenindicator.rightarrow {
	background-image: url("../images/indicator_darkolivegreen_left.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

.rougeredindicator.rightarrow {
	background-image: url("../images/indicator_rougered_left.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

.rougeredindicator .block{
	background: #9e3039;
}

.darkolivegreenindicator.leftarrow {
	background-image: url("../images/indicator_darkolivegreen_right.png")!important;
	background-repeat: no-repeat!important;
	background-position: 5px 50%!important;
}

.rougeredindicator.leftarrow {
	background-image: url("../images/indicator_rougered_right.png")!important;
	background-repeat: no-repeat!important;
	background-position: 5px 50%!important;
}

.leftarrow{
	padding-left: 20px;
}



.highcharts-legend-item path {
    stroke-width: 16;
}

.evolutionLegend li {
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 5px;
}

#assetsLegend {
    list-style-image:url(/images/legendAssets.png);
}

#liabilitiesLegend {
    list-style-image:url(/images/legendLiabilities.png);
}

.deficitLegend {
    list-style-image:url(/images/legendDeficit.png);
}

.expectedLegend {
    list-style-image:url(/images/legendExpectedDeficit.png);
}

.fundingLegend {
    list-style-image:url(/images/legendFunding.png);
}

.fundingLegendExpected {
    list-style-image:url(/images/legendFundingExpected.png);
}

h4.subtitle {
    font-weight: normal;
    padding: 10px 0;
}
#evolution-assumptions-assets-growth-table-container {
    height: 365px;
    overflow: auto;
    padding-right: 10px;
}
#evolutiondashboard .ui-state-disabled {
    opacity: 0.3;
}
#evolution-assumptions-assets-growth-table-container #evolution-assets-growth tr.head td{
    text-align: right;
    padding: 5px;
}
#evolution-assumptions-assets-growth-table-container #evolution-assets-growth tr.head td h5{
    color:#0f7bb9;
    margin-bottom: 6px;
}