/*
*	global.css
*	Space01 Ltd. 2013
*/

/*Global Styles*/
    .tempHide {
        opacity: 0;
    }

	html{
		overflow-y: auto;
	}
	html, body {
		width: 100%;
	}

	body{
        min-width: 800px;
		background: #09134a;
		margin: 0;
		overflow: hidden;
		font-family: 'Lato', sans-serif;		
		font-size: 16px;
		color: #3e3e3e;		
	}
	
	body.compact .headextentsion{
		display:none;
	}

	.secondmenu li.active a,
	.secondmenu li.hover a {
		color: #ffffff;
	}
	
	.inline{
		display:inline;
	}
	
	h1{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		line-height: 32px;
		font-weight: normal;
		color: #0f7bb9;
		margin-bottom: 10px;
	}
	
	h2 {
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		line-height: 32px;
		font-weight: normal;
		color: #3e3e3e;
		margin-bottom: 34px;
	}
	
	h3, .h3{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 22px;
		line-height: 22px;
		font-weight: normal;
		color: #3e3e3e;
		margin-bottom: 34px;
	}
	
	input.h3{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 22px;
		line-height: 22px;
		font-weight: normal;
		color: #3e3e3e;
		margin-bottom: 34px;
        border:0;
        background:transparent;
	}



	h4{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		color: #3e3e3e;
	    height: 30px;
	}
	
	h5{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 14px;
		font-weight: bold;
		color: #3e3e3e;
		margin-bottom: 10px;
	}	

	h6{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 56px;
		line-height: 56px;
		font-weight: bold;
		color: #3e3e3e;
		margin-bottom: 10px;
	}	
	
	a{
		color: #0f7bb9;
		cursor: pointer;
		outline: none;
		text-decoration: none;
	}
	a img {
		text-decoration: none;
		outline: none;
		border: 0px none transparent;
	}
	

	
	input[type="submit"],
	input[type="button"],
	button,
    a.button{
		-webkit-appearance: none;
		-webkit-border-radius:0; 
		background: #0f7bb9;
		border-radius:2px;
		font-size:13px;
		text-align:center;
		color:#ffffff;
		border:0;
		padding:11px;
		cursor:pointer;
		margin-right:13px;
	}

	a.button {
        line-height: 15px;
        display:inline-block;
	}

    .pointer {
        cursor:pointer;
    }

	span{
		color: #0f7bb9;
	}

    span.natural {
        color: inherit;
    }

	#container{
		background: #f0f0f0;
	}
	
	.mobileVerticalTabAccordion{
		display:none;
	}	
	
	.headerwrapper{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		position: relative;		
	}
	
	iframe{
		border:0;
	}

    .margincenter {
        margin:0 auto 0 auto;
    } 

	/*grid layout*/
	.grid {
		overflow: hidden;
	}
	.center{
		text-align:center;
	}

	.left{
		float:left;
	}

	.right{
		float: right;
	}

    .left-space-30pc {
        float: left; 
        margin-left: 30%;
    }

    .left-space-20 {
        margin-left: 20px;
    }

	.grid img{
		background-size: 100% auto;
	}

	.ten{
		width:10%;
	}
	.fifteen{
		width:15%;
	}
	.twenty{
		width:20%;
	}
	.twenty-four{
		width:24%;
	}
	.twenty-five{
		width:25%;
	}
	.twenty-seven {
		width:27%;
	}
	.thirty{
		width:30%;
	}	
	.thirty-three{
		width:33.333333%;
	}
	.thirty-five{
		width:35%;
	}
	.thirty-eight{
		width:38%;
	}	
	.fourty{
		width:40%;
	}
	.fourty-five{
		width:45%;
	}
	.fifty{
		width:50%;
	}
	.fifty-five{
		width:55%;
	}
	.sixty{
		width:60%;
	}
	.sixty-five{
		width:65%;
	}			
	.sixty-six{
		width:66.666666%;
	}
	.seventy{
		width:70%;
	}	
	.seventy-five{
		width:75%;
	}
	.eighty{
		width:80%;
	}		
	.eighty-five{
		width:85%;
	}		
	.ninety{
		width:90%;
	}		
	.hundred{
		width:100%;
	}

	
	section{
		padding: 40px 60px;
		position:relative;
	}

    section.admin {
        padding: 20px 60px 40px 60px;
    }
	
    section.section-full {
        padding:0;
		position:relative;

    }

    section#schemeCashflows {
		padding: 25px 0 10px 0;
    }

    img.stretch {
        width:100%;
        height:auto;
        display:block;
    }

    .hr {
        background:#c7c7c7;
        height:1px;
        font-size:1px;
        margin:5px 0 10px 0;
    }

    .hr hr {
        display:none;
    }

    table.scheme-evolution-table {
        border:0;
        width:100%;
        border-collapse:collapse;
    }

    table.scheme-evolution-table td {
        border: 0;
    }

    table.scheme-evolution-table th,
    table.scheme-evolution-table td {
        vertical-align:middle;
        font-size:14px;
    }

    table.scheme-evolution-table thead th {
        background:#f0f0f0;
        height:34px;
        text-align:center;
        font-weight:bold;
        border: 5px solid white;
    }

    table.scheme-evolution-table tbody tr {
        color: black;
    }
    table.scheme-evolution-table tbody td {
        padding: 5px 5px 5px 5px;
        text-align: center;
        height: 40px;
    }
    table.scheme-evolution-table tbody img {
        border: none;
        margin-right: 3px;
    }
    table.scheme-evolution-table tbody td.scheme-evolution-asset {
        color: #E87424;
    }
    table.scheme-evolution-table tbody td.scheme-evolution-liab {
        color: #9F489E;
    }
    table.scheme-evolution-table td.scheme-evolution-table-rightedge {
        border-right: 1px solid black;
    }
    table.scheme-evolution-table tr.scheme-evolution-totals td {
        border-top: 1px solid black;
    }
    table.scheme-evolution-table td.redcolor {
        color:#923831;
    }
    table.scheme-evolution-table td.greencolor {
        color:#6a7f10;
    }

    .UnderInitialBalanceBox {
        padding:20px 0 20px 0;
        background-color: white;
    }

    .UnderInitialBalanceBox h3 {
        font-size:26px;
        margin:0 0 10px 0;
    }

    .UnderInitialBalanceBox h5 {
        font-size:14px;
        margin:0;
    }

    .expandingarea-wrapper {
        background:none
    }

    .expandingarea-tab {
        padding:0 0 20px 0;
        margin:0 0 20px 0;
        cursor:pointer;
        font-size:22px;
        text-align:center;
        background:#ffffff; 
    }

    .expandingarea-tab-down {
        background: url("../images/expandarea-tab-down.png") center bottom no-repeat;
    }

    .expandingarea-tab-up {
        background: url("../images/expandarea-tab-up.png") center bottom no-repeat;
    }

    .expandingarea-body {
        padding:30px 0 30px 0;
    }
	.last{
		background: none!important;
		margin-right: 0!important;
		padding-right: 0!important;
		border-right: 0!important;
	}	

    .importantmessage-box {
        margin:40px 0 40px 0;
        padding:20px;
        border: 1px solid #dfdfdf;
    }

    #btn-importantmessage-close a {
        font-size:11px;
        width:200px;
        margin:0 auto 0 auto;
        padding:0 0 0 40px;
        display:block;
        color:#ffffff;
        line-height:20px;
        height:20px;
        background: #7e7e7e url("../images/btn-importantmessage-close-small.png") left top no-repeat;
    }

	.block{
		background: #ffffff;
		margin-right:20px;
		padding:20px;
		font-size:14px;
		border-bottom: 1px solid #dfdfdf;
	}
	.blockwrapper{
		margin-right:20px;
	}
	.keyline{
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 40px;
		padding-bottom: 40px;		
	}
	
	.fixedheight{
		height:130px;
	}

	.last .block{
		margin-right:0;
	}
    .bottompad {
        padding-bottom: 10px;
    }

	.hide{
		display:none;
	}
	.show{
		display:block;
	}
	
	/*Header*/
	
	header {
		position: fixed;
		background:#09134a;
		z-index: 3;
		width: 100%;
	}
	
	.contents {
		width: 1200px;
		padding-top: 213px;
		margin: 0 auto;
	}
	
    .contents-nohead {
		width: 1200px;
		padding-top: 116px;
        margin: 0 auto;
	}

	.contents-full {
		width: 100%;
		padding-top: 213px;
	}    

	.headcomponents{
		height: 108px;
		background: url("../images/headerbackground.jpg") 0 0 no-repeat;
		z-index:2;
		position:relative;
		width: 1200px;
		margin: 0 auto;
	}
	
	.headerbase{
		background: #0f7bb9;
		width: 100%;
		height: 94px;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.headerleft{
		position: absolute;
		width: 30%;
		height: 94px;
		background: #283371;
		top: 0;
		z-index: 1;
		left: 0;	
	}
	.logo{
		position: absolute;
		top: 25px;
		left: 0;
		z-index: 6;
	}

	.logo a{
		display: block;
		width: 150px;
		height: 58px;
		background: url("../images/kpmg-logo.png") 0 0 no-repeat;
		text-indent: -9900px;
	}
	
	.logo a.fusion-logo{
		display: block;
		width: 205px;
		height: 58px;
		background: url("../images/fusion-logo_header_R.png") 0 0 no-repeat;
		text-indent: -9900px;
	}
	
	.logofusion{
		position: absolute;
		top: 46px;
		left: 237px;
		z-index: 6;
	}

	.logofusion a {
		display: block;
		width: 100px;
		height: 58px;
		background: url("../images/fusionlogo.png") 0 0 no-repeat;
		text-indent: -9900px;
	}	


	.fusionlogo-new {
        display: block;
		position: absolute;
	    top: 70px;
	    left: 102px;
		z-index: 6;
		width: 477px;
		height: 104px;
		background: url("../images/fusion-home-banner.png") 0 0 no-repeat;
		text-indent: -9900px;
	}

    .account{
		background-image: url("../images/datepicker-button.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
        display:inline-block;
        width:22px;
        height:22px;
	    margin-right: 2px;
        border-radius:2px;
	}

	.header-dropdown{
		background: #09134a;
		background-image: url("../images/accountarrow.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
        display:inline-block;
        width:22px;
        height:22px;
	    margin-right: 3px;
        border-radius:2px;
	}

	.minireset{
		background: #09134a;
		background-image: url("../images/reseticon.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
        display:inline-block;
        width:22px;
        height:22px;
        border-radius:2px;
	}
	

	
	.userpanel{
		position: absolute;
		right: 0;
		width: 100%;
		margin-top: 31px;
	}

	.userpanel .username {
		color: #ffffff;
		float: left;
		font-size: 13px;
		padding-top: 5px;
		padding-right: 20px;
        vertical-align:top;
        line-height:23px;
        float:right;
	}

	.userpanel .username a {
		color: #ffffff;
		font-size: 13px;
	}

    .userpanel .username:last-child {
        padding-right: 18px;
    }

	.userpanel .logout{
		color: #ffffff;
		font-size: 13px;
		background: #09134a;
		padding: 6px;
		margin: 2px 0;
		float: right;
        border-radius: 2px;
	}

    .userpanel .user-banner-scheme-name {
		margin: 8px 24px 2px 0;
		float: right;
        color: #ffffff;
        font-size: 13px;
        text-align:right;
    }

    .userpanel .user-favourite-selector {
        margin: 3px 12px 2px 0;
    }

    .user-favourite-selector {
        float: right;
        background: url("../Images/favIcon-silver.png") no-repeat;
        width: 30px;
        height: 30px;
        margin-top: 3px;
        cursor: pointer;
    }
    
    .schemeNameSearch
    {
        width: 90% !important;
    }

    .userpanel .ajax-loader {
        margin-top: 4px;
        margin-left: 4px;
        visibility: hidden;
    }

	.headextentsion{
		
	}
	
	.headmenu{
		margin-top: -17px;
	}
	
	
	.firstmenu{
		padding: 0;
		list-style-type: none;
		overflow: hidden;
		font-size: 18px;
		width: 800px;
		margin: 0 auto;
	}
	
	.firstmenu li{
		margin-right: 50px;
		float:left;
	}
    .firstmenu li:last-child {
		margin-right: 0;
    }

	.firstmenu li a{
		color: #bbbaba;
		text-decoration: none;
		display: table-cell;
		height: 57px;
		vertical-align: middle;
	}
	.firstmenu li.hover a,
	.firstmenu li.active a{
		color:#ffffff;
	}

	.firstmenu li.active.submenu{
		background: url("../images/onsubmenu.png") 50% 100% no-repeat;
	}
	.firstmenu li.active.dashboard{
		background: url("../images/ondashboard.png") 50% 100% no-repeat;
	}	
	
	div.tooltip {
		position: absolute;
		text-align: center;
		width: 60px;
		height: 12px;
		padding: 8px;
		font: 10px sans-serif;
		background: rgba(255,255,255,0.8);
		border: solid 1px #aaa;
		pointer-events: none;
	}
	
	.secondmenu{
		padding: 0;
		list-style-type: none;
		overflow: hidden;
		font-size: 14px;
		width: 892px;
		margin: 0 auto;
	}
	
	.secondmenu li{
		margin-right: 30px;
		float:left;
	}

	.secondmenu li a{
		color: #bbbaba;
		text-decoration: none;
		display: table-cell;
		height: 75px;
		vertical-align: middle;
	}
	.secondmenu li.active a{
		color:#ffffff;
	}


	.fillerbluebar{
		background: #293371!important;
		height: 60px!important;
	}

	.secondnav.horizontalmode .tabHeader{
		margin:0!important;
	}
	
	.secondnav.horizontalmode ul.tabMenu{
		background: #293371!important;
	}
	
	.secondnav.horizontalmode ul.tabMenu li{
		height: 60px!important;
	}

	.secondnav.horizontalmode ul.tabMenu li.ui-state-active a{
		background: #293371!important;
	}

	.secondnav.horizontalmode ul.tabMenu li a{
		padding-top: 32px!important;
		padding: 18px 9px!important;
		background: #293371!important;
	}	
	
	.pane{
		background: #283371;
        position:relative;
        width:100%;
	}
	

	/*Footer*/
	footer {
		height: 100%;
		background: #09134a;
		font-size: 12px;
		position: relative;
		text-align: center;
		padding: 20px 262px;
		color: #ffffff;
	}


	/*overrides*/
	
	input[type="text"]:disabled{
		background: none;
		border: none;
		outline: none;
		cursor: default;	
	}
	
	.linebreak{
		border-bottom: 1px solid #eaeaea;
		width:100%;		
		margin-bottom: 34px;
		margin-top: 34px;
	}
	

	.errorhandler{
		height: 14px;
	}

	.whitecolor{
		color:#ffffff;
	}
	.yellowcolor{
		color:#ebb700;
	}
	.charcoalcolor{
		color:#3e3e3e;
	}
	.rougeredcolor{
		color: #9e3039;
	}
	.greencolor{
		color: #6a7f10;
	}
	.darkbluecolor{
		color: #007c92;
	}	
    .darkergreycolor{
        color: #c7c7c7;
    }
	.charcoalgreycolor{
		color: #3e3e3e;
	}
    .darkbluecolor{
		color: #283371;
    }
	.goldcolor{
		color: #ebb700;
	}

	.white{
		background: #ffffff;
	}
	.rougered{
		background: #9e3039;
	}
	.lighterblue{
		background: #e0effb;
	}
	.lightgrey{
		background: #eaeaea;
	}
	.grey{
		background: #f0f0f0;
	}
	.slightlydarkergrey{
		background: #e6e6e6;
	}
	.darkgrey{
		background: #eaeaea;	
	}
	.darkergrey{
		background: #c7c7c7;
	}
	.charcoalgrey{
		background: #3e3e3e;
	}
	.mustygrey{
		background:#9b9b9b;
	}	
	.olivegreen{
		background: #01505d;
	}
	.darkolivegreen{
		background: #6a7f10;
	}
	.orange{
		background: #ebb700;
	}
	.navyblue{
		background: #4176ab;
	}
	.lightblue{
		background: #98c6ea;
	}
	.darkblue{
		background: #007c92;
	}
	.lightteal{
		background: #ecf6fe;
	}
	.gold{
		background: #ebb700;
	}
	.brightgreen{
		background: #7ab800;
	}
	.brightorange{
		background: #e87424;
	}
	.brightpurple{
		background: #b390bb;
	}
	.slate{
		background: #4176ab;
	}
	.deeppurple{
		background: #8e258d;
	}
	.sage{
		background: #aabaa5;
	}
	.limegreen{
		background: #7ab800;
	}	
	
	#plans{
		position: relative;
	}
	.tongue{
		position: absolute;
		bottom: 0;
		height: 478px;
		width: 100%;
		z-index: 1;
		display:none;
	}

	.tongue .tonguewrap{
		position: relative;
	}
	
	.tongue .tongueholder{
		padding: 20px;
	}
	
	.tongue .tongueholder .block{
		border: 0;
		border-right: 1px solid #dfdfdf;
		padding-bottom: 0px;
		padding-top: 0;
		margin-bottom: 20px;
	}
	
	.tongue .tongueholder .last .block{
		border:0;
	}

	.tongue .closebutton{
		background: url("../images/closepane.png") 0 0 no-repeat;
		height: 31px;
		width: 30px;
		position: absolute;
		right: 15px;
		top: 10px;
		cursor: pointer;
	}
	
	.splitblock{
		border-bottom: 1px solid #ffffff;
	}

	.splitblock h4{
		margin-bottom:0;
	}



	.reset{
		background: #3e3e3e;
		background-image: url("../images/reseticon.png");
		background-repeat: no-repeat;
		background-position: 5px 50%;
		padding-left: 29px;
	}
	.restore{
		background: #c7c7c7;
		background-image: url("../images/reseticon.png");
		background-repeat: no-repeat;
		background-position: 5px 50%;
		padding-left: 29px;		
	}

	.alignright{
		text-align: right;
	}
	.alignleft{
		text-align: left;
	}
	.aligncenter{
		text-align: center;
	}
	
	.floatright{
		float:right;
	}
	.floatleft{
		float:left;
	}
	
	.noborder{
		border:0;
	}
	.nobackground{
		background: none;
	}
	.nomargin{
		margin:0;
	}
	
	.bold{
		font-weight: 900;
	}
	.medium{
		font-size:16px;
	}
	.large{
		font-size:18px;
	}
	.larger{
		font-size:20px;
	}
	.xlarge{
		font-size:72px;
	}	
	.quote{
		background-image: url("../images/quote.png");
		background-repeat: no-repeat;
		background-position: 96% 90%;
		border-bottom: 1px solid #7294af;
		min-height: 350px;
		padding: 27px;
		font-size: 16px;
	}
	
	.instructions{
		text-align: center;
		background: url("../images/rolloverarrow.png") 50% 0 no-repeat;
		width: 350px;
		padding-top: 14px;
		color: #666666;
	}

	.instructions .copy{
		padding: 0 100px;
	}
	
	.ball{
		background: #0f7bb9;
		height: 140px;
		width: 140px;
		margin: 0 auto;
		border-radius: 140px;
		text-align: center;
		position:relative;
        cursor:pointer;
	}

	.no-ball{
		min-height: 140px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		position:relative;
	}


    .loginpaneoptions .ball ,
    .no-pointer .ball {
        cursor: default;

    }

    a.analysetheschemebtn {
		background: url("../images/analysetheschemebtn.png") 0 0 no-repeat;
        width:300px;
        height:44px;
        display:block;
        margin:40px auto 0 auto;
        text-indent:-9999px;

    }


	.no-ball .ico,
	.ball .ico{
		position: absolute;
		top: 23px;
		background: url("../images/optionssprite.png") 0 0 no-repeat;
		height: 65px;
		width: 100px;
		left: 20px;
	}

	.no-ball .ico {
		background: url("../images/optionssprite-dark.png") 0 0 no-repeat;

	}




	.no-ball .copy,
	.ball .copy{
		position: absolute;
		bottom: 19px;
		text-align: center;
		width: 140px;
		font-size: 18px;
		font-family: 'Lato', sans-serif;
		font-weight:bold;
		color: #ffffff;
	}

	.no-ball .copy {
        color: #3e3e3e;
	}


	.ballmargins{
		margin: 0 auto;
		width: 150px;
		text-align: center;
		font-size: 16px;
	}
	.no-ball .ico.baseline,
	.ball .ico.baseline{
		background-position: 8px 0;
	}
	.no-ball .ico.accounting,
	.ball .ico.accounting{
		background-position: -228px 0;
	}	
	.no-ball .ico.evolution,
	.ball .ico.evolution{
		background-position: -228px 0;
	}
	.no-ball .ico.analysis,
	.ball .ico.analysis{
		background-position: -468px 0;
	}
	.no-ball .ico.journeyplan,
	.ball .ico.journeyplan{
		background-position: -1620px 0;
	}
	.no-ball .ico.solutions,
	.ball .ico.solutions{
		background-position: -705px 0;
	}	
	.no-ball .ico.cash,
	.ball .ico.cash{
		background-position: -932px 0;
	}
	.no-ball .ico.time,
	.ball .ico.time{
		background-position: -1174px 0;
	}
	.no-ball .ico.risk,
	.ball .ico.risk{
		background-position: -1415px 0;
	}	




    a.downloadbtn {
        display:block;
        width:117px;
        height:38px;
        text-indent:-9999px;
        background: url("../images/downloadbtn.png") 0 0 no-repeat;
    }
	

    a.morebtn {
        display:block;
        width:80px;
        height:34px;
        text-indent:-9999px;
        background: url("../images/morebtn.png") 0 0 no-repeat;
    }
	
    .changeSucceeded {
		background: url("../images/tick.png") top right no-repeat;
        padding:0 40px 0 4px;
        height:30px;
        line-height:30px;
        display:inline-block;
        margin-top:5px;
        float:right;
        font-size:20px;
    }

    .changeFailed {
		background: url("../images/alert.png") top right no-repeat;
        padding:0 40px 0 4px;
        height:30px;
        line-height:30px;
        display:inline-block;
        margin-top:5px;
        float:right;
        font-size:20px;

        color:red!important;
        background-color: mistyrose;
        border: 1px solid red;
    }

	.icon{
		background: url("../images/sprite.png") 0 0 no-repeat;
		height: 86px;
		width: 81px;
	}
	
	.icon.gauge{
		background-position: -5px 0;
	}
	
	.icon.schemeplan{
		background-position: -88px 2px;
	}
	
	.dashline{
		background: url("../images/dashline.png") 0 100% repeat-x;
		height: 20px;
	}
		


	.progress{
		background: url("../images/sprite.png") 0 0 no-repeat;
		height: 27px;
		width: 17px;
		display: block;
		position: absolute;
		right: 8px;
		bottom: 32px;
	}
	.progress.up{
		background-position: -32px -110px;
	}
	
	.progress.down{
		background-position: -53px -110px;	
	}			
		
		

	.progressicons{
		margin:0;
		padding:0;
		list-style-type:none;
	}

	.progressicons li{
		background: url("../images/iconsprite.png") 0 0 no-repeat;
		padding-top: 49px;
		border-bottom: 1px solid #bfbfbf;
		margin-bottom: 33px;
		padding-left: 9px;
		position: relative;
		padding-bottom: 17px;
	}

	.progressicons li.time{
		background-position: 0 0;
	}
	.progressicons li.cash{
		background-position: -103px 0;
	}
	.progressicons li.risk{
		background-position: -213px 0;
	}
	
	.progressicons li.lastitem{
		border-bottom: 0!important;
	}
	
	
	
	ul.basic{
		margin:0;
		padding:0;
		list-style-type:none;
	}
	
	
	ul.golddots{
		margin:0;
		padding:0;
		list-style-type:none;
		padding-top: 10px;
	}
	ul.golddots li{
		overflow: hidden;
		margin-bottom: 35px;
		background: url("../images/golddisc.png") 0 5px no-repeat;
		padding-left: 35px;
		margin-left: 20px;
	}

	ul.golddots li ul {
		margin-top: 15px;
	}
	ul.golddots li ul li {
		margin-top: 15px;
		margin-bottom: 0;
		background: url("../images/golddiscmini.png") 0 5px no-repeat;
	}
	
	ul.documents{
		margin:0;
		padding:0;
		list-style-type:none;
	}
	
	ul.documents li{
		background: url("../images/document.png") 0 0 no-repeat;
		padding-left:50px;
		margin-bottom:35px;
	}
	
	ul.documents li h5,
	ul.documents li h5 a{
		color:#4176ab;
	}
	
	
	
	ul.documentchecklist{
		margin:0;
		padding:0;
		list-style-type:none;
		overflow:hidden;
	}	
	
	ul.documentchecklist li{
		float: left;
		margin-right: 10px;
		padding: 5px;
		width: 93px;
		background: url("../images/document_checklist.png") 50% -107px no-repeat;
		text-align: center;
		padding-top: 57px;
	}
	
	ul.documentchecklist li.active{
		background-position: 50% 3px;
	}
	
	
	
	ul.orbbased{
		margin:0;
		padding:0;
		list-style-type:none;	
	}
	ul.orbbased li{
		overflow:hidden;
		margin-bottom: 20px;
	}
	ul.orbbased li .orb{
		background: #007c92;
		float: left;
		height: 80px;
		width: 80px;
		border-radius: 80px;
		font-size: 35px;
		line-height: 35px;
		color: #479fbb;
	}
	ul.orbbased li .orb .number {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		height: 80px;
		width: 80px;
	}
	ul.orbbased .copy {
		width: 60%;
		float: right;
		color: #ffffff;
	}
	
	ul.orbbased.variant3 li .orb {
		font-size: 20px;
		line-height: 20px;	
	}


	ul.orbbased.variant2 li .orb {
		height: 40px;
		width: 40px;
		border-radius: 40px;
		font-size: 14px;
		line-height: 14px;		
		margin-right: 13px;
	}
		
	ul.orbbased.variant2 li .orb .number {
		height: 40px;
		width: 40px;
	}

	ul.orbbased.variant2 .copy{
		width: auto;
		float: none;
	}
	
	
	ul.dates{
		margin:0;
		padding:0;
		list-style-type:none;	
	}
	
	ul.dates li{
		border-top: 1px solid #e5e5e5;
		font-size: 14px;
		line-height: 14px;
		padding-top: 10px;
		margin-bottom: 10px;	
	}
	ul.dates li h3{
		font-size: 14px;
		line-height: 14px;
		font-weight:bold;
		margin:0;
		margin-bottom: 7px;
	}
	ul.dates li span{
		font-size: 27px;
		line-height: 27px;
		font-weight:lighter;
		color:#0f7bb9;
	}
	ul.dates li.last{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 10px;
	}	
	
	.controlpanel{
		display:none;
		background: #e0effb;
		position: relative;
		border-bottom: 1px solid #ccc;
	}
	
	.controlpanel .cog{
		background: url("../images/expandarea-tab-down.png") 7px 7px no-repeat #e0effb;
		height: 22px;
		width: 124px;
		position: absolute;
		bottom: -27px;
		border-radius: 0 0 3px 3px;
	    bottom: -10px;
		left: 46%;
		border-bottom: 1px solid #ccc;
		padding-left: 32px;
		padding-top: 3px;
		cursor:pointer;
		z-index:1;
	}
    .controlpanel .cog.open {
        background: url("../images/expandarea-tab-up.png") 7px 7px no-repeat #e0effb;
    }
    .controlpanel .cog.closed {
        background: url("../images/expandarea-tab-down.png") 7px 7px no-repeat #e0effb;
    }
	
	.controlpanelwrapper h3{
		font-weight: lighter;
		color: #0f7bb9;
		font-size: 28px;
	}
	
	.controlpanelwrapper input.h3{
		font-weight: lighter;
		color: #0f7bb9;
		font-size: 28px;
        width:155px;
	}
	
	
	.controlpanelwrapper{
		width: 1020px;
		margin: 0 auto;
		padding-top: 10px;
	}
	
	
	.controlpanel .block{
		padding: 0;
		background: none;
		margin-right: 15px;
		border-right: 1px solid #dfdfdf;
		padding-right: 15px;
		padding-top: 15px;
		margin-bottom: 15px;
		border-bottom: 0;
	}
	
	.controlpanel .last .block{
		border-right:0;
		margin-right:0;
		padding-right:0;
	}
	
	.include_indicator{
		background-image: url("../images/indicator.png");
		background-repeat: no-repeat;
		background-position: 0 33px;
	}

    .all-schemes td:nth-child(2) {
        white-space: nowrap;
        vertical-align: top;
    }

	.paneoptionspanel{}
	
	.paneoptionspanel.horizontalmode .tabHeader {
		margin-bottom: -1px;
		margin-top: 5px;
		position: relative;
		z-index: 1;
	}	
	
	.paneoptionspanel.horizontalmode ul.tabMenu li{
		width: auto;
		margin-right: 10px;
		margin-left: 10px;
		height: auto;
	}
	
	.paneoptionspanel.horizontalmode ul.tabMenu li.ui-state-active{
		background: #e0effb;
		border-top: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
	    border-top-right-radius: 2px;
	    border-top-left-radius: 2px;
	}
	
	.paneoptionspanel.horizontalmode ul.tabMenu li a{												
		padding: 6px 5px 0 5px;
	}
	
	.paneoptionspanel .panelTab{
		padding-left: 0!important;
		padding-right: 0!important;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 10px;
	}
	
	.panelbuttons{
		text-align: center;
		margin-bottom: 20px;
	}
	
	.paneoptions h3{
		margin-bottom: 10px;
	}
	.paneoptions input.h3 {
		margin-bottom: 10px;
	}
	
	.paneconsole h2{
		margin-bottom: 24px;
	}
	
	.paneconsole .horizontalmode .panelTab{
		padding: 15px;
	}
	
    .panelTabHeight560 {
        height: 560px;
    }
    .panelTabHeight630 {
        height:630px;
    }
    .panelTabHeight730 {
        height: 730px;
    }
    .panelTabHeight828 {
        height: 828px;
    }
    .panelTabHeight860 {
        height: 860px;
    }
    .panelTabHeight730 {
        height: 730px;
    }
    .panelTabHeight920 {
        height: 920px;
    }
    .panelTabHeight980 {
        height: 980px;
    }
    .panelTabHeight1000 {
        height: 1000px;
    }
    .panelTabHeight1100 {
        height: 1100px;
    }
    .panelTabHeight1180 {
        height: 1180px;
    }
	
	.ui-slider-horizontal {
		background: #c7c7c7;
		border-radius: 5px;
		height: 5px!important;
	}
	
	.ui-slider-horizontal .ui-slider-handle{
		background: url("../images/swipehandler.png") 0 0 no-repeat;
		padding: 4px;
		margin-top: -4px;
	}

    .ui-slider-horizontal .ui-slider-handle-softlimitexceeded{
		background: url("../images/swipehandler.png") 0 0 no-repeat;
		padding: 4px;
		margin-top: -4px;
	}
	
	.greySlider .ui-slider-horizontal .ui-slider-handle{
		background: url("../images/swipehandler-grey.png") 0 0 no-repeat;
	}

    .ui-slider-tick-mark {
        display: inline-block;
        width: 2px;
        background: #98c6ea;
        height: 19px;
        position: absolute;
        top: -8px;
    }

    .ui-slider-softlimit-tick-mark {
        display: inline-block;
        width: 2px;
        background: #F87E78;
        height: 19px;
        position: absolute;
        top: -8px;
    }

	.ui-slider{
		margin-bottom: 24px;
		margin-top: 7px;
		margin-right: 14px;
	}
	
	.sliderwrap{
		overflow:hidden;
	}
	
	.sliderwrap label{
		float:left;
		width: 40%;
	}
	.sliderwrap .ui-slider{
		float: right;
		width: 45%;
		margin-right:15px;
	}
	.sliderwrap .percentage{		
		float: right;
		width: 10%;
		color:#0f7bb9;
		font-weight:bold;
	}
	
	.sliderwrap .percentage.ranger{
		font-size: 12px;
		width: 17%;
	}
	
	.sliderwrap .ui-slider.rangeslider {
		width: 35%;
		margin-right: 20px;
	}
	
	.fillprogressbar{
		background: #98c6ea;
		width:0;
		height: 5px;
		position: relative;
	}


	.copyblock{
		font-size: 30px;
		font-weight: 300;	
	}
	
	.paneconsole.close{
		display:none;
	}
	
	.categorycontroller ul{
		padding:0;
		list-style-type:none;
	}

	.categorycontroller ul li{
		overflow:hidden;
	}

	.categorycontroller ul li .key{
		float:left;
	}
	
	.categorycontroller ul li .varbox{
		float:right;
		width:34px;
	}
	
	.categorycontroller ul li .varbox input{
		width:16px;
		margin-right:3px;
	}
			
	.headertitlewrap h3{
		display:inline-block;
	}

	.headertitlewrap input.h3{
		display:inline-block;
	}

    .headertitlewrap button.ui-datepicker-trigger{
        vertical-align: middle;
        padding-bottom: 10px;
    }

	#footerlinks{
        white-space: nowrap;
		margin: 0 auto;
		padding: 0;
		margin-top: 20px;
        text-align: center;
	}
	#footerlinks a{
        margin-right: 10px;
		color: #ffffff;
	}
	
	.contents.legal,
	.contents.privacy,
	.contents.terms{
		padding-top:170px;
	}
	
	.valuationbox{
	}
	
	.dashboardcomponent {
		position: relative;
	}
	
	
	input[type=radio] {
	  opacity: 0;
	  z-index: 9999;
	}
	
	.radiooverlay {
		display: inline-block;
		position: relative;
		left: -21px;
		top: 3px;
		height: 21px;
		width: 21px;
		background: url("../images/radiobuttons.png") -40px 0 no-repeat;
	}
	
	input[type=radio]:checked + .radiooverlay {
		background: url("../images/radiobuttons.png") 0 0 no-repeat;
	}


	input[type=checkbox] {
	  opacity: 0;
	  z-index: 9999;
	}
	
	.checkboxoverlay {
		display: inline-block;
		position: relative;
		left: -21px;
		top: 3px;
		height: 21px;
		width: 21px;
		background: url("../images/checkboxes.png") -40px 0 no-repeat;
	}
	
	input[type=checkbox]:checked + .checkboxoverlay {
		background: url("../images/checkboxes.png") -1px 0 no-repeat;
	}
	
	.chartwrapper{
		padding: 30px;
	}
	
	

	
	

	.transactions{
		list-style-type:none;
		margin:0;
		padding:0;
		overflow:hidden;
		width: 103%;
	}
	.transactions li{
		width: 100px;
		height: 100px;
		margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		text-align: center;
		padding: 20px;
		font-size: 14px;
		color: #ffffff;
	}
	.transactions h3{
		font-size: 14px;
		margin: 0;
		position: relative;
	}

	.transactions_legend{
		list-style-type:none;
		margin:0;
		padding:0;
		overflow:hidden;
	}
	.transactions_legend li{
		float: left;
		margin-right: 20px;
	}
	.transactions_legend .colorball{
		border-radius: 20px;
		height: 19px;
		width: 19px;
		display: inline-block;
		border: 2px solid #000000;
		margin-right: 10px;
	}
	.transactions_legend .colorball.showallitems{
		background: url("../images/showallicon.png") 50% 50% no-repeat #000000;
	}

	.transactions_legend .copy{
		display: inline-block;
		top: -5px;
		position: relative;
		font-size: 13px;
	}
	.transactions_legend .copy a{
		color: #3e3e3e;
	}

	.group{
		height: 10px;
		width: 10px;
		display: inline-block;	
	}

	#biography .avatar{
		float:left;
		margin-right:20px;
	}
	#biography .bio{
		float:right;
		width:65%;
	}

	#biography h3{
		margin-bottom: 20px;
	}

	#biography .contactdata{
		margin:0;
		padding:0;
		list-style-type:none;
		overflow:hidden;
	}

	#biography .contactdata li{
		border-right:1px solid #cccccc;
		padding-right:8px;
		float:left;
	}

	#biography .contactdata li.last{
		padding-left:8px;
	}

	#biography.verticalmode ul.tabMenu{
		background: #0f7bb9;
	}
	
	
	
	.dashboardcomponent .closebutton {
		background: url("../images/closepane.png") 0 0 no-repeat;
		height: 31px;
		width: 30px;
		position: absolute;
		right: 0px;
		bottom: 10px;
		cursor: pointer;
	}
	table.styled thead tr td{
		background: #3e3e3e;
		color: #ffffff;
		padding: 10px;
	}
	
	table.styled tr td{
		background: #ffffff;
		padding: 10px;
	}
	table.styled td.gap{
		background: none;
	}


    .originLabel {
        font-weight: normal;
        color: white;
        background-color: #555;
        padding: 0 3px;
        border-radius: 2px;
    }

    .first-basis-on-menu{
        min-width: 150px;
        margin-right: 20px;
    }

	.valuationbasisheader{
		position: relative;
	    display: inline-block;
        cursor: pointer;
	}
	.basisSelector, .dateSelector, .techProvBasisSelector {
	    margin: -31px 8px;
        cursor: pointer;
	}
    .resetSelector {
	    margin-top: 24px;
        margin-left: 8px;
        cursor: pointer;
	}
    .dropDownMenu {
        display: none;
        background: white;
        position: absolute;
        color: white;
        list-style: none;
        padding: 0;
        margin: 0 0 0 -31px;
        font-size: 1.2em;
        z-index: 10;
    }


    .dropDownMenu li {
        background:#0f7bb9;
        margin: 1px;
        min-width: 160px;
        color: white!important;
    }

    .dropDownMenu li a {
        color: white!important;
        padding: 2px 5px 2px 30px;
    }

    .dropDownMenu li:hover {
        background:#283371;
        cursor: pointer;
    }


    .dropDownMenuX {
        display: none;
        position: absolute;
        color: white;
        list-style: none;
        padding: 10px 0 10px 0;
        margin: 0 0 0 -31px;
        font-size:13px;
        z-index: 10;
        background:#0f7bb9;
        border: 1px solid #0c6294;
    }



    .dropDownMenuX li a {
        color: #c7c7c7!important;
        display:block;
        padding: 2px 30px 2px 25px;
        cursor: pointer;
        white-space: nowrap;
    }

    .dropDownMenuX li.active a ,
    .dropDownMenuX li a:hover {
        color: #ffffff!important;
        cursor: pointer;
    }

    .header-selector-menu {
        left:31px;
        top: 30px;
    }

	.innerwraps{
		padding-right: 51px;
	}
	
	.datapane{
		margin-top: 13px;
	}

    #schemeHomeStartValue {
        float: left;
    }
    #schemeHomeEndValue {
        float: left;
        margin-left: 20px;
    }

    /* styles for validation helpers */
    .validation-summary-errors ul li {
        background-color: mistyrose;
        color:red!important;
        padding:0 4px;
        border: 1px solid pink;
    }
    
    .media-section .video-link-container {
        top:0;
        width:340px;
        margin:0 auto;
    }

    .media-section .video-link-inner {
        width:340px;
        height:120px;
        background:#0f7bb9;
        bottom:20px;
    }

    .media-section .details-video-link {
        width:340px;
        height:120px;
        background:#0f7bb9;
        margin:0 auto 0 auto;
    }

    .media-section .video-play {
        display:block;
        background: url("../images/solutions-video.png") 0 0 no-repeat;
        width:170px;
        height:120px;
    }

    .media-section .video-detail {
        padding:10px 10px 0 10px;
    }

    .media-section .video-detail p {
        font-size:16px;
        margin-bottom:0 0 0.3em 0;
        line-height:1.1em;
        padding:0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    .figure_deficit {
        color: #9e3039;
    }
    .figure_surplus {
        color: #6a7f10;
    }


    .slider-tooltip {
        background-color: #007c92;
        text-align: center;
        width: 50px;
        height: 25px;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 15px 10px 10px 10px;
        color: white;
        opacity: 0.8;
        z-index:999!important;
    }

    .slider-softlimit-tooltip {
        background-color: #007c92;
        text-align: center;
        width: 225px;
        height: 25px;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 15px 10px 10px 10px;
        color: white;
        opacity: 0.8;
        z-index:999!important;
    }

    a.prominent {
        font-weight: bold;
        text-decoration: underline;
    }

    .opacity30 {
        opacity: 0.3;
        cursor: default;
    }


ul.horizontal-list {
    width: 100%; display: table; table-layout: fixed; padding:0; margin:0;
}
ul.horizontal-list li {
    display: table-cell; width: auto; text-align: left;
}
.greyed-out {
    background-color: lightgray;
    opacity: 5.5;
    padding: 5px;
    border-radius: 10px;
}
tr.greyed-out-row th, tr.greyed-out-row td {
        background-color: lightgray;
    }
tr.greyed-out-row th:first-child {
    padding-left: 5px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
tr.greyed-out-row td:last-child {
    padding-right: 5px;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.topspace-10 {
    margin-top: 10px;
}
.topspace-20 {
    margin-top: 20px;
}

/* jquery dialog */
.ui-widget-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 2;
    background-color: #000000;
    opacity: .6;
    filter:Alpha(Opacity=60); 
}
.ui-dialog.ui-widget {
    z-index: 3;
}

.white-dialog {
    position: fixed;
}
.white-dialog .ui-dialog-titlebar {
    background: white!important;
    min-height: 22px;
}
.white-dialog .ui-dialog-titlebar-close {
    background: white!important;
    background-color: white!important;
    background-image: url("../images/btn-importantmessage-close-small.png")!important;
    float:right;
    border-radius: 0px;
    background-position: center;
    margin-right: 0px;
    margin-top: 0px;
    outline-width: 0px!important;
}
.white-dialog .ui-dialog-content {
    background: white!important;
    padding: 5px 10px 15px 10px!important;
    min-height: 0px!important;
}
.white-dialog .ui-dialog-content h3 {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bolder;
}
.white-dialog .ui-dialog-content p {
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.white-dialog .ui-dialog-buttonpane {
    background: white!important;
    background-color: white!important;
    padding: 0px 10px 10px 10px;
    text-align: center;
}
.white-dialog .btn-dialog-cancel {
    background-color: #3e3e3e;
}
.white-dialog .ui-dialog-buttonpane span {
    color: #ffffff !important;
}

.highcharts-container {
    clear:both !important;
}

div.highcharts-tooltip {
    z-index: 20;
}

.table-crossmatrix {
    border-collapse:collapse;
    table-layout: fixed;
}
.table-crossmatrix th { 
    font-weight: bold;
}
.table-crossmatrix thead th {
    text-align: center;
}
.table-crossmatrix tbody th {
    text-align: right;
    width: 65px;
    padding-right: 5px;
}
.table-crossmatrix td {
    height: 50px;
    text-align: center;
    border: 1px solid gray;
    width: 60px;
}
.table-crossmatrix td.match {
    background-color: lightgray;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

tr.row-space-top th, tr.row-space-top td {
    padding-top: 20px;
}

tr.row-space-bottom25 th, tr.row-space-bottom25 td {
    padding-bottom: 25px;
}

table.maxRow265 tr th {
    width: 265px;
    max-width: 265px;
    white-space: normal;
}

table.maxRow310 tr th {
    width: 310px;
    max-width: 310px;
    white-space: normal;
}

.tabgap10 {
    padding-left: 10px!important;
}
.tabgap20 {
    padding-left: 20px!important;
}

.assumptionsTable .cashInjectionHeader{
    width: 134px;
}

#expandingEvolutionOfLiabilities{
    margin-top: 20px;
}
#expandingEvolutionOfLiabilities .expandingarea-tab{
    padding-top: 10px;
}
#expandingEvolutionOfLiabilities .expandingarea-tab-up,
#expandingEvolutionOfLiabilities .expandingarea-tab-down{
    background-position: center bottom 5px;
    margin-bottom: 0px;
}
#expandingEvolutionOfLiabilities section{
    padding-top: 0px;
    padding-bottom: 0px;
}
#expandingEvolutionOfLiabilities .expandingarea-body {
    padding-top: 5px;
}

.vertical-middle {
    vertical-align: middle !important;
}

div#overlayToDisableClick {
    opacity:0;
    filter: alpha(opacity = 0);
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    display:block;
    z-index:2;
    background:transparent;
}

/* if portrait mode is detected, rotate the entire site 90 degrees to hint rotating to landscape */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        height: 100%;
        top: -50px;
    }
}
.asterix_warning {
    color: red;
}
.enable-ldi{
    margin-left: 4px;
}
.enable-ldi input, #pension-increases-lock {
    margin-top: 4px;
    margin-right: 10px;
    float: left;
}
.enable-ldi input, #pension-increases-lock {
   margin-top: 1px\9;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .enable-ldi input, #pension-increases-lock {
        margin-top: 2px;
    }
}
#weightedReturns{
    float: left;
    width: 100%;
    margin-top:20px;
}

.assets-breakdown-tooltip {
    background-color: #007c92; 
    display: block; 
    padding: 20px; 
    opacity: 0.8; 
    font-size: 1.1em; 
    color: #ffffff;
    z-index:999!important;
}

.ldiHedgeTable{
    width: 75% !important;
    margin: auto;
}

#valuationResultValuationChartDiv{
    width: 290px;
}

.bottom-padding-twenty {
    padding-bottom: 20px !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-spacing-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.scheme-change-cover {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: rgba(255,255,255,0.5);
    display: none;
}


.scheme-change-cover .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 264px;
    height: 50px;
    margin-top: -25px;
    margin-left: -132px;
    background-color: #283371;
    z-index: 20010;
    color: white;
    padding: 5px;
    display:none;
    border: 1px solid #ccc;
}

.scheme-change-cover .spinner-container .message{
    position:relative;
    left: 58px;
    top: 14px;
}

.scheme-change-cover .spinner-container .spinner{
    top: 12px;
    left: 12px;
}

@-moz-document url-prefix() { 
  .firefox-top-panel-text-padding {
     padding-bottom: 7px;
  }
}
#feedback-icon {
    margin-top: 5px;
}
.dashboard .disabled-link, .submenu .disabled-link {
    color: #bbbaba;
    text-decoration: none;
    display: table-cell;
    height: 57px;
    vertical-align: middle;
    opacity: 0.3;
}

/* for phones */
@media only screen and (max-device-width : 768px) {
    #breakdown .grid .thirty-five, #breakdown .grid .thirty-eight {
        width: 30%;
    }
    #breakdown .grid .twenty-seven {
        width: 38%;
    }

    #breakdown .grid .legend-expando {
        width: 250px;
    }
}