/*
*	landing.css
*	Space01 Ltd. 2013
*/

/*Landing Styles*/

#breakdown .block{
    border: none;
}

#options h3{
	margin-bottom: 40px;
}

#disclaimer{
	color:#3e3e3e;
	font-size: 12px;
	padding: 28px 210px;
}

#disclaimer h3{
	font-weight:bold;
	font-size: 12px;
	line-height: 12px;
}

#schemedata h3{
	margin-bottom: 20px;
}


.icon_communication{
	background: url("../images/communication.png") 0 0 no-repeat;
	height: 47px;
	width: 50px;
}

.cashdeficit{
	color: #9e3039;
	font-size: 38px;
	font-weight: bold;
}

.contactnumber{
	font-size: 22px;
}



.up-indicator-good {
    background: url(../images/up-indicator.png) no-repeat left center;
    padding-left: 30px;
    font-size: 18pt;
    color: #3e3e3e;
}
.up-indicator-bad {
    background: url(../images/up-indicator-bad.png) no-repeat left center;
    padding-left: 30px;
    font-size: 18pt;
    color: #3e3e3e;
}

.indicatorPercentage {
    color: lightgray;   
    font-size: 18pt;
}


.down-indicator-bad {
    background: url(../images/down-indicator.png) no-repeat left center;
    padding-left: 30px;
    font-size: 18pt;
    color: #3e3e3e;
}

.down-indicator-good {
    background: url(../images/down-indicator-good.png) no-repeat left center;
    padding-left: 30px;
    font-size: 18pt;
    color: #3e3e3e;
}

.miniEvolutionDate {
    width: 150px; 
    color: white; 
    text-align: center;
    padding: 5px 0 18px 0;
    background: #3e3e3e url(../images/tab-indicator.png) no-repeat bottom center; 
}


#miniEvolutionPeriods {
    text-align: center;
    padding: 5px;
}

.miniEvolutionPeriodButton {
    color: #3e3e3e;
    padding: 5px;
    border-radius: 2px;
}

.miniEvolutionPeriodButton:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.miniEvolutionPeriodButtonSelected {
    background-color: #3e3e3e!important;
    color: white;
}


.halfHeight {
    height: 50%; 
}


.miniEvolutionLabel span {
    font-size: 15px;
    display: block; 
    padding: 0 15px;
    color: #3e3e3e;
}

.miniEvolutionChangeBox {
    margin: 0 320px 0 320px; 
    position: relative; 
    text-align: center
}


.miniEvolutionChangeBox div {
    position: absolute;
    width: 100%;
    padding:10px;
}

#hedged_cashflows{
    margin-top: 50px;
}

#assetBreakdownPie {
    line-height: 240px;
    text-align: center;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: rgb(39, 75, 109);
}