﻿html {
    overflow-y: scroll; 
}
.journey-plan-container{
    float:left;
    padding-top:40px;
    width: 1200px;
}

.journey-plan-container section{
    padding:0;
    margin:0;
}

.jp-trigger-switch-container {
    float: left;
    padding-left: 80px;
}

.jp-trigger-switch-container a {
    margin-top: 0px !important;
    margin-bottom: 6px;
}

#newJP-controls{
    width: 33%;
    float:left;
    padding:10px;
    max-width: 370px;
    margin-right: 10px;
    margin-top: 11px;
}

.journey-plan-container .trigger-container
{

}

.journey-plan-container h4{
    height:27px;
}

.jp-container-div.recovery-plan-container{
    margin-bottom: 0px !important;
}

#newJP-chart{
    width: 66%;
    float: left;
}
.journey-plan-container .highcharts-legend-item path{
    stroke-dashoffset: 3;
    stroke-width: 4px;
    /*stroke-linecap: round;*/
}

.journey-plan-container table#jpCrossOverTable {
    margin-left: 88px;
    margin-top: 20px;
}

.journey-plan-container .slider-text-container{
    width: 90px;
}

.journey-plan-container table#jpCrossOverTable .not-applicable{
    display: none;
}
.journey-plan-container table#jpCrossOverTable td, .journey-plan-container table#jpCrossOverTable th{
        background-color: #75A9C1;
        color: white;
        font-weight: bold;
        padding:4px;
        width: 150px;
}
.journey-plan-container table#jpCrossOverTable td.tp,
.journey-plan-container table#jpCrossOverTable td.ss, 
.journey-plan-container table#jpCrossOverTable td.bo{
    background-color: #7E9296;
}
    .journey-plan-container table#jpCrossOverTable td span {
        color: white !important;
        font-weight: bold !important;
    }
.journey-plan-container table#jpCrossOverTable th.clear{
       background-color: #f0f0f0;
}
.journey-plan-container table#jpCrossOverTable td.tp,
.journey-plan-container table#jpCrossOverTable td.ss,
.journey-plan-container table#jpCrossOverTable td.bo
{
    text-align:center;
}

.journey-plan-container .sign{
    display: inline-block;
    width: 10px;
    color: #3e3e3e;
}
.journey-plan-container td.gilts{
    position:relative;
}

.journey-plan-container .recovery-plan-heading{
    width: 120px
}
.journey-plan-container input[type=checkbox]{
    margin-top: 4px;
    -moz-transform: scale(0.8); /* FF */
    margin-top: 0px\9\0;
    z-index: 0;
}
@-moz-document url-prefix() {
    .cb-check-box {
        margin-top: 1px;
    }
}

.journey-plan-container .rp-settings{
    margin-bottom: 30px;
    width: 100%;
    clear: both;
}

.journey-plan-container .buy-ins-control{
    width: 100%;
    margin-bottom:10px;
}

.leading-gilts{
    position: absolute;
    left: 22px;
    color: #3e3e3e;
}

footer{
    clear: both;
    float: none;
}

.jp-container-div {
    margin: 0 auto;
    margin-bottom: 15px;
}

.jp-heading {
    margin-bottom: 24px;
}

.newJourneyPlanChartDiv {
    min-width: 310px;
    height: 500px;
    float: left;
    margin: 0 auto;
}

#jp-legend-container
{
    background-color: #EAEAEA;
    overflow: auto;
    padding: 8px 0px 8px 10px;
    float: left;
    margin-left: 60px;
}

.jp-legend-color, .jp-legend-dashed-box {
    width:20px;
    height: 20px;
    float: left;
    margin-right: 8px;
}

.jp-legend-dashed-box {
    border-style: dotted;
    border-width: 2px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
}

.jp-legend-text {
    float: left;
    margin-right: 18px;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
}

.jp-legend-checkbox {
    margin-right: 6px;
}

.jp-crossover-container, .jp-basis-container {
    overflow: auto;
}

.jp-crossover {
    width: 260px;
    height: 70px;
    float: left;
    margin-left: 140px;
    margin-top: 12px;
    padding: 12px 20px 12px 20px;
}

.jp-crossover-label {
    width: 100%;
    text-align: center;
    color: #F7F7F7;
}

.jp-crossover-date {
    width: 100%;
    text-align: center;
    color: #F7F7F7;
    font-size: 36px;
    padding-top: 4px;
}

.jp-controls-container {
    padding-top: 2px;
    padding-left: 0px;
    width: 100%;
}

#jpRecoveryInputTable2, #jpTriggerInputTable2 {
    margin-left: 20px;
}

.jp-basis-control {
    width: 90%;
    font-family: 'Lato', sans-serif;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #3e3e3e;
}

table.assumptionsTable th {
    min-width: 115px;
}

table.assumptionsTable tr.no-top-border th, table.assumptionsTable tr.no-top-border td {
    border-top: none;
}


/* common toggle switches*/
.toggle-switch, .toggle-switch-readonly {
    min-width: 40px;
    vertical-align: middle;
    text-align: center;
    margin-left: 6px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.toggle-on {
    background-color: #0F7BB9;
    color: #FFFFFF;
}

.toggle-off {
    background-color: #FFFFFF;
    color: #0F7BB9;
}

.toggle-switch-disabled {
    background-color: lightgray;
    color: #808080;
}

/*iPad in portrait*/
@media only screen and (min-width:481px) and (orientation : portrait)
 { 
    .journey-plan-container{
        width: 100%;
        display: -webkit-flex; 
        -webkit-flex-direction: column-reverse;
        overflow-x: hidden;
    }
    #newJP-controls{
        width: 100%;
        max-width: 100%;
    }
    #newJP-chart {
        width: 95%;
        padding-left: 24px;
        padding-top: 10px;
    }
    .journey-plan-container table#jpCrossOverTable {
        margin-left: 9%;
        margin-top: 10px;
    }
    .journey-plan-container .panelTab {
        padding-right: 35px;
        padding-left: 20px;
    }
    .journey-plan-container .panelTab {
        font-size: 16px;
    }
    .journey-plan-container h4{
        height: 20px;
        font-size: 18px;
    }
    .journey-plan-container .rp-settings {
        margin-bottom: 0px;
        width: 100%;
        clear: both;
    }
    .journey-plan-container .tabPanelColumn,
    .journey-plan-console .tabPanelColumn{
        margin: 0 0 4px 0;
    }
    .journey-plan-container .jp-reset {
        margin-right: 36px;
    }
    .journey-plan-container input[type=checkbox] {
        margin-top: 4px; 
    }
    .controlpanel .block{
        border-right: none;
    }
    .controlpanel .last .block{
        margin-right: 30px;
    }
    .controlpanel .cog{
        left: 42%;
    }
    .journey-plan-container input[type=checkbox]{
        margin-top: 0px;
    }
}

.jp-reset {
    margin: 0;
    margin-top: 10px;
}

.jp-select {
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0px 20px 0px 0px;
    width: 85px;
}