﻿/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/screen.scss */
p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

/* line 8, ../sass/screen.scss */
h1, h2, h3, h4 {
  margin: 0;
}

/* line 9, ../sass/screen.scss */
img {
  border: none;
}

/* line 10, ../sass/screen.scss */
a:active {
  outline: none;
}

/* line 11, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 12, ../sass/screen.scss */
sup {
  vertical-align: super;
  font-size: 12px;
}

/* line 14, ../sass/screen.scss */
input[type=text] {
  font-size: 14px;
}

/* line 15, ../sass/screen.scss */
#secundarymenu {
  display: none;
  height: 47px;
  width: 102%;
}

/* line 16, ../sass/screen.scss */
#secundarymenu .hh2 {
  float: left;
  width: 49%;
  width: 49.9%;
  border-right: 1px solid #fff;
  text-align: center;
}

/* line 17, ../sass/screen.scss */
#secundarymenu .hh3 {
  float: left;
  width: 50%;
  text-align: center;
}

/*---- color palette -----*/
/* line 33, ../sass/screen.scss */
header {
  background: #00257a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #00338d 23%, #009eda 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #00338d), color-stop(100%, #009eda));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #00338d 23%, #009eda 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #00338d 23%, #009eda 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #00338d 23%, #009eda 100%);
  /* IE10+ */
  background: linear-gradient(to right, #00338d 23%, #009eda 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00338d', endColorstr='#009eda',GradientType=1 );
  /* IE6-9 */
  position: absolute;
  top: 0;
  width: 100%;
  height: 93px;
  left: 0;
  z-index: 0;
}

/* line 45, ../sass/screen.scss */
#overheader {
  width: 86%;
  height: 93px;
  margin: 0;
  position: relative;
  padding: 0 7%;
}
/* line 52, ../sass/screen.scss */
#overheader .logo {
  background: url(../images/login/kpmg_logo.png) no-repeat;
  width: 260px;
  height: 93px;
  float: left;
}

/* line 55, ../sass/screen.scss */
#content {
  max-width: 1414px;
  color: #747678;
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

/* line 57, ../sass/screen.scss */
.headerlinks {
  padding: 37px 0 0 0;
  text-align: right;
  float: right;
}

/* line 58, ../sass/screen.scss */
.headerlinks div {
  float: left;
}

/* line 59, ../sass/screen.scss */
.ctalink {
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}

/* line 60, ../sass/screen.scss */
.ctabutton {
  color: white;
  font-size: 24px;
  background: #09134a;
  text-decoration: none;
  padding: 7px 20px 10px 20px;
  margin-left: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 61, ../sass/screen.scss */
label {
  position: relative;
}

/* line 62, ../sass/screen.scss */
label span {
  border: 1px solid #f00;
  background: #ffe4e1;
  color: #f00;
  padding: 0 2%;
  text-align: right;
  position: absolute;
  right: 7%;
  display: none;
}

/* line 63, ../sass/screen.scss */
.ctabmobile {
  color: white;
  font-size: 18px;
  background: #09134a;
  text-decoration: none;
  padding: 0;
  height: 46px;
  line-height: 43px;
}

/* line 64, ../sass/screen.scss */
.small {
  padding: 7px 20px;
}

/* line 66, ../sass/screen.scss */
.lblue_small {
  font-size: 18px;
  background: #0f7bb9;
}

/* line 67, ../sass/screen.scss */
.lblue {
  font-size: 24px;
  background: #0f7bb9;
}

/* line 68, ../sass/screen.scss */
.yellow {
  font-size: 24px;
  background: #ebb700;
}

/* line 69, ../sass/screen.scss */
.orange {
  font-size: 24px;
  background: #c84e00;
}

/* line 71, ../sass/screen.scss */
#login_header {
  background: #09134a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #09134a 49%, #00338d 52%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(49%, #09134a), color-stop(52%, #00338d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #09134a 49%, #00338d 52%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #09134a 49%, #00338d 52%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #09134a 49%, #00338d 52%);
  /* IE10+ */
  background: linear-gradient(to right, #09134a 49%, #00338d 52%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09134a', endColorstr='#00338d',GradientType=1 );
  /* IE6-9 */
  position: absolute;
  top: 93px;
  z-index: 99;
  width: 100%;
  height: 137px;
  display: none;
}

/* line 90, ../sass/screen.scss */
#loginpanel {
  position: absolute;
  top: 93px;
  width: 86%;
  padding: 0 7%;
  height: 137px;
  z-index: 100;
  display: none;
}
/* line 100, ../sass/screen.scss */
#loginpanel .loginL {
  height: 107px;
  float: left;
  width: 59%;
  display: inline-block;
  padding: 30px 0 0 0;
  background: url(../images/login/sharp-end-login.jpg) right 0 no-repeat #09134a;
}
/* line 101, ../sass/screen.scss */
#loginpanel .loginL #kpmg_form div {
  float: left;
}
/* line 103, ../sass/screen.scss */
#loginpanel .loginR {
  height: 107px;
  padding: 30px 0 0 0;
  float: right;
  width: 41%;
  display: inline-block;
  background: #00338d;
  position: relative;
}
/* line 104, ../sass/screen.scss */
#loginpanel .loginR p {
  color: white;
  font-size: 28px;
  margin: 22px 0 0 0;
  float: right;
}
/* line 105, ../sass/screen.scss */
#loginpanel .loginR a {
  margin: 20px 0 0 30px;
  float: right;
}
/* line 107, ../sass/screen.scss */
#loginpanel label {
  font-size: 16px;
  color: white;
  font-weight: normal;
  display: block;
  margin: 0 0 5px 0;
}
/* line 109, ../sass/screen.scss */
#loginpanel input[type=text], #loginpanel input[type=password] {
  width: 255px;
  height: 30px;
  margin-right: 20px;
  border: 0;
  padding: 0 0 0 5px;
}
/* line 110, ../sass/screen.scss */
#loginpanel input[type=submit] {
  border: 0;
  margin: 20px 0 0 0;
  height: 34px;
  -webkit-appearance: none;
}
/* line 112, ../sass/screen.scss */
#loginpanel .ForgottenPasswordContainer {
  display: block;
  font-size: 12px;
  color: white;
  text-decoration: underline;
  margin-top: 20px;
}
/* line 113, ../sass/screen.scss */
#loginpanel .ForgottenPasswordContainer a, #loginpanel .ForgottenPasswordContainer a:hover {
  color: white;
  text-decoration: none;
}
/* line 115, ../sass/screen.scss */
#loginpanel .close_login {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-decoration: underline;
}

/* line 118, ../sass/screen.scss */
#contactpanel {
  position: absolute;
  top: 93px;
  width: 86%;
  padding: 0 7%;
  z-index: 105;
  height: 280px;
  display: none;
}
/* line 128, ../sass/screen.scss */
#contactpanel .loginL {
  height: 250px;
  float: left;
  width: 66%;
  display: inline-block;
  padding: 30px 0 0 0;
  background: url(../images/login/sharp-end-login-2.jpg) right 0 no-repeat #09134a;
}
/* line 129, ../sass/screen.scss */
#contactpanel .loginL div {
  float: left;
  margin-bottom: 25px;
}
/* line 130, ../sass/screen.scss */
#contactpanel .loginL #kpmg_form div {
  float: left;
}
/* line 132, ../sass/screen.scss */
#contactpanel .loginR {
  height: 250px;
  padding: 30px 0 0 0;
  float: right;
  width: 34%;
  display: inline-block;
  background: #00338d;
  position: relative;
}
/* line 133, ../sass/screen.scss */
#contactpanel .loginR p {
  color: white;
  font-size: 14px;
  margin: 22px 0 0 0;
  float: right;
  width: 90%;
}
/* line 134, ../sass/screen.scss */
#contactpanel .loginR a {
  margin: 20px 0 0 30px;
  float: right;
}
/* line 135, ../sass/screen.scss */
#contactpanel .loginR span {
  font-size: 15px;
  font-weight: normal;
}
/* line 136, ../sass/screen.scss */
#contactpanel .loginR strong {
  font-weight: bold;
}
/* line 137, ../sass/screen.scss */
#contactpanel .loginR strong a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
/* line 138, ../sass/screen.scss */
#contactpanel label {
  font-size: 16px;
  color: white;
  font-weight: normal;
  display: block;
  margin: 0 0 5px 0;
}
/* line 139, ../sass/screen.scss */
#contactpanel input[type=text] {
  width: 255px;
  height: 30px;
  margin-right: 20px;
  border: 0;
  padding: 0 0 0 5px;
}
/* line 140, ../sass/screen.scss */
#contactpanel .trigger {
  border: 0;
  margin: 20px 0 0 0;
  height: 34px;
}
/* line 141, ../sass/screen.scss */
#contactpanel .submitters {
  margin-top: 29px;
}
/* line 142, ../sass/screen.scss */
#contactpanel .close_contact {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-decoration: underline;
}

/* line 147, ../sass/screen.scss */
#forgottenPassword, #forgottenUsername, #thankyou {
  position: absolute;
  top: 93px;
  width: 86%;
  padding: 0 7%;
  height: 137px;
  z-index: 100;
  display: none;
}
/* line 156, ../sass/screen.scss */
#forgottenPassword .loginL, #forgottenUsername .loginL, #thankyou .loginL {
  height: 107px;
  float: left;
  width: 61%;
  display: inline-block;
  padding: 30px 0 0 0;
  background: url(../images/login/sharp-end-login-2.jpg) right 0 no-repeat #09134a;
}
/* line 157, ../sass/screen.scss */
#forgottenPassword .loginL div, #forgottenUsername .loginL div, #thankyou .loginL div {
  float: left;
  margin-bottom: 25px;
}
/* line 158, ../sass/screen.scss */
#forgottenPassword .loginL #kpmg_form div, #forgottenUsername .loginL #kpmg_form div, #thankyou .loginL #kpmg_form div {
  float: left;
}
/* line 160, ../sass/screen.scss */
#forgottenPassword .loginR, #forgottenUsername .loginR, #thankyou .loginR {
  height: 107px;
  padding: 10px 0 0 0;
  float: right;
  width: 39%;
  display: inline-block;
  background: #00338d;
  position: relative;
}
/* line 161, ../sass/screen.scss */
#forgottenPassword .loginR p, #forgottenUsername .loginR p, #thankyou .loginR p {
  color: white;
  font-size: 14px;
  margin: 20px 0 0 0;
  float: right;
  width: 80%;
}
/* line 162, ../sass/screen.scss */
#forgottenPassword .loginR a, #forgottenUsername .loginR a, #thankyou .loginR a {
  margin: 20px 0 0 30px;
  float: right;
}
/* line 163, ../sass/screen.scss */
#forgottenPassword .loginR span, #forgottenUsername .loginR span, #thankyou .loginR span {
  font-size: 15px;
  font-weight: normal;
}
/* line 164, ../sass/screen.scss */
#forgottenPassword .loginR strong, #forgottenUsername .loginR strong, #thankyou .loginR strong {
  font-weight: bold;
}
/* line 166, ../sass/screen.scss */
#forgottenPassword label, #forgottenUsername label, #thankyou label {
  font-size: 16px;
  color: white;
  font-weight: normal;
  display: block;
  margin: 0 0 5px 0;
}
/* line 167, ../sass/screen.scss */
#forgottenPassword input[type=text], #forgottenUsername input[type=text], #thankyou input[type=text] {
  width: 255px;
  height: 30px;
  margin-right: 20px;
  border: 0;
  padding: 0 0 0 5px;
}
/* line 168, ../sass/screen.scss */
#forgottenPassword input[type=submit], #forgottenUsername input[type=submit], #thankyou input[type=submit] {
  border: 0;
  margin: 20px 0 0 0;
  height: 34px;
  -webkit-appearance: none;
}
/* line 169, ../sass/screen.scss */
#forgottenPassword .close_username, #forgottenPassword .close_password, #forgottenPassword .close_thankyou, #forgottenUsername .close_username, #forgottenUsername .close_password, #forgottenUsername .close_thankyou, #thankyou .close_username, #thankyou .close_password, #thankyou .close_thankyou {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-decoration: underline;
}

/* line 171, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 172, ../sass/screen.scss */
.nospace {
  margin: 0;
}

/* line 174, ../sass/screen.scss */
section.main {
  background: url(../images/login/main_background.jpg) right 0 no-repeat;
  height: 765px;
  width: 100%;
  padding: 0;
}
/* line 179, ../sass/screen.scss */
section.main ul {
  margin: 10px 0 35px 0;
  height: auto;
}
/* line 180, ../sass/screen.scss */
section.main .phone a {
  margin: 0 !important;
}

section.main .no-bottom-margin{
    margin-bottom: 0px;
}
section.main .ul-wrapper-div
{
    padding-top: 20px;
    padding-bottom: 40px;
    background: url(../images/content/EI_Awards2014_Winner_Small.jpg) right 0 no-repeat;
    height: 240px;
}

/* line 183, ../sass/screen.scss */
section.dynamic {
  background: url(../images/login/dynamic-background.jpg) right 0 no-repeat;
  height: 423px;
  width: 100%;
  padding: 0;
  /*height:323px;
  width:93%;
  padding: 100px 0 0 7%;*/
}
/* line 191, ../sass/screen.scss */
section.dynamic h2 {
  margin-bottom: 50px;
}

/* line 194, ../sass/screen.scss */
section.clarity {
  background: url(../images/login/clarity-background.jpg) left 0 no-repeat;
  height: 410px;
  width: 100%;
  padding: 0;
  /* 
  height:310px;
  width:93%;
  padding: 100px 7% 0 0; 
  */
  text-align: right;
}
/* line 206, ../sass/screen.scss */
section.clarity h2 {
  margin-bottom: 35px;
}

/* line 210, ../sass/screen.scss */
section.fusion {
  min-height: 865px;
  width: 86%;
  padding: 75px 7% 0 7%;
}
/* line 214, ../sass/screen.scss */
section.fusion h2 {
  margin-bottom: 50px;
}
/* line 215, ../sass/screen.scss */
section.fusion p {
  font-size: 22px;
  margin-bottom: 50px;
}
/* line 216, ../sass/screen.scss */
section.fusion ul {
  margin: 0;
  padding: 0;
}
/* line 217, ../sass/screen.scss */
section.fusion li {
  width: 23%;
  margin: 0 2.4% 0 0;
  color: #3e3e3e;
}
/* line 218, ../sass/screen.scss */
section.fusion li.last {
  width: 23%;
  margin: 0;
}
/* line 219, ../sass/screen.scss */
section.fusion li .image_list {
  width: 267;
  height: 260;
}
/* line 220, ../sass/screen.scss */
section.fusion li .image_list img {
  width: 100%;
}
/* line 221, ../sass/screen.scss */
section.fusion li p {
  font-size: 16px;
  width: 68%;
}

/* line 224, ../sass/screen.scss */
section.power {
  height: 322px !important;
  width: 86% !important;
  padding: 67px 7% 0 7% !important;
}
/* line 228, ../sass/screen.scss */
section.power h2 {
  margin-bottom: 50px;
}
/* line 229, ../sass/screen.scss */
section.power ul {
  margin: 0 0 50px 0;
  padding: 0;
}
/* line 230, ../sass/screen.scss */
section.power .big span, section.power .big a {
  font-size: 54px;
}
/* line 231, ../sass/screen.scss */
section.power .big span a {
  margin: 0;
}

/* line 234, ../sass/screen.scss */
section.gain {
  background: url(../images/login/gain-background.png) left 0 no-repeat;
  height: 300px;
  padding: 48px 7% 0 7% !important;
}
/* line 238, ../sass/screen.scss */
section.gain h2 {
  margin-bottom: 50px;
}
/* line 239, ../sass/screen.scss */
section.gain p {
  margin: 30px 0 65px 0;
}

/* line 244, ../sass/screen.scss */
section.spacer {
  width: 93%;
  background: #98c6ea;
  height: 65px;
  padding: 35px 0.05% 0 7%;
}
/* line 249, ../sass/screen.scss */
section.spacer p {
  color: white;
  font-size: 24px;
}

/* line 254, ../sass/screen.scss */
section.bluebar {
  height: 35px;
  width: 100%;
  background: url(../images/login/gain-background-tip.png) left 0 no-repeat #98c6ea;
}

/* line 256, ../sass/screen.scss */
section.footer {
  background: #09134a;
  height: 235px;
  width: 86%;
  padding: 80px 7.05% 0 7%;
}
/* line 259, ../sass/screen.scss */
section.footer p {
  font-size: 12px;
  color: white;
  line-height: 18px;
}
/* line 262, ../sass/screen.scss */
section.footer ul, section.footer li {
  margin: 0 0 15px 0;
  font-size: 12px;
}
/* line 263, ../sass/screen.scss */
section.footer li a, section.footer li a:hover {
  color: white;
  font-size: 12px;
  margin: 0 30px 0 0;
  text-decoration: underline;
  line-height: 12px;
}
/* line 264, ../sass/screen.scss */
section.footer li.last a {
  margin: 0 15px 0 0;
}
/* line 265, ../sass/screen.scss */
section.footer .footermenu {
  float: right;
  width: 35%;
}

/* line 270, ../sass/screen.scss */
h1 {
  font-size: 55px;
  color: #3e3e3e;
  font-weight: bold;
}

/* line 271, ../sass/screen.scss */
h2 {
  font-size: 32px;
  color: #3e3e3e;
}

/* line 272, ../sass/screen.scss */
h4 {
  font-size: 22px;
  margin: 50px 0 30px 0;
}

/* line 273, ../sass/screen.scss */
.moto {
  font-size: 64px;
  color: #009eda;
  margin: 40px 0 35px 0;
  line-height: 60px;
}

/* line 276, ../sass/screen.scss */
.assets {
  height: 175px !important;
  padding: 15px 0.05% 0 7% !important;
}
/* line 280, ../sass/screen.scss */
.assets ul {
  width: 100%;
}
/* line 281, ../sass/screen.scss */
.assets li {
  float: left;
  width: 53%;
  margin: 0;
}
/* line 282, ../sass/screen.scss */
.assets li.last {
  width: 43%;
}
/* line 283, ../sass/screen.scss */
.assets ul li > a {
  float: left;
  margin: 0;
}
/* line 284, ../sass/screen.scss */
.assets ul li > a img {
  width: 100%;
  -webkit-box-shadow: 4px 4px 8px -2px rgba(153, 9, 0, 0.3);
  -moz-box-shadow: 4px 4px 8px -2px rgba(153, 9, 0, 0.3);
  box-shadow: 4px 4px 8px -2px rgba(153, 9, 0, 0.3);
}
/* line 289, ../sass/screen.scss */
.assets ul li div {
  float: left;
  margin: 25px 0 0 5%;
}
/* line 291, ../sass/screen.scss */
.assets ul li div h2 {
  margin-bottom: 35px;
}

/* line 296, ../sass/screen.scss */
section {
  overflow: hidden;
}
/* line 298, ../sass/screen.scss */
section p {
  font-size: 16px;
  color: #3e3e3e;
  margin-bottom: 25px;
}
/* line 299, ../sass/screen.scss */
section li {
  font-size: 32px;
  color: #009eda;
}
/* line 300, ../sass/screen.scss */
section ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 44px;
  margin-bottom: 45px;
}
/* line 301, ../sass/screen.scss */
section li {
  float: left;
  margin: 0 20px 20px 0;
}

/* line 302, ../sass/screen.scss */
section li.phone {
  background: url(../images/login/phone_icon.png) no-repeat;
  height: 44px;
  display: inline-block;
}
/* line 303, ../sass/screen.scss */
section li.email {
  background: url(../images/login/email_icon.png) no-repeat;
  height: 44px;
  display: inline-block;
}

section.main li {
    display:inherit;
    float: none;
}
/* line 304, ../sass/screen.scss */
section li span, section li a {
  margin: 0 0 0 60px;
  line-height: 40px;
  text-decoration: none;
  color: #009eda;
}

/* line 308, ../sass/screen.scss */
.box-650 {
  width: 760px;
  float: left;
}

/* line 309, ../sass/screen.scss */
.box-50 {
  width: 50%;
  float: left;
}

/* line 310, ../sass/screen.scss */
.box-60 {
  width: 60%;
  float: left;
}

/* line 311, ../sass/screen.scss */
.box-50R {
  width: 50%;
  text-align: left;
  float: right;
}

/* line 314, ../sass/screen.scss */
.fancybox-margin {
  margin-right: 0px;
}

/* line 315, ../sass/screen.scss */
.clarity_corner {
  position: absolute;
  background: url(../images/login/clarity-corner.png) no-repeat;
  width: 111px;
  height: 410px;
  left: -111px;
  top: 0;
}

/* line 316, ../sass/screen.scss */
.dynamic_corner {
  position: absolute;
  background: url(../images/login/dynamic-corner.png) no-repeat;
  width: 115px;
  height: 423px;
  right: -115px;
  top: 0;
}

/* line 317, ../sass/screen.scss */
.main_corner {
  position: absolute;
  background: url(../images/login/white-veil.png) repeat-y;
  width: 115px;
  height: 765px;
  right: -115px;
  top: 0;
}

/* line 318, ../sass/screen.scss */
.whitebox {
  position: relative;
  background: #fff;
}

/* line 319, ../sass/screen.scss */
.fitting {
  margin: 100px 15% 0 0;
  text-align: left;
  float: right;
  height: 410px;
}

/* line 320, ../sass/screen.scss */
.fitting-invert {
  margin: 100px 0 0 15%;
  height: 425px;
}

/* line 321, ../sass/screen.scss */
.fitting-main {
  margin: 80px 0 0 13%;
  height: 665px;
}

/*-------------- 1st jump into responsive step -------------*/
@media all and (max-width: 1120px) and (min-width: 730px) {
  /* line 327, ../sass/screen.scss */
  label span {
    right: 10%;
  }

  /* line 328, ../sass/screen.scss */
  section p {
    font-size: 15px;
  }

  /*----- assets section ------*/
  /* line 331, ../sass/screen.scss */
  .spacer.assets h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  /* line 332, ../sass/screen.scss */
  .spacer.assets ul li > a {
    width: 200px;
  }

  /* line 333, ../sass/screen.scss */
  .spacer.assets ul li.last > a {
    width: 100px;
  }

  /* line 334, ../sass/screen.scss */
  .assets ul li div {
    margin: 25px 0 0 4%;
    width: 40%;
  }

  /* line 335, ../sass/screen.scss */
  .assets ul li.last div {
    margin: 25px 0 0 4%;
    width: 46%;
  }

  /* line 336, ../sass/screen.scss */
  .ctabutton {
    font-size: 18px;
  }

  /* line 337, ../sass/screen.scss */
  .assets {
    height: 165px !important;
    padding: 25px 1% 0 7% !important;
  }

  /*--- header ---*/
  /* line 340, ../sass/screen.scss */
  .hfirst {
    width: 100px;
    text-align: left;
  }

  /*-----hero---*/
  /* line 343, ../sass/screen.scss */
  h1 {
    font-size: 41px;
  }

  /* line 344, ../sass/screen.scss */
  h2 {
    font-size: 24px;
  }

  /* line 345, ../sass/screen.scss */
  .moto {
    font-size: 48px;
    line-height: 48px;
    margin: 30px 0 25px 0;
  }

  /* line 346, ../sass/screen.scss */
  section li span, section li a {
    font-size: 30px;
  }

  /* line 347, ../sass/screen.scss */
  .box-650 {
    width: 65%;
  }

  /* line 348, ../sass/screen.scss */
  .fitting-main {
    margin: 70px 0 0 13%;
    height: 695px;
  }

  /* line 349, ../sass/screen.scss */
  section p {
    margin-bottom: 20px;
  }

  /* line 350, ../sass/screen.scss */
  section.main ul {
    margin: 25px 0 92px 0;
  }

  /*----dynamic -------*/
  /* line 354, ../sass/screen.scss */
  .fitting-invert {
    margin: 70px 0 0 15%;
    height: 455px;
  }

  /* line 355, ../sass/screen.scss */
  section.dynamic h2 {
    margin-bottom: 35px;
  }

  /*---- spacer ----*/
  /* line 358, ../sass/screen.scss */
  section.spacer {
    height: 85px;
    padding: 35px 1% 0 7%;
  }

  /*----- clarity ----*/
  /* line 361, ../sass/screen.scss */
  .fitting {
    margin: 65px 15% 0 0;
  }

  /*------- fusion -------*/
  /* line 364, ../sass/screen.scss */
  section.fusion h2 {
    margin-bottom: 35px;
  }

  /* line 365, ../sass/screen.scss */
  section.fusion p {
    margin-bottom: 30px;
  }

  /* line 366, ../sass/screen.scss */
  section.fusion li p {
    width: 80%;
  }

  /*----- power spacer -----*/
  /* line 369, ../sass/screen.scss */
  section.power .big span, section.power .big a {
    font-size: 40px;
  }

  /* line 370, ../sass/screen.scss */
  section.power h2 {
    margin-bottom: 40px;
  }

  /* line 371, ../sass/screen.scss */
  section.power ul {
    margin: 0 0 95px 0;
  }

  /* line 372, ../sass/screen.scss */
  section.power {
    padding: 67px 8% 0 7% !important;
  }

  /*----- gain -----*/
  /* line 375, ../sass/screen.scss */
  section.gain {
    background: url(../images/login/gain-background.png) -150px 0 no-repeat;
  }

  /* line 376, ../sass/screen.scss */
  section.bluebar {
    background: url(../images/login/gain-background-tip.png) -150px 0 no-repeat #98c6ea;
  }

  /*----- footer -----*/
  /* line 379, ../sass/screen.scss */
  section.footer {
    height: 295px;
    padding: 60px 8% 0 7%;
  }

  /*---- login panel ----*/
  /* line 382, ../sass/screen.scss */
  #loginpanel .loginL {
    width: 69%;
    height: 112px;
    padding: 25px 0 0 0;
  }

  /* line 383, ../sass/screen.scss */
  #loginpanel .loginR {
    width: 29%;
  }

  /* line 384, ../sass/screen.scss */
  #loginpanel input[type=text], #loginpanel input[type=password] {
    width: 165px;
    height: 30px;
  }

  /* line 385, ../sass/screen.scss */
  #loginpanel label {
    font-size: 14px;
  }

  /* line 386, ../sass/screen.scss */
  .lblue_small {
    font-size: 16px;
  }

  /* line 387, ../sass/screen.scss */
  #loginpanel input[type=submit] {
    margin: 18px 0 0 0;
    height: 30;
  }

  /* line 388, ../sass/screen.scss */
  #loginpanel .loginR p {
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 0;
  }

  /* line 389, ../sass/screen.scss */
  #loginpanel .loginR a {
    margin: 20px 0 0 15px;
  }

  /* line 390, ../sass/screen.scss */
  #loginpanel .loginR .ctabutton {
    position: absolute;
    bottom: 25px;
    right: 0;
  }

  /* line 391, ../sass/screen.scss */
  .submitters {
    margin: 0 20px 0 0;
  }
}
/*-------------- 2nd jump into responsive step -------------*/
@media all and (max-width: 900px) and (min-width: 730px) {
  /*------ username & password panel-----*/
  /* line 401, ../sass/screen.scss */
  #forgottenUsername .loginL, #forgottenPassword .loginL {
    width: 58%;
    height: 120px;
    padding: 17px 0 0 0;
  }

  /* line 402, ../sass/screen.scss */
  #forgottenUsername .loginR, #forgottenPassword .loginR {
    width: 42%;
  }

  /* line 403, ../sass/screen.scss */
  #forgottenUsername .loginR p, #forgottenPassword .loginR p {
    width: 85%;
  }

  /* line 404, ../sass/screen.scss */
  #forgottenUsername label, #forgottenPassword label {
    font-size: 14px;
  }

  /* line 405, ../sass/screen.scss */
  .lblue_small {
    font-size: 16px;
  }

  /* line 406, ../sass/screen.scss */
  .submitters {
    margin: 0 50px 0 0;
  }

  /* line 407, ../sass/screen.scss */
  #forgottenUsername input[type=submit], #forgottenPassword input[type=submit] {
    margin: 0;
  }

  /* line 408, ../sass/screen.scss */
  #forgottenUsername .loginL div, #forgottenPassword .loginL div {
    margin-bottom: 15px;
  }

  /*------ get started-----*/
  /* line 411, ../sass/screen.scss */
  #contactpanel .loginR p {
    margin: 15px 0 0 0;
    width: 92%;
  }
}
/*-------------- middle jump for forms -------------*/
@media all and (max-width: 1100px) and (min-width: 730px) {
  /*------ get started-----*/
  /* line 419, ../sass/screen.scss */
  #contactpanel input[type=text] {
    width: 165px;
    height: 30px;
  }
}
/*-------------- middle jump for forms -------------*/
@media all and (max-width: 1365px) and (min-width: 1121px) {
  /*---- login panel ----*/
  /* line 428, ../sass/screen.scss */
  #loginpanel input[type=text], #loginpanel input[type=password] {
    width: 195px;
  }

  /* line 429, ../sass/screen.scss */
  #loginpanel label {
    font-size: 14px;
  }

  /* line 430, ../sass/screen.scss */
  .lblue_small {
    font-size: 16px;
  }

  /* line 431, ../sass/screen.scss */
  #loginpanel input[type=submit] {
    margin: 18px 0 0 0;
  }

  /* line 432, ../sass/screen.scss */
  #loginpanel .loginR p {
    font-size: 25px;
  }

  /* line 433, ../sass/screen.scss */
  #loginpanel .loginR a {
    margin: 20px 0 0 15px;
  }
}
/*-------------- iphone 4 and 5 and S4 screen section -------------*/
@media screen and (device-aspect-ratio: 2 / 3), screen and (device-aspect-ratio: 40 / 71), only screen and (max-width: 729px), only screen and (max-device-width: 729px), screen and (device-aspect-ratio: 9 / 16) {
  /* line 439, ../sass/screen.scss */
  label span {
    right: 11%;
  }

  /* line 440, ../sass/screen.scss */
  #login_header {
    display: none !important;
  }

  /* line 441, ../sass/screen.scss */
  section p {
    font-size: 15px;
  }

  /* line 442, ../sass/screen.scss */
  header {
    width: 102%;
  }

  /*--- header ---*/
  /* line 444, ../sass/screen.scss */
  .hfirst {
    width: 100px;
    text-align: left;
    position: absolute;
    bottom: 19px;
    right: -30px;
  }

  /* line 445, ../sass/screen.scss */
  .head2, .head3 {
    display: none;
  }

  /* line 446, ../sass/screen.scss */
  #secundarymenu {
    display: block;
  }

  /* line 449, ../sass/screen.scss */
  #overheader {
    padding: 0 3%;
    width: 88%;
  }

  /*-----hero---*/
  /* line 452, ../sass/screen.scss */
  h1 {
    font-size: 40px;
  }

  /* line 453, ../sass/screen.scss */
  h2 {
    font-size: 24px;
  }

  /* line 454, ../sass/screen.scss */
  .moto {
    font-size: 48px;
    line-height: 48px;
    margin: 30px 0 25px 0;
  }

  /* line 455, ../sass/screen.scss */
  section li span, section li a {
    font-size: 25px;
  }

  /* line 456, ../sass/screen.scss */
  .box-650 {
    width: 100%;
  }

  /* line 457, ../sass/screen.scss */
  .fitting-main {
    margin: 33px 3% 0 3%;
    height: 832px;
  }

  /* line 458, ../sass/screen.scss */
  section p {
    margin-bottom: 20px;
  }

  /* line 459, ../sass/screen.scss */
  section.main ul {
    margin: 25px 0 92px 0;
  }

  /* line 460, ../sass/screen.scss */
  section.main {
    background: none;
    height: 865px;
  }

  /*----- assets section ------*/
  /* line 463, ../sass/screen.scss */
  section.spacer {
    width: 94%;
  }

  /* line 464, ../sass/screen.scss */
  .spacer.assets h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  /* line 465, ../sass/screen.scss */
  .spacer.assets ul li > a {
    width: 150px;
  }

  /* line 466, ../sass/screen.scss */
  .spacer.assets ul li.last > a {
    width: 100px;
  }

  /* line 467, ../sass/screen.scss */
  .assets ul li {
    width: 100%;
  }

  /* line 468, ../sass/screen.scss */
  .assets ul li div {
    margin: 10px 0 0 4%;
    width: 46%;
  }

  /* line 469, ../sass/screen.scss */
  .assets ul li.last {
    margin: 20px 0 0 0;
    width: 100%;
  }

  /* line 470, ../sass/screen.scss */
  .assets ul li.last div {
    margin: 10px 0 0 4%;
    width: 44%;
  }

  /* line 471, ../sass/screen.scss */
  .ctabutton {
    font-size: 18px;
  }

  /* line 472, ../sass/screen.scss */
  .assets {
    height: 295px !important;
    padding: 25px 3% 0 3% !important;
  }

  /*----dynamic -------*/
  /* line 478, ../sass/screen.scss */
  section.dynamic {
    background: none;
    height: 385px;
  }

  /* line 479, ../sass/screen.scss */
  .fitting-invert {
    margin: 40px 3% 0 3%;
    height: 455px;
  }

  /* line 480, ../sass/screen.scss */
  section.dynamic h2 {
    margin-bottom: 35px;
  }

  /* line 481, ../sass/screen.scss */
  .box-50 {
    width: 100%;
  }

  /*---- spacer ----*/
  /* line 484, ../sass/screen.scss */
  section.spacer {
    height: 115px;
    padding: 20px 3% 0 3%;
  }

  /* line 485, ../sass/screen.scss */
  section.spacer p {
    font-size: 20px;
  }

  /*----- clarity ----*/
  /* line 487, ../sass/screen.scss */
  section.clarity {
    background: none;
  }

  /* line 488, ../sass/screen.scss */
  .fitting {
    margin: 40px 3% 0 3%;
  }

  /* line 489, ../sass/screen.scss */
  .box-50R {
    width: 100%;
  }

  /*------- fusion -------*/
  /* line 492, ../sass/screen.scss */
  section.fusion {
    padding: 45px 3% 0 3%;
    width: 94%;
  }

  /* line 493, ../sass/screen.scss */
  section.fusion h2 {
    margin-bottom: 35px;
  }

  /* line 494, ../sass/screen.scss */
  section.fusion p {
    margin-bottom: 30px;
    font-size: 18px;
  }

  /* line 495, ../sass/screen.scss */
  section.fusion li {
    width: 48%;
    margin: 0 4% 0 0;
  }

  /* line 496, ../sass/screen.scss */
  section.fusion li.last, section.fusion li.odd {
    width: 47%;
    margin: 0;
  }

  /* line 497, ../sass/screen.scss */
  section.fusion li h4 {
    height: 60px;
  }

  /* line 498, ../sass/screen.scss */
  section.fusion li.last h4 {
    height: 100px;
  }

  /* line 499, ../sass/screen.scss */
  section.fusion li.even h4 {
    height: 90px;
  }

  /* line 500, ../sass/screen.scss */
  section.fusion li p {
    width: 94%;
  }

  /*----- power spacer -----*/
  /* line 503, ../sass/screen.scss */
  section.power .big span, section.power .big a {
    font-size: 28px;
  }

  /* line 504, ../sass/screen.scss */
  section.power h2 {
    margin-bottom: 30px;
  }

  /* line 505, ../sass/screen.scss */
  section.power ul {
    margin: 0 0 95px 0;
  }

  /* line 506, ../sass/screen.scss */
  section.power {
    width: 94% !important;
    padding: 30px 3% 0 3% !important;
    height: 332px !important;
  }

  /*----- gain -----*/
  /* line 509, ../sass/screen.scss */
  section.gain {
    background: none;
    padding: 48px 3% 0 3% !important;
    height: 240px;
  }

  /* line 510, ../sass/screen.scss */
  section.gain h2 {
    margin-bottom: 30px;
  }

  /* line 511, ../sass/screen.scss */
  section.bluebar {
    background: none;
  }

  /* line 512, ../sass/screen.scss */
  section.gain p {
    margin: 30px 0 45px 0;
  }

  /*----- footer -----*/
  /* line 515, ../sass/screen.scss */
  section.footer {
    height: 395px;
    padding: 60px 3% 0 3%;
    width: 96%;
  }

  /* line 516, ../sass/screen.scss */
  section.footer li a, section.footer li, section.footer li.last a {
    margin: 0;
  }

  /* line 517, ../sass/screen.scss */
  .box-60 {
    width: 100%;
  }

  /* line 518, ../sass/screen.scss */
  section.footer .footermenu {
    width: 100%;
  }

  /* line 519, ../sass/screen.scss */
  section.footer li.f1 {
    width: 12%;
  }

  /* line 520, ../sass/screen.scss */
  section.footer li.f2 {
    width: 31%;
  }

  /* line 521, ../sass/screen.scss */
  section.footer li.last {
    width: 56%;
  }

  /*---- login panel ----*/
  /* line 525, ../sass/screen.scss */
  .submitters {
    margin: 0 20px 0 0;
  }

  /* line 527, ../sass/screen.scss */
  #loginpanel {
    height: 280px;
    background: #09134a;
    width: 96%;
    padding: 0 3%;
  }
  /* line 533, ../sass/screen.scss */
  #loginpanel label {
    font-size: 14px;
  }
  /* line 534, ../sass/screen.scss */
  #loginpanel .loginL {
    width: 56%;
    background: none;
  }
  /* line 537, ../sass/screen.scss */
  #loginpanel .loginL div {
    margin-bottom: 5px;
  }
  /* line 538, ../sass/screen.scss */
  #loginpanel .loginL .ForgottenPasswordContainer {
    line-height: 20px;
  }
  /* line 542, ../sass/screen.scss */
  #loginpanel .loginR {
    background: none;
    width: 44%;
  }
  /* line 545, ../sass/screen.scss */
  #loginpanel .loginR span {
    font-size: 15px;
    font-weight: bold;
  }
  /* line 546, ../sass/screen.scss */
  #loginpanel .loginR p {
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: right;
    font-weight: bold;
    line-height: 20px;
  }
  /* line 547, ../sass/screen.scss */
  #loginpanel .loginR a {
    margin: 20px 0 0 0;
  }
  /* line 548, ../sass/screen.scss */
  #loginpanel .loginR .ctabutton {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 17px;
  }
  /* line 551, ../sass/screen.scss */
  #loginpanel input[type=text], #loginpanel input[type=password] {
    width: 150px;
  }

  /*------ contact panel ----*/
  /* line 558, ../sass/screen.scss */
  #contactpanel {
    padding: 0 3%;
    height: 380px;
    background: #09134a;
    width: 96%;
    padding: 0 3% label;
    padding-font-size: 14px;
  }
  /* line 560, ../sass/screen.scss */
  #contactpanel label {
    font-size: 14px;
  }
  /* line 563, ../sass/screen.scss */
  #contactpanel .loginL {
    width: 56%;
    background: none;
  }
  /* line 566, ../sass/screen.scss */
  #contactpanel .loginL div {
    margin-bottom: 5px;
  }
  /* line 569, ../sass/screen.scss */
  #contactpanel .loginR {
    width: 42%;
    background: none;
  }
  /* line 572, ../sass/screen.scss */
  #contactpanel .loginR span {
    font-size: 14px;
    font-weight: bold;
  }
  /* line 573, ../sass/screen.scss */
  #contactpanel .loginR p {
    margin: 12px 0 0 0;
    line-height: 20px;
    text-align: right;
  }
  /* line 574, ../sass/screen.scss */
  #contactpanel .loginR a {
    margin: 15px 0 0 20px;
  }
  /* line 577, ../sass/screen.scss */
  #contactpanel input[type=text] {
    width: 150px;
  }

  /*------- forgot username -----*/
  /* line 582, ../sass/screen.scss */
  #forgottenUsername, #forgottenPassword {
    height: 280px;
    background: #09134a;
    width: 96%;
    padding: 0 3%;
  }
  /* line 588, ../sass/screen.scss */
  #forgottenUsername label, #forgottenPassword label {
    font-size: 14px;
  }
  /* line 589, ../sass/screen.scss */
  #forgottenUsername .loginL, #forgottenPassword .loginL {
    width: 56%;
    background: none;
  }
  /* line 592, ../sass/screen.scss */
  #forgottenUsername .loginL div, #forgottenPassword .loginL div {
    margin-bottom: 5px;
  }
  /* line 593, ../sass/screen.scss */
  #forgottenUsername .loginL .ForgottenPasswordContainer, #forgottenPassword .loginL .ForgottenPasswordContainer {
    line-height: 20px;
  }
  /* line 597, ../sass/screen.scss */
  #forgottenUsername .loginR, #forgottenPassword .loginR {
    background: none;
    width: 44%;
  }
  /* line 600, ../sass/screen.scss */
  #forgottenUsername .loginR span, #forgottenPassword .loginR span {
    font-size: 15px;
    font-weight: bold;
  }
  /* line 601, ../sass/screen.scss */
  #forgottenUsername .loginR p, #forgottenPassword .loginR p {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: right;
  }
  /* line 602, ../sass/screen.scss */
  #forgottenUsername .loginR a, #forgottenPassword .loginR a {
    margin: 20px 0 0 0;
  }
  /* line 603, ../sass/screen.scss */
  #forgottenUsername .loginR .ctabutton, #forgottenPassword .loginR .ctabutton {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 17px;
  }
  /* line 606, ../sass/screen.scss */
  #forgottenUsername input[type=text], #forgottenUsername input[type=password], #forgottenPassword input[type=text], #forgottenPassword input[type=password] {
    width: 150px;
  }

  /*------- thankyou username -----*/
  /* line 610, ../sass/screen.scss */
  #thankyou {
    height: 140px;
    background: #09134a;
    width: 96%;
    padding: 0 3%;
  }
  /* line 616, ../sass/screen.scss */
  #thankyou .loginL {
    display: none;
  }
  /* line 618, ../sass/screen.scss */
  #thankyou .loginR {
    background: none;
    width: 100%;
  }
  /* line 621, ../sass/screen.scss */
  #thankyou .loginR span {
    font-size: 15px;
    font-weight: bold;
  }
  /* line 622, ../sass/screen.scss */
  #thankyou .loginR p {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: left;
  }
  /* line 623, ../sass/screen.scss */
  #thankyou .loginR a {
    margin: 20px 0 0 0;
  }
  /* line 624, ../sass/screen.scss */
  #thankyou .loginR .ctabutton {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 17px;
  }
}
/*-------------- iphone 4 and 5 and S4 LANDSCAPE ONLY section -------------*/
@media screen and (device-aspect-ratio: 2 / 3) and (orientation: landscape), screen and (device-aspect-ratio: 40 / 71) and (orientation: landscape), only screen and (max-width: 729px) and (orientation: landscape), only screen and (max-device-width: 729px) and (orientation: landscape), screen and (device-aspect-ratio: 9 / 16) and (orientation: landscape) {
  /* line 634, ../sass/screen.scss */
  section.main {
    height: 665px;
  }

  /* line 635, ../sass/screen.scss */
  section.dynamic {
    height: 300px;
  }

  /* line 636, ../sass/screen.scss */
  section.spacer {
    height: 90px;
  }

  /* line 637, ../sass/screen.scss */
  section.fusion li.even h4 {
    height: 60px;
  }

  /* line 638, ../sass/screen.scss */
  section.fusion li.last h4 {
    height: 60px;
  }

  /* line 639, ../sass/screen.scss */
  section.gain {
    height: 200px;
  }

  /* line 640, ../sass/screen.scss */
  section.footer {
    height: 300px;
    width: 94%;
  }

  /* line 641, ../sass/screen.scss */
  section.footer li.f1 {
    width: 15%;
  }

  /* line 642, ../sass/screen.scss */
  section.footer li.f2 {
    width: 26%;
  }

  /* line 643, ../sass/screen.scss */
  header, #secundarymenu {
    width: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 648, ../sass/screen.scss */
  #overheader .logo {
    background: url(../images/login/kpmg_logo_high.png) no-repeat;
    background-size: 150px 53px;
    background-position-y: 23px;
  }
}
@media all and (max-width: 1120px) and (min-width: 730px) and (orientation: portrait) {
  /* line 652, ../sass/screen.scss */
  section.spacer {
    padding: 35px 0.2% 0 7%;
  }

  /* line 653, ../sass/screen.scss */
  section.spacer.assets {
    width: 93%;
  }

  /* line 654, ../sass/screen.scss */
  .assets {
    padding: 25px 0.2% 0 7% !important;
  }

  /* line 655, ../sass/screen.scss */
  section.footer {
    padding: 60px 7.2% 0 7%;
  }

  /* line 656, ../sass/screen.scss */
  section.power {
    padding: 67px 7.2% 0 7% !important;
  }
}
/*----- IE8 / IE7-------*/
/* line 660, ../sass/screen.scss */
.ie8 #content, .ie7 #content, .ie8 header, .ie7 header {
  width: 1414px;
}

/* line 661, ../sass/screen.scss */
.ie7 .fitting, .ie7 .fitting-invert {
  height: 0;
}

/* line 662, ../sass/screen.scss */
.ie7 .spacer.assets li img {
  width: 260px;
  height: 160px;
}

/* line 663, ../sass/screen.scss */
.ie7 .spacer.assets li.last img {
  width: 112px;
  height: 160px;
}

section.award2014 {
    background: url(../images/content/EI_Awards2014_Winner.jpg) right 0 no-repeat;
    height: 300px;
    width: 100%;
    border-bottom: 35px solid #98c6ea;
}
section.award2014 p {
    color: #009eda;
    font-size: 52px;
    line-height: 64px;
    padding-top: 72px;
    margin-left: 80px;
}