﻿.legend-expando {
    cursor: pointer; 
    color: rgb(39, 75, 109);
    width: 329px;
    margin: 0 auto;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
}

.legend-expando-rightaligned {
    cursor: pointer; 
    color: rgb(39, 75, 109);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 165px;
    float: right;
    margin-top: 20px;
}

.legend-expando-leftaligned {
    cursor: pointer; 
    color: rgb(39, 75, 109);
    float:left;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-height: 209px;
}
.legend-expando-item-container {
    clear: left;
    padding-left: 25%;
}
.legend-expando-item-container-leftaligned {
    clear: left;
}
.legend-expando-colorbox {
    float: left;
    width: 15px;
    height: 13px;
    margin-top: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;          
    clear:both;  
}
.legend-expando-colorbox-expandable {
    background-image: url(../Images/white-arrow-right.png);
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: 4px 3px;            
}
.legend-expando-colorbox-expanded {
    background-image: url(../Images/white-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: 4px 3px;
}
.legend-expando-data-item {
    float: left;
    padding-left: 5px;            
}
.legend-expando-breakdown-panel-container {
    cursor: default;
    display: none;
    clear: left;
    width: 329px;
    margin: 0 auto;
    padding: 10px 0px;
}
.legend-expando-breakdown-panel-topbar {
    height: 15px;
    width: 329px;
    background-image: url(../Images/arrow-ident-bar.gif);
    background-position: left;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.legend-expando-breakdown-panel {
    background-color: #F2F2F2;
    clear: left;
    width: 329px;
    overflow: hidden;
    padding-bottom: 10px;
}
.legend-expando-breakdown-panel-body {
    clear: left;
    padding: 10px;
    overflow: hidden;
}
table.legend-expando-breakdown-barchart {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
}
table.legend-expando-breakdown-barchart th.legend-expando-breakdown-panel-title {

    font-weight: normal;
    font-size: 15px;
    text-align: left;
    padding-bottom: 15px;
}
table.legend-expando-breakdown-barchart th.legend-expando-breakdown-panel-title-amount {
    font-size: 22px;
    font-weight: normal;
    font-family: Lato, 'sans-serif';
    text-align: right;
    padding-bottom: 15px;
}
table.legend-expando-breakdown-barchart td.legend-expando-breakdown-barchart-label {
    width: 70%;
}
table.legend-expando-breakdown-barchart td.legend-expando-breakdown-barchart-bar div {
    height: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.legend-pie{
    width: 100%;
    position: relative;
    float: left;
}