#login-panel {
    overflow: auto;
}
#no-slideshow {
    position: relative; 
    width: 495px; 
    height: 286px;
}


#no-slideshow.pics,
#slideshow.pics{
	top: 37px;
	left: 56px;
}

#slideshow.pics a ,
#no-slideshow.pics a {
    display:block;
    position:absolute;
    z-index:100;
    top:0;
    left:0;
}

.loginsection {
	padding-top:100px;
}

.loginsection .block{
	margin-right:0;
	padding:20px 30px;
}

.loginsection h2{
	margin-bottom: 20px;
}

.loginsection p{
	line-height:1.5em;
}

.loginsection .reportpane {
    margin-top: 20px;
}
.loginsection table.report {
    width: 100%;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border-spacing:0;
    border-collapse:collapse;
}

.loginsection .report td {
    word-wrap: break-word;
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #D8DFE3;
    word-wrap: break-word;
}

.loginsection .report th {
    border-bottom: 1px solid #D8DFE3;
	color: #0f7bb9;
    padding: 3px 10px 3px 0;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    width: 30%;
}

.ForgottenPasswordContainer {
    clear: left;
}

.submitters {
	padding-top: 30px;
	margin-bottom: 20px;
    vertical-align:middle;
}

/*.loginsection input[type="submit"],
.loginsection a.button{
	margin-top: 30px;
	margin-bottom: 20px;
    display:inline-block;
}*/

#getaccount h3{
	color: #ffffff;
	margin-bottom: 15px;
}

#getaccount h2, #getaccount label, #getaccount span.ticked {
	color: #ffffff;
}



#getaccount h2, #getaccount span {
	color: #ffffff;
}

#loginpane{
	padding-bottom:0;
}

.loginpane{
	padding-top:100px;
}



.loginsection label {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
	display: block;
	color: #0f7bb9;
}


/*.loginsection .validation-summary-errors ul {
    background-color: mistyrose;
    border: 1px solid pink;
    list-style: none;
    margin: 0;
    padding:5px;
    color:red;
}*/

.loginsection .field-validation-error {
    background-color: mistyrose;
    color:red!important;
    padding:0 4px;
    border: 1px solid pink;
    float:right;
}



.loginsection input[type="text"],
.loginsection input[type="file"],
.loginsection input[type="password"],
.loginsection select {
	border: 0;
	background: #ffffff;
	height: 30px;
	border-radius: 2px;
	border-top: 1px solid #d9d9d9;
	width: 99%;
    padding: 0 0 0 1%;
}

.loginsection .fileview {
	width: 77%!important;
    margin: 0;
}

.loginsection .filebutton {
	width: 21%!important;
    margin: 0;
}

.loginsection .fileInputContainer {
	margin-right: 13%;
}

.fusionlogo{
	background: url("../images/content/fusionlogo.png") 0 0 no-repeat;
	position: absolute;
	top: 90px;
	left: 151px;
	height: 85px;
	width: 215px;
	text-indent: -9999px;
}
.fusionsubhead{
	position: absolute;
	top: 103px;
	left: 356px;
	width: 273px;
	border-left: 2px solid black;
	padding-left: 25px;
	height: 52px;
}
.fusionimg{
	background: url("../images/content/mainpagemonitor.png") 0 0 no-repeat;
	position: absolute;
	top: 177px;
	left: 37px;
	height: 481px;
	width: 706px;
	z-index: 2;
}

.screenglaze{
	background: url("../images/screenglaze.png") 0 0 no-repeat;
	height: 335px;
	width: 474px;
	position: absolute;
	top: 18px;
	right: 135px;
}

.loginpaneoptions{
	padding-top:65px;
}



#getaccount{
	padding-top: 0;	
}

#getaccount .ball{
	background: none;
	height: 96px;
}

#getaccount .ballmargins {
	width: 170px;
}

#getaccount .ball .ico{
	background: url("../images/loginsprite.png") 0 0;
}

#getaccount .ball .ico.time {
	background-position: 24px 0;
}
#getaccount .ball .ico.impact {
	background-position: -216px 0;
}
#getaccount .ball .ico.scenarios {
	background-position: -458px 0;
}
#getaccount .ball .ico.charts {
	background-position: -694px;
}			

#addDocumentPanel {
    margin-top: 15px;
    float: left;
}

#addDocumentPanel input[type=button] {
    padding: 2px 5px;
    margin: 0 0 5px 0;
    display: inline-block;
}

#addDocumentPanel label {
    display: inline;
}

#addDocumentPanel .field-validation-error{
    max-width: 270px;
}

#documentDeleteHeader
{
    float:right;
    margin-top: 15px;
    color: #0f7bb9;
}

#documentsPanel
{
    margin-bottom: 16px;
}

.deleteCheckbox
{
    margin-left: 26px;
    width: 18px;
    height: 18px;
}

.documentTextbox {
    width: 86% !important;
}

#timeout-msg {
    background: url("../images/alert.png") top right no-repeat;
    border: 1px solid red;
    background-color: white;
    padding: 5px 10px 5px 10px;
    
}
#timeout-msg h3 {
    font-size:20px;
    color: red;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
#timeout-msg h5 {
    color: #3e3e3e;
    font-size:16px;
    line-height: 20px;
    font-weight: lighter;
}
.disabled-button {
    background-color: #999 !important;
    color: #F4F4F4 !important;
}
#login-submitters {
    float: left;
    width: 100%;
}
#login-btn {
    float: left;
    position: relative;
    z-index: 3;
}
#get-in-touch-btn{
    position: relative;
    z-index: 3;
}
#spinner-container {
    float: left;
    height: 35px;
    display: none;
}
#spinnerDiv {
    position: relative;
    width: 36px;
    height: 36px;
    float: left;
}
.spinner {
    position: absolute;
    top: 18px;
    left: 18px;
}
#spinnerMessage {
    margin-top: 9px;
    margin-left: 5px;
    float: left;
    color: #0f7bb9
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
	.loginsection select
	{
		-webkit-appearance: none;
		-moz-appearance: none;
		overflow: hidden;
		background: url("/Images/tooltiparrow-down.png") no-repeat #fff;
		width: 100%;
		background-position: 99% 47%;
	}
}
