/*
*	plan.css
*	Space01 Ltd. 2013
*/

/*Plan Styles*/

.plansolutions{
	margin-bottom:20px;
}

.printoptions{
	margin-bottom:20px;
}

.contents.plan{
	padding-top:150px;
}

#overlook .xlarge{
	font-size:46px;
}

#overlook .block {
	padding-bottom:1000px;
	margin-bottom:-1000px;
}