

header,
footer,
button{
	display:none;
}

section{
	padding: 15px 0px;
}

.contents{
	width: 100%;
	padding-top: 0;
}

.grid .left,
.grid .right{
	width: 99%;
	min-height: 120px;
	float: left;
}

.block{
	margin:0;
}

ul.dates{
	overflow:hidden;
}
ul.dates li{
	float:left;
	margin-right: 30px;
}