/*
*	progresscycle.css
*	Space01 Ltd. 2013
*/

.progress-cycle-container {
    padding:50px 0 0 0;
    overflow: auto;
    position:relative;
    z-index:1;

}

.progress-cycle-nav-container {
    width:10%;
    float:left;
}

.progress-cycle-nav-container span {
    display:block;
    width:22px;
    height:34px;
    cursor:pointer;
    float:left;
    margin:60% 0 0 0;
}


.progress-cycle-nav-color-grey .progress-cycle-nav-container-left span {
    background: url("../images/cyclenav-grey-left.png") 0 0 no-repeat;
}

.progress-cycle-nav-color-grey .progress-cycle-nav-container-right span {
    background: url("../images/cyclenav-grey-right.png") 0 0 no-repeat;
    float:right;
}

.progress-cycle-body {
    float:left;
    width:80%;
}

.progress-cycle {
    width:100%;

}

.progress-cycle-item {

}

.progress-cycle-dots {
    margin:50px auto 0 auto;
    overflow: auto;
}

.progress-cycle-dot-container {
    width:25px;
    float:left;
}

.progress-cycle-dot {
    background: url("../images/cycle-progressdot-grey.png") 0 0 no-repeat;
    width:15px;
    height:15px;
    cursor:pointer;
    display:block;
}

.progress-cycle-dot-color-gold .progress-cycle-dot-container.selected .progress-cycle-dot {
    background: url("../images/cycle-progressdot-gold.png") 0 0 no-repeat;

}




