/*
*	responsive.css
*	Space01 Ltd. 2013
*/

/*Responsive Styles*/
	@media only screen and (min-width: 1201px){
	
	}


	@media only screen and (max-width: 1200px){
		
		.headerwrapper {
			width: 95%;
		}
		
		.contents{
			width: 100%;
		}
		
		.controlpanelwrapper{
			width: 98%;
			padding: 1%;
		}
		
		.horizontalmode ul.tabMenu li {
			margin-right: 2.6%;
			width: 23%;
		}

		section {
			padding: 45px 25px;
		}

		h2 {
			font-size: 28px;
			line-height: 28px;
		}
		
		#plans.horizontalmode ul.tabMenu li{
			height:98px;
		}
		
		
		.horizontalmode.ui-tabs h5{
			font-size: 12px;
			line-height: 12px;		
		}
		
		.verticalmode .panelTab{
			padding: 25px;
		}
	

		.controlpanelwrapper h3 {
			font-size: 24px;
		}
		
		
		.secondmenu {
			font-size: 11px;
		}
		
		.secondmenu li {
			margin-right: 20px;
		}
		
		
		/*login*/
		.fusionimg {
			background-size: 87% auto;
		}
	

		
		
		/*solutions*/
		.solutions .block{
			padding: 10px;
		}
		
		.headcomponents{
			width: 100%;
		}
	
	}

	@media only screen and (max-width: 1160px){		
		#schemeevolutionresults {
			padding: 45px 30px;
		}
		
		footer{
			padding: 20px 140px;
		}
	
	}


	@media only screen and (max-width: 960px){		
		#breakdown .block{
			height: 309px;
		}

		.xlarge {
			font-size: 54px;
		}		
		.larger {
			font-size: 16px;
		}
		
		/*landing*/
		.contactnumber {
			font-size: 17px;
		}
		.contactemail{
			font-size: 11px;
		}
		.icon_communication{
			width: 100%;
			background-size: 100%;		
		}
		
		
		/*login*/
		.fusionimg {
			width: 471px;
		}
		
		.fusionlogo{
			left: 100px;
		}
		
		.fusionsubhead {
			width: 130px;
			left: 303px;
		}
		.fusionsubhead h3{
			font-size: 12px;
		}

		#no-slideshow.pics ,
		#slideshow.pics {
			top: 25px;
			left: 36px;
    
		}		
		
		#no-slideshow.pics img ,
		#slideshow.pics img {
			background-size: 100% auto;
			width: 327px!important;
			height: auto!important;	
		}
		

	    .fusionlogo-new {
            top: 105px;
            left: 80px;
		    width: 300px;
		    height: 67px;
		    background: url("../images/fusion-home-banner-small.png") 0 0 no-repeat;
		    text-indent: -9900px;

	    }


		.screenglaze {
			top: 24px;
			left: 36px;
            width:327px;
            background-position:top right;
		}		
		
		
		/*cave modifications*/
		ul.orbbased .copy{
			width: 100%;
		}



		
		
		.insurance #pieblock .block{
			font-size: 13px;
			line-height: 14px;		
		}
		
		.insurance #statistics .charcoalcolor {
			font-size: 15px;
			line-height: 15px;
		}



		.insurance .quadrant .transactions{
			width: 135px;
			background-size: 100% auto;
			left: 146px;
		}
		.insurance .quadrant .insurance {
			width: 135px;
			background-size: 100% auto;	
			left: 146px;	
		}
		.insurance .quadrant .pensions {
			width: 135px;
			background-size: 100% auto;				
		}
		.insurance .quadrant .bulk {
			width: 135px;
			background-size: 100% auto;		
		}
		.insurance .quadrant .center{
			width: 135px;
			background-size: 100% auto;
			top: 75px;
			left: 78px;			
		}
		.insurance .quadrant {
			height: 317px;
			width: 285px;
		}

		.instructions {
			width: 280px;
		}
		.instructions .copy {
			padding: 0 20px;
		}	
		
		
		/*analysis*/
		#opts.horizontalmode ul.tabMenu li .iconbadge{
/*
    			width: 44px;
*/
		}
		#opts.horizontalmode ul.tabMenu li .container {
/*
			width: 60%;
*/
		}

		#opts.horizontalmode ul.tabMenu li .container h2 {
			font-size: 19px;
			line-height: 21px;
		}
		
		#opts.horizontalmode .tabcontents {
			padding: 5px;
		}
		
	}

	/*ipad landscape mode*/
	@media only screen and (max-width: 1024px) and (min-width: 769px){

        .horizontalboxmode ul.tabMenu li a {
            padding-left:5px;
            padding-right:5px;

        }

        .paneoptionspanel.horizontalmode ul.tabMenu li {
            margin-left:0;
            margin-right:0;
        }

        .paneoptionspanel.horizontalmode ul.tabMenu li a {
            margin-left:0;
            margin-right:0;
            font-size:75%;
    		padding: 4px 4px 0 4px;
            line-height:1.7em;
        }


        .panelTab {
            height:auto !important;
        }

        .tabPanelColumn, div.froPanel  {
            float:left;
            width:100%;
            margin:0 0 20px 0;
        }		
	}


	/*ipad portrait mode*/
	@media only screen and (max-width:768px) {
		
        html {
                -webkit-text-size-adjust: 90%;   /* none for no scaling */
        }

        .horizontalboxmode ul.tabMenu li a {
            padding-left:5px;
            padding-right:5px;

        }

        .paneoptionspanel.horizontalmode ul.tabMenu li {
            margin-left:0;
            margin-right:0;
        }

        .paneoptionspanel.horizontalmode ul.tabMenu li a {
            margin-left:0;
            margin-right:0;
            font-size:75%;
    		padding: 4px 4px 0 4px;
            line-height:1.7em;
        }


        .panelTab {
            height:auto !important;
        }

        .tabPanelColumn  {
            float:left;
            width:100%;
            margin:0 0 20px 0;
        }

        .solutions-banner-content-container {
            top:10%;
        }

        .solutions-banner-content-container h1 {
            font-size:38px;
        }

        .solution-slant-imageright-container .solution-slant-content ,
        .solution-slant-imagerightoverlap-container .solution-slant-content {
            padding-left:130px;
            padding-right:130px;
        }
        .solution-slant-imageleft-container .solution-slant-content ,
        .solution-slant-imageleftoverlap-container .solution-slant-content {
            padding-left:130px;
            padding-right:130px;
        }

        .solution-slant-imageright-container .solution-slant-image {
            display:none;
        }

        .solution-slant-imagerightoverlap-container .solution-slant-image {
            display:none;
        }

        .solution-slant-imageleft-container .solution-slant-image {
            display:none;
        }

        .solution-slant-imageleftoverlap-container .solution-slant-image {
            display:none;
        }

        body{
            min-width: 100%;
        }
        .thirty-three{
            width: 100%
        }
        .loginpane{
            padding-top: 5px;
        }
        .browser-warning{
            width: unset;
            margin: 10px;
            position: static;
            font-size: 0.9em;
        }
        #getaccount .ballmargins{
            width: 100%;
        }
        #getaccount .ball{
            width: 100%;
        }
        #getaccount .ball .ico.time {
            background-position: 13px 0;
        }
        #getaccount .ball .ico.impact {
            background-position: -228px 0;
        }
        #getaccount .ball .ico.scenarios {
            background-position: -471px 0;
        }
        #getaccount .ball .ico.charts {
            background-position: -708px;
        }
        .loginpaneoptions {
            padding-top: 25px;
        }

        .fusionimg, #no-slideshow.pics img,
        #no-slideshow.pics, #slideshow.pics img,
        .fusionlogo-new, .screenglaze  {
			width: 0px !important;
		}
        footer {
            padding: 20px 10px;
        }

	}
 


	/*big mobile mode*/
	@media only screen and (max-width: 640px){
        .fusionimg, #no-slideshow.pics img,
        #no-slideshow.pics, #slideshow.pics img,
        .fusionlogo-new, .screenglaze  {
			width: 0px !important;
		}

	}



	/*lowest mobile mode*/
	@media only screen and (max-width: 320px) {
		header{
			position:relative;
		}
		
		.grid .left,
		.grid .right{
			width: 100%;
			margin-bottom: 10px;
		}
		
		.controlpanel .block{
			padding: 0!important;
			margin: 0!important;
			border:0;
		}
		
		.contents{
			padding:0;
		}
		
		footer{
			padding: 20px;		
		}
		
		
		#solutions .block{
			height: auto;
			margin-right:0;
		}
		
		.quote{
			margin-right:0;
		}
		
		#gridtransactions .block.secondary {
			padding: 10px;
		}
		
		.transactions{
			margin-left:0;
		}
		
		.transactions li {
			width: 70px;
			height: 70px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 10px;
			font-size: 12px;
		}

		.controlpanelwrapper h3 {
			font-size:24px;
			margin-bottom:12px;
		}
		
		.coupon {
			padding: 10px;
		}
		
		.articleholder .block{
			height: auto;
		}
		
		.reactionpane{
			height: auto;
		}
		.reactionpane .block {
			padding: 10px 20px;
		}


		.firstmenu{
			font-size: 12px;
		}
		
		.firstmenu li {
			margin-right: 16px;
		}
		
		.secondmenu li{
			float:none;
			margin:0;
		}
		
		.secondmenu li a{
			height: 22px;
		}
		
		.logo {
			top: 22px;
			left: 0;
		}

		.headerwrapper{
			width: 100%;
		}
		
		.userpanel {
			right: 0;
			width: 170px;
			margin-right: 0;
			margin-top: 64px;
		}		

		.abf #howwehelped .block {
			padding: 15px;
		}
		
		.verticalmode.ui-tabs{
			display:none;
		}
		
		.mobileVerticalTabAccordion{
			display:block;			
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.ui-accordion .ui-accordion-header{
			margin-bottom: 10px!important;
			border-bottom: 1px solid #f0f0f0;
		}
		
		.fancyboxhandler {
			font-size: 11px;
		}

	
	}



