﻿.slider-text-container, .slider-text-value{
    color: #3e3e3e;
    display: block;
    height: 20px;
    min-width: 1px;
    vertical-align: top;
}
.slider-text-container{
    width: 80px;
    padding: 5px;
    margin-left:10px;
    vertical-align: top;
}
.can-edit .slider-text-value:focus{
    outline: none;
}
.slider-text-value{
    display:inline-block;
}
.can-edit .slider-text-container-selected{
    background-color: white;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    margin-left: 8px;
 }
.can-edit{
}
.can-edit-container {
    padding: 0 !important;
}
.row-space-top .can-edit {
    padding-top: 14px !important;
}
.slider-text-disabled {
    background-color:none;
    border: none;
}
#liabilityAssumptionsTable .slider-text-container{
    width: 60px;
}
#assetMixTable .slider-text-container.billion-support{
    width: 90px;
}
span.billion-support {
    white-space: nowrap;
}
.dummyIE9Redraw{

}

.greySlider div.assumptionsSlider span.ui-slider-tick-mark {
    background-color: lightgrey !important;
}