/*
*	solutions.css
*	Space01 Ltd. 2013
*/

/*Solutions Styles*/

    .solutions .block{
	    height: 183px;
	    margin-bottom: 20px;
	    padding: 40px;
    }

    .solutions .no-ball-head {
        text-align:left;
        padding:110px 20px 10px 40px;
    }
    .solutions .no-ball-body {
        text-align:left;
        padding:10px 20px 10px 40px;
    }

    .solutions .no-ball .ico {
	    background: url("../images/optionssprite-dark-solutions.png") 0 0 no-repeat;

    }

	.solutions .no-ball .ico.risk,
	.ball .ico.risk{
		background-position: 0 0;
	}	
	.solutions .no-ball .ico.cash,
	.ball .ico.risk{
		background-position: -240px 0;
	}	
	.solutions .no-ball .ico.increase,
	.ball .ico.risk{
		background-position: -505px 0;
	}	
	.solutions .no-ball .ico.gift,
	.ball .ico.risk{
		background-position: -724px 0;
	}	

    .solutions-footer-box {
        margin:50px 0 0 30px;    
        background:#e6e6e6;
        border:1px solid #dbdbdb;
        padding:20px;
    }

    .solutions-blue-bar {
        background:#98c6ea;
        padding:20px 110px 20px 110px;
        overflow:auto;
    }

    .solutions-blue-bar-inner {
        display: table;
        background:#98c6ea;
    }

    .rightside .solutions-blue-bar-inner {
        float:right;
    }

    .solutions-blue-bar img {
        margin:0 20px 0 20px;
        display: table-cell;
        vertical-align: middle;
    }

    .solutions-blue-bar p {
        display: table-cell;
        vertical-align: middle;
    }

    .see-our-awards-tab-container {
        height:80px;
        background:#ffffff;
    }

    .see-our-awards-tab {
        width:180px;
        height:96px;
        margin:0 auto 0 auto;
        position:relative;
        z-index:100;
        cursor:pointer;

    }

    .see-our-awards-tab-down {
        background: url("../images/see-our-awards-tab-down.png") 0 0 no-repeat;
    }

    .see-our-awards-tab-up {
        background: url("../images/see-our-awards-tab-up.png") 0 0 no-repeat;
    }

    .see-our-awards-body {
        background:#ffffff;
        padding:30px 0 30px 0;
    }

    .see-our-awards-body a.downloadbtn {
        margin-top:10px;
    }

    .solutions-banner-content-container {
        position:absolute;
        top:32%;
        width:100%;
    }

    .solutions-banner-content-container h1 {
        font-size:48px;
        margin-bottom:0.6em;
        line-height:1.1em;
    }

    .solutions-banner-content-container h4 {
        font-size:22px;
    }

    .solutions-banner-content-container p {
        font-size:18px;
    }

    .solutions-video-link-container {
        top:0;
        position:relative;
        width:340px;
        margin:0 auto;
    }

    .solutions-video-link-inner {
        position:absolute;
        width:340px;
        height:120px;
        background:#0f7bb9;
        bottom:20px;

    }

    .solution-details-video-link {
        width:340px;
        height:120px;
        background:#0f7bb9;
        margin:0 auto 0 auto;
    }


    .solutions-video-play {
        display:block;
        background: url("../images/solutions-video.png") 0 0 no-repeat;
        width:170px;
        height:120px;
    }

    .memberoptions .solutions-video-play {
            background-image: url("../images/solutions-video-memberoptions.png");
    }
    .peoplepoweredperformance .solutions-video-play {
            background-image: url("../images/solutions-video-ppp.png");
    }
    .investment .solutions-video-play {
            background-image: url("../images/solutions-video-investment.png");
    }
    .assetbackedfunding .solutions-video-play {
            background-image: url("../images/solutions-video-abf.png");
    }


    .solutions-video-detail {
        padding:10px 10px 0 10px;
    }

    .solutions-video-detail p {
        font-size:16px;
        margin:0 0 0.3em 0;
        line-height:1.1em;
        padding:0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;

    }

    .solutions2-secondmenu {
        margin:0 auto 0 auto;
        width:270px;
    }

    .solutions2-secondmenu-dropdown-container {
        position:absolute;
        right:20px;
        top:15px;
        z-index: 10;
        
    }

    .solution-top-content {
        padding:70px 130px 70px 130px;
    }

	.solutionsSelector {
		color: #ffffff;
		font-size: 13px;
		padding: 10px 20px 5px 10px;
        vertical-align:top;
        line-height:23px;
        float:right;
        padding-left:20px;
	}

	.view-solutions{
		background: #09134a;
		background-image: url("../images/accountarrow.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
        display:inline-block;
        width:22px;
        height:22px;
	    margin-right: 2px;
        border-radius:2px;
        position:absolute;
        left:-10px;
	}

    #solutionsSelector.selected  {
		background:#0f7bb9;

    }


    #solutionsMenu {
        float: right;
        right: 0;
        top: 44px;
    }
    
    #solutionsMenu li {
        min-width: 206px;
    }

    .solutions .panelTab ul {
        margin:0 0 1em 0;
        padding:0;

    }

    .solutions .panelTab h5 {
        font-size:16px;
    }

    .solutions .panelTab ul li {
        list-style:none;
        background: url("../images/solutions-bullet.png") left 5px no-repeat;
        margin-left:0;
        padding-left:25px;
        margin-bottom:0.6em;
    }



    .solution-detail-panel {
        padding:70px;
    }

    .solution-detail-panel-body {
        padding:0 70px 0 70px;
    }

    .solution-detail-panel-head {
        padding:70px 70px 0 70px;
    }

    .solution-detail-panel-foot {
        padding:0 70px 70px 70px;
    }

    .solution-detail-panel p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        margin:0 0 0.6em 0;
    }


    .solution-details-header {
        margin:0 0 40px 0;
    }

    .solution-detail-video {
        display:block;
        margin:0 auto 0 auto;
        width:780px;
        height:438px; 
    }

    .white-ball-140 {
        background: url("../images/white-ball-140.png") center top no-repeat;
        min-width:140px;
        height:140px;
        line-height:140px;
        text-align:center;
        font-size:60px;
        margin:0;
        padding:0;
    }

    .white-ball-140.goldcolor span {
        color: #ebb700;

    }


    .white-ball-140.smallertext {
        font-size:40px;
    }

    .white-ball-140.xsmallertext {
        font-size:35px;
    }

    .ball-140-under {
        font-size:14px;
        padding:0 10px 0 10px;

    }


    .readbtn {
        display:block;
        text-indent:-9999px;
        width:80px;
        height:34px;
        background: url("../images/readbtn.png") left top no-repeat;
    }

    .solutions-thirty-three-box {
        margin:20px 30px 0 0;
    }

    .solutions-thirty-three-box-head {
        padding:20px;
    }

    .solutions-thirty-three-box-head img {
        display:block;
    }

    .solutions-thirty-three-box-body {
        padding:30px;
    }

    .solutions-thirty-three-box-body-content {
        padding:0 0 10px 0;
    }
    .solutions-thirty-three-box-body-content h4 {
        margin:0 0 0.6em 0;
    }

    .solutions-banner {
        width:100%;
        position:relative;
    }



    .solutions-banner-content {
        position:absolute;
        left:50%;
        top:35%;
        width:30%;
    }

    .solutions-banner-content-reward {
        position:absolute;
        left:52%;
        top:35%;
        width:30%;
    }


    .solution-slant-container {
        position:relative;
        width:100%;
        min-height:450px;
    }



    .solution-slant-content {
        padding:70px 0 20px 0;
    }


    .solution-slant-imageright-container .solution-slant-content ,
    .solution-slant-imagerightoverlap-container .solution-slant-content {
        padding-left:130px;
        padding-right:620px;
    }
    .solution-slant-imageleft-container .solution-slant-content ,
    .solution-slant-imageleftoverlap-container .solution-slant-content {
        padding-left:620px;
        padding-right:130px;
    }


    .solution-slant-image {

    }

    .solution-slant-image img {
        display:block;
    }

    .solution-slant-imageleft-container .solution-slant-image {
        width:516px;
        height:450px;
        left:0;
        bottom:0;
        position:absolute;
        z-index:1;

    }

    .solution-slant-imageleftoverlap-container .solution-slant-image {
        width:516px;
        height:476px;
        left:-5px;
        bottom:0;
        margin:0 0 -26px 0;
        position:absolute;
        z-index:1;

    }

    .solution-slant-imageright-container .solution-slant-image {
        width:516px;
        height:450px;
        right:-5px;
        bottom:0;
        position:absolute;
        z-index:1;

    }



    .solution-slant-imagerightoverlap-container .solution-slant-image {
        width:516px;
        height:476px;
        right:-5px;
        bottom:0;
        margin:0 0 -26px 0;
        position:absolute;
        z-index:1;

    }

    .solution-detail-top .solution-slant-container  {
        min-height:340px;
        padding:20px 0 20px 0;
    }

    .solution-detail-top .solution-slant-imageright-container .solution-slant-image {
        width:509px;
        height:370px;
        right:0;
    }

    .solution-detail-top .solution-slant-imagerightoverlap-container .solution-slant-image {
        width:509px;
        height:398px;
        right:0;
        margin:0 0 -28px 0;
    }


    .solution-slant-content h3 {
        margin:0 0 0.8em 0;
    }

    .solution-slant-content .morebtn {
        margin:40px 0 0 0;
    }

    .solution-panel-also {
        padding:20px 130px 20px 130px;
    }

    .insight-container {
        padding:0 30px 30px 0;
    }

    .padded-box {
        margin:10px 0 20px 0;
    }

    .pad30 {
        padding:30px;

    }

    .solutions-award-small-container {
        width:162px;
    }
    .solutions-award-small-item-l {
        width:82px;
    }
    .solutions-award-small-item-r {
        width:80px;
    }

    .solutions-award-large-container {
        width:176px;
    }

    .solutions-award-center-container {
        margin-left: 160px;
    }

.solutions-image-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

ol.roman-numbers
{
    list-style-type:lower-roman;
}

div.solutions-fund-plan
{
    background: url("../images/fund_plan_background.jpg") no-repeat center top;
    overflow: auto;
    min-height: 275px;
}

div.solutions-fund-plan-center
{
    text-align: center;
}

.solutions-integrated-funding-blue
{
    color: #047D93;
    font-weight: bold;
}

.solutions-integrated-funding-purple
{
    color: #A95CA4;
    font-weight: bold;
}

.solutions-integrated-funding-camel
{
    color: #A9A071;
    font-weight: bold;
}

.solutions-integrated-funding-red
{
    color: #9E2F39;
    font-weight: bold;
}
.top-padding-fifty
{
    padding-top: 50px;
}
.side-padding-twenty
{
    padding-left: 20%;
    padding-right: 20%;
}
.side-padding-ten
{
    padding-left: 10%;
    padding-right: 10%;
}