﻿.styleable-select{
    position: relative;
    background: #e7e7e7 url('../Images/datepicker-button.png') no-repeat;
    background-position: right 5px center;
    display:inline-block;
    cursor: pointer;
    padding-right: 20px;
    text-align: left;
    border-radius: 2px;
}
.styleable-select .select-options{
    display: none;
    position:absolute;
    background-color: #e7e7e7;
    z-index:2;
    border-radius: 2px;
}
.styleable-select .select-option{
    padding: 4px 0px 7px 5px;
    cursor: pointer;
    z-index:3;
    border-radius: 2px;
}
.styleable-select .select-options{
    width: 100%;
    border-radius: 2px;
}
.styleable-select .select-options .selected{
    color: white;
    background-color: #0f7bb9;
    border-radius: 2px;
}
.styleable-select .select-selected{
    background-color: #e7e7e7 !important;
    color: black !important;
    border-radius: 2px;
}

