/*
*	tabs.css
*	Space01 Ltd. 2013
*/

/*Tab Styles*/

	ul.tabMenu{
		margin: 0;
		padding:0;
		overflow: hidden;		
	}

	ul.tabMenu li{
		float:left;
		list-style-type: none;
		outline: none;
	}

	ul.tabMenu li a{
		display: block;
		font-size: 14px;
		color:#c7c7c7;
		text-decoration: none;
	}

	ul.tabMenu li.ui-state-active a{
		color:#3e3e3e;
	}
	
	.horizontalmode ul.tabMenu li {
		float: left;
		list-style-type: none;
		height: 65px;
		margin-right: 25px;
		width: 23%;
	}
	
	.horizontalmode .tabHeader{
		margin-top:20px;
		margin-bottom:5px;
	}

	.horizontalmode ul.tabMenu li.lastelement{
		margin-right:0;
	}

	.horizontalmode ul.tabMenu li .iconbadge{
		background: #0f7bb9;
		background-image: url("../images/tabicons.png");
		background-position: 9px 21px;
		background-repeat: no-repeat;	
		height:94px;
	}

	.horizontalmode ul.tabMenu li .iconbadge.time{
		background-position: 4px 0px;
	}
	.horizontalmode ul.tabMenu li .iconbadge.cash{
		background-position: -318px 0px;
	}	
	.horizontalmode ul.tabMenu li .iconbadge.risk{
		background-position: -638px 0px;
	}
	.horizontalmode ul.tabMenu li .iconbadge.accounting{
		background-position: -957px 0px;
	}


	
	.horizontalmode ul.tabMenu li.ui-state-active .iconbadge{
		background-color: #007c92;
	}
	
	.horizontalmode ul.tabMenu li.ui-state-active{
		background: url("../images/activetab.png") 10px 99% no-repeat;
	}
	
	
	.horizontalmode .panelTab {
		padding:40px;
	}
	
	.horizontalmode  .tabcontents{
		padding: 10px;
		color:#3e3e3e;
	}
	
	.horizontalmode  .tabcontents h2,
	.horizontalmode  .tabcontents h5{
		margin-bottom:0;
	}
	
	.horizontalmode  .tabcontents h2{
		color:#0f7bb9;
	}

	.horizontalboxmode ul.tabMenu li {
		float: left;
		list-style-type: none;
        margin-right:5px;
        background:#bfbfbf;
        color:#ffffff;
	}

    .horizontalboxmode ul.tabMenu li a {
        background:#bfbfbf;
        color:#ffffff;
        padding:15px 30px 15px 30px;
    }

	.horizontalboxmode ul.tabMenu li.ui-state-active{
		background:#ffffff;
        color:#3e3e3e;
	}
	
	.horizontalboxmode ul.tabMenu li a:hover,
	.horizontalboxmode ul.tabMenu li.ui-state-active a{
		background:#ffffff;
        color:#3e3e3e;
	}

	.horizontalboxmode .tabHeader{
		margin-bottom:0;
	}

	.horizontalboxmode ul.tabMenu li.lastelement{
		margin-right:0;
	}

    .horizontalboxmode .panelTab {
        padding:60px 0 60px 0;
    }


	.verticalmode.ui-tabs{
		overflow: hidden;
	}

	.verticalmode ul.tabMenu{
		width: 32%;
		float: right;
		padding-top: 60px;
		padding-bottom: 100%;
		margin-bottom: -100%;	
	}

	.verticalmode .panelTab {
		float: left;
		padding: 60px;
		width: 55%;
		overflow: hidden;
	}

	.verticalmode ul.tabMenu li{
		width: 100%;
		margin-bottom: 20px;
	}

	.verticalmode ul.tabMenu li a {
		padding-left: 60px;
		padding-right: 60px;
	}


	.verticalmode ul.tabMenu li.ui-state-active a{
		background: url("../images/indicator.png") 0 50% no-repeat;
	}