﻿@model SettingsViewData
@{
    ViewBag.Title = "Settings";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/application")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.RouteUrl("Home")' class="button">Home</a>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->

            <div id="user-form-container" class="lightgrey">
                <div class="block lightgrey include_indicator">
                    <h2>Settings</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table>
                            <tr>
                                <th>Important Message:</th>
                                <td width="700">
                                    @Html.ValidationMessageFor(x => x.ImportantMessage)
                                    @Html.TextBoxFor(x => x.ImportantMessage, new { autocomplete = "off", width = "200px" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="left">
                                        @if (Model.ShowSuccess)
                                        {
                                            <span class="changeSucceeded">Changes saved</span>
                                        }
                                        <input type="submit" value="Save" id="save-settings-btn" class="submit-limit" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

