﻿<div class="grid">
    <div class="tabPanelColumn left">
        <div class="block">
            <table id="pension-increase-assumptions-table" class="assumptionsTable maxRow265">
                <tr class="head">
                    <th><h4>Pension increases</h4></th>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodStart"></span></h5></td>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodEnd"></span></h5></td>
                </tr>
                <tr id="tr-1">
                    <th></th>
                    <td id="td-init-1" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-2">
                    <th></th>
                    <td id="td-init-2" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-3">
                    <th></th>
                    <td id="td-init-3" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-4">
                    <th></th>
                    <td id="td-init-4" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-5">
                    <th></th>
                    <td id="td-init-5" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-6">
                    <th>6</th>
                    <td id="td-init-6" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
            </table>
        </div>
    </div>														
</div>								
