﻿<div class="grid">
    <div class="tabPanelColumn left fifty">
        <div class="block">
            <table id="marketdata_yields" class="assumptionsTable">
                <tr class="head">
                    <th><h4>Yields and Inflation</h4></th>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodStart"></span></h5></td>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodEnd"></span></h5></td>
                </tr>
                <tr id="marketDataYieldsInflation">
                    <th>Inflation (RPI 20 year)</th>
                    <td class="values"></td>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataYieldsGilts">
                    <th>Gilts (over 15 year)</th>
                    <td class="values"></td>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataYieldsLinkedGilts">
                    <th>Index Linked Gilts (over 15 year)</th>
                    <td class="values"></td>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataYieldsCorporateBonds">
                    <th>Corporate Bonds (AA over 15 year)</th>
                    <td class="values"></td>
                    <td class="values"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="tabPanelColumn right fifty last">
        <div class="block">
            <table id="marketdata_assetreturns" class="assumptionsTable">
                <tr class="head">
                    <th><h4>Asset Returns</h4></th>
                    <td><h5 class="alignright" style=""><span>Return Over Period</span></h5></td>
                </tr>
                <tr id="marketDataReturnsUKEquity">
                    <th>UK equity</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsGlobalEquity">
                    <th>Global equity</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsProperty">
                    <th>Property (UK)</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsDGFs">
                    <th>DGFs</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsGilts">
                    <th>Gilts (over 15 year)</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsIndexLinkedGilts">
                    <th>Index Linked Gilts (over 15 year)</th>
                    <td class="values"></td>
                </tr>
                <tr id="marketDataReturnsCorporateBonds">
                    <th>Corporate Bonds (AA over 15 year)</th>
                    <td class="values"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
