﻿<div class="grid">
    <div class="tabPanelColumn left">
        <div class="block">
            <table id="liability-assumptions-table" class="assumptionsTable maxRow265">
                <tr class="head">
                    <th><h4>Assumptions</h4></th>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodStart"></span></h5></td>
                    <td><h5 class="alignright" style=""><span class="analysisPeriodEnd"></span></h5></td>
                </tr>
                <tr id="tr-PreRetirementDiscountRate">
                    <th>Pre retirement discount rate</th>
                    <td id="td-init-PreRetirementDiscountRate" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-PostRetirementDiscountRate">
                    <th>Post retirement discount rate</th>
                    <td id="td-init-PostRetirementDiscountRate" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-PensionDiscountRate">
                    <th>Pensioner discount rate</th>
                    <td id="td-init-PensionDiscountRate" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-SalaryIncrease">
                    <th>Salary increases</th>
                    <td id="td-init-SalaryIncrease" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-InflationRetailPriceIndex">
                    <th>Inflation (RPI)</th>
                    <td id="td-init-InflationRetailPriceIndex" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-InflationConsumerPriceIndex">
                    <th>Inflation (CPI)</th>
                    <td id="td-init-InflationConsumerPriceIndex" class="values"></td>
                    <td class="values" data-unit="%"></td>
                </tr>
                <tr id="tr-LifeExpectancy65">
                    <th>Life Expectancy Male at 65</th>
                    <td id="td-init-LifeExpectancy65" class="values"></td>
                    <td class="values" data-unit="yrs"></td>
                </tr>
                <tr id="tr-LifeExpectancy65_45">
                    <th>Life Expectancy Male at 65<br /> (currently 45)</th>
                    <td id="td-init-LifeExpectancy65_45" class="values"></td>
                    <td class="values" data-unit="yrs"></td>
                </tr>
                <tr id="tr-SacrificeProportion">
                    <th class="preventSchemeLabelOverride">Commutation allowance</th>
                    <td id="td-init-SacrificeProportion" class="values"></td>
                    <td class="values" data-unit="%" data-precision="0"></td>
                </tr>
            </table>
        </div>
    </div>
			
    <div class="tabPanelColumn right last">
        <div class="block">
            <div class="left sixty">
                <h4>Liability breakdown</h4>
            </div>
            <div class="right fourty">
                <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
            </div>
            <div id="liabilityChartContainer" style="width: 450px;">
                <div id="liabilityBreakdownPie" style="width: 280px; height: 240px; float: left"></div>
            </div>
        </div>
    </div>
</div>
