﻿<div class="grid">
    <div class="tabPanelColumn left fifty">
        <div class="block">
            <table id="evolution-scheme-data-contributions" class="assumptionsTable">
                <tr class="head">
                    <th><h4>Contributions</h4></th>
                    <td></td>
                </tr>
                <tr>
                    <th>Regular employee</th>
                    <td id="evolution-scheme-data-regular-employee" class="values"></td>
                </tr>
                <tr>
                    <th>Regular employer</th>
                    <td id="evolution-scheme-data-regular-employer" class=" values"></td>
                </tr>
                <tr>
                    <th>Deficit recovery contributions</th>
                    <td id="evolution-scheme-data-deficit" class="values"></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td id="evolution-scheme-data-total" class="values"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabPanelColumn right fifty last">
        <div class="block">
            <table id="evolution-scheme-data-benefits" class="assumptionsTable">
                <tr class="head">
                    <th><h4>Benefits paid</h4></th>
                    <td></td>
                </tr>
                <tr>
                    <th>Benefit payments</th>
                    <td id="evolution-scheme-data-benefit-payments" class="values"></td>
                </tr>
                <tr>
                    <th style="padding-top: 20px">Net Cashflow</th>
                    <td style="padding-top: 20px" id="evolution-scheme-data-net-cashflow" class="values"></td>
                </tr>
            </table>
        </div>
    </div>
</div>