﻿<div class="grid">
    <div class="tabPanelColumn left fifty">
        <div class="block" style="position: relative;" id="evolution-assumptions-assets-container">
            <div class="left fifty">
                <h4>Asset breakdown</h4>
            </div>
            <div class="right fifty">
                <h5 class="alignright" style="padding-top: 4px"><span class="analysisPeriodEnd"></span></h5>
            </div>
            <div class="legend-pie">
                <div id="assetBreakdownPie" style="width: 300px; height: 220px; position: absolute; left: 200px; z-index:10;"></div>
            </div>
        </div>
        <div class="block">
            <table id="hedgedCashflowsTable" class="assumptionsTable">
                <tr class="head">
                    <th><h4>Hedge summary</h4></th>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest rate</td>
                    <td class="values" style="white-space: nowrap">
                        <span id="hedged_currentBasis_interest_rate" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_interest_rate" class="charcoalgreycolor"></span> of cashflows)
                    </td>
                </tr>
                <tr>
                    <td>Inflation</td>
                    <td class="values" style="white-space: nowrap">
                        <span id="hedged_currentBasis_inflation" class="charcoalgreycolor"></span>&nbsp; (<span id="hedged_cashflows_inflation" class="charcoalgreycolor"></span> of cashflows)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabPanelColumn right fifty last">
        <div class="block">
            <div id="evolution-assumptions-assets-growth-table-container" style="clear: right;">
                <table id="evolution-assets-growth" class="assumptionsTable">
                    <tbody>
                        <tr class="head">                        
                            <td colspan="2"><h5>Growth over period</h5></td>
                            <td><h5>Value</h5></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
