﻿@using FlightDeck.DomainShared
@using Fusion.WebApp.Controllers
@model Fusion.WebApp.Models.SchemeViewModel
@{
    ViewBag.Title = "Evolution";
}


@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
                <div id="evolution_options" class="hide dashboardheader">
                    <div class="grid">
                        <!--grid-->
                        <div class="left">
                            <div class="account basisSelector"></div>
                        </div>
                        <div class="left first-basis-on-menu">
                            <h5>Valuation basis</h5>
                            <h3 id="currentBasis" class="valuationbasisheader">@Model.CurrentBasisName</h3>
                            @Html.BasisDropdown(Model.SchemeData)
                        </div>
                        <div class="right">
                            <h5 style="margin-bottom: 5px;">Analysis period</h5>
                            <div class="headertitlewrap"><input class="analysisPeriodStart h3" type="text" value="" data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-max-date="@Model.RefreshDate.ToShortDateString()" />
                            <span style="color: #3e3e3e; margin: 0 5px;">to</span>
                            <input class="analysisPeriodEnd h3" type="text" value="" data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-max-date="@Model.RefreshDate.ToShortDateString()" /></div>
                        </div>
                        <div class="left">
                            <h5 id="analysisPeriodBalanceLabel"></h5>
                            <h3 id="analysisPeriodBalance"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paneconsole close">
                <div id="evolution_dashboard" class="hide dashboardcomponent">
                    <!--dashboard-->
                    <div data-posting-url="testpost.php"></div>
                    <!--tabs-->
                    <div data-tabs="true" data-orientation="horizontal" id="evolutiondashboard" class="paneoptionspanel">
                        <div class="tabHeader">
                            <div class="wrapHead">
                                <ul class="tabMenu">
                                    <li><a href="#evolutiondashboard_liabilities"><h5>Liabilities</h5></a></li>
                                    <li><a href="#evolutiondashboard_pensionincreases"><h5>Pension increases</h5></a></li>
                                    <li><a href="#evolutiondashboard_assets"><h5>Assets</h5></a></li>
                                    <li><a href="#evolutiondashboard_marketdata"><h5>Market data</h5></a></li>
                                    <li><a href="#evolutiondashboard_schemedata"><h5>Scheme data</h5></a></li>
                                </ul>
                            </div>
                        </div>

                        <div id="evolutiondashboard_liabilities" class="panelTab">
                            @Html.Action("EvolutionLiabilities", "Evolution")
                        </div>
                        <div id="evolutiondashboard_pensionincreases" class="panelTab">
                            @Html.Action("EvolutionPensionIncreases", "Evolution")
                        </div>
                        <div id="evolutiondashboard_assets" class="panelTab">
                            @Html.Action("EvolutionAssets", "Evolution")
                        </div>
                        <div id="evolutiondashboard_marketdata" class="panelTab">
                            @Html.Action("EvolutionMarketData", "Evolution")
                        </div>
                        <div id="evolutiondashboard_schemedata" class="panelTab">
                            @Html.Action("EvolutionSchemeData", "Evolution")
                        </div>
                    </div>
                    <!--tabs-->
                </div>

            </div>

        </div>
        <div class="cog">Assumptions <span class="open"></span></div>
    </div>
}



<!--contents-->
<div class="contents evolution">
    <section id="schemeevolution" class="white">
        <div id="trackerValuationChartDiv" class="aligncenter" style="min-width: 310px; height: 330px; margin: 0 auto"></div>
    </section>

    <div id="expandingEvolutionOfLiabilities" class="white" title="Evolution of liabilities">
        <section class="white">
            <div id="trackerComparisonChartDiv" class="aligncenter" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        </section>
    </div>

    <section style="padding-top:10px; padding-bottom: 10px;"></section>

    <section id="funding-level-section" class="white" style="padding-top: 20px;">

        <div class="left twenty-five">
            <ul id="balanceChartLegend" class="evolutionLegend">
                <li class="deficitLegend">Deficit/Surplus</li>
                @if (Model.BasisTypes.Contains(BasisType.TechnicalProvision))
                {
                    <li class="expectedLegend">Expected Deficit/Surplus</li>
                }
            </ul>
            <ul id="fundingChartLegend" class="evolutionLegend" style="display: none;">
                <li class="fundingLegend">Funding Level</li>
                <li class="fundingLegendExpected">Expected Funding Level</li>
            </ul>
        </div>

        <div id="fundingLevelChartTabs" class="lensSubTabs" style="min-height: 250px;">
            <ul style="padding-bottom: 20px;">
                <li><a href="#balanceTab">Funding Level @Model.CurrencySymbol</a></li>
                <li><a href="#fundingTab">Funding Level %</a></li>
            </ul>
            <div id="balanceTab" style="min-height: 150px;">
                <div id="trackerBalanceChartDiv" class="aligncenter" style="height: 150px; margin: 0 auto"></div>
            </div>
            <div id="fundingTab" style="min-height: 150px;">
                <div id="trackerFundingChartDiv" class="aligncenter" style="height: 150px; margin: 0 auto"></div>
            </div>
        </div>

        <div class="clearfix">
            <h5 class="aligncenter" style="color:#aaa">Progression of assets and liabilities based on changes in general market conditions. Actual experience could be different from estimated</h5>
        </div>

    </section><!--section-->


    <section id="analysissurplus" class="darkgrey">
        <!--section-->
        <h2 class="aligncenter">Analysis of change</h2>

        <div id="analysisOfSurplusChartDiv" class="aligncenter" style="min-width: 310px; height: 340px; margin: 0 auto"></div>

    </section><!--section-->

    <section id="schemeevolutionresults" class="white">
        <!--section-->
        <div class="grid">
            <!--grid-->
            <div id="endDateDiv" class="right thirty-three darkolivegreenindicator rightarrow">
                <div class="block aligncenter">
                    <h5 id="endDate" class="whitecolor"></h5>
                    <h1><span id="endDateBalance" class="whitecolor"></span></h1>
                </div>
            </div>
            <div id="startDateDiv" class="left thirty-three rougeredindicator rightarrow">
                <div class="block aligncenter">
                    <h5 id="startDate" class="whitecolor"></h5>
                    <h1><span id="startDateBalance" class="whitecolor"></span></h1>
                </div>
            </div>
            <div class="left thirty aligncenter">
                <h3 id="balanceChange" class="difference"></h3>
            </div>
        </div>
    </section>

</div>
<!--contents-->
@section scripts {
    @Scripts.Render("~/bundles/evolution")
}
