﻿@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.AnalysisViewModel

<input type="hidden" name="accounting-attribution-end-date" value="@Model.CurrentBasis.AttributionEnd.ToShortDateString()"/>

<div id="accounting" class="panelTab">
    <div class="grid">
        <br />
        <div class="left thirty aligncenter">
            <h4 class="aligncenter">Balance sheet estimate</h4>
            <div id="accountingBalanceChartDiv" class="aligncenter" style="height: 280px; margin: 0 auto"></div>
        </div>
        <div class="right sixty-six">

            <input type="hidden" id="AccountingDefaultStandard" value="@Model.AccountingSettings.DefaultStandard">
            <div id="accountingLensTabs" class="lensSubTabs" style="margin-top: 0px;">
                <ul>
                    @if (Model.AccountingSettings.IAS19Visible)
                    {
                    <li><a href="#ias19Tab">IAS19</a></li>  }
                    @if (Model.AccountingSettings.FRS102Visible)
                    {
                    <li><a href="#frs102Tab">FRS102</a></li>  }
                    @if (Model.AccountingSettings.USGAAPVisible)
                    {
                    <li><a href="#gaapTab">US GAAP</a></li> }
                </ul>
                <h4 class="aligncenter" style="padding-left:100px">P&amp;L forecast <small>(1 year from </small><small id="pandl-title"></small><small>)</small></h4>
                @if (Model.AccountingSettings.IAS19Visible)
                {
                    <div id="ias19Tab" data-type="@AccountingStandardType.IAS19">
                        <div id="accountingIASChartDiv" class="aligncenter" style="height: 280px; width: 720px;"></div>
                    </div>
                }
                @if (Model.AccountingSettings.FRS102Visible)
                {
                    <div id="frs102Tab" data-type="@AccountingStandardType.FRS102">
                        <div id="accountingFRSChartDiv" class="aligncenter" style="height: 280px; width: 720px; "></div>
                    </div>
                }
                @if (Model.AccountingSettings.USGAAPVisible)
                {
                    <div id="gaapTab" data-type="@AccountingStandardType.USGAAP">
                        <div id="accountingGAAPChartDiv" class="aligncenter" style="height: 280px; width: 720px; "></div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="aligncenter" style="padding-left:470px"><a id="btn-accounting-download" href='@Url.Action("Disclosure", new { type = Model.AccountingSettings.DefaultStandard, start = Html.ToUnixEpochDate(Model.CurrentBasis.AttributionStart), end = Html.ToUnixEpochDate(Model.CurrentBasis.AttributionEnd) })'><img src='@Url.Content("~/Images/downloadbtn.png")' /></a></div>
    <h5 class="alignright" style="padding-right:34px; padding-top: 10px;color:#aaa">Excludes any one-off accounting events (past service costs, settlements, curtailments etc)</h5>

    <input type="hidden" id="disclosure-url-base" value="@Url.Action("Disclosure")" />

    <div id="accounting-dialog-warning" title="">
        <h3>Attention</h3>
        <p>
            Please note that this document will reflect changes to the asset or liability assumptions.  All other panels need to be reset to their default position for the document to be downloaded.
        </p>
    </div>
    <div id="accounting-dialog-custom-datepicker" class="clearfix" title="">
        <h3>Select accounting period</h3>
        <div class="dialog-body">
            <div class="headertitlewrap" style="margin-top:10px">
                <input id="disclosure-daterange-start" class="analysisPeriodStart h3" type="text" value="" data-range-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-range-max-date="@Model.CurrentBasis.AttributionEnd.ToShortDateString()" data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-max-date="@Model.RefreshDate.ToShortDateString()" style="font-size: 20px; width: 110px" />
                <span style="color: #3e3e3e; margin: 0 5px;">to</span>
                <input id="disclosure-daterange-end" class="analysisPeriodEnd h3" type="text" value="" data-range-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-range-max-date="@Model.CurrentBasis.AttributionEnd.ToShortDateString()" data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-max-date="@Model.RefreshDate.ToShortDateString()" style="font-size: 20px; width: 110px" />
            </div>
        </div>
    </div>
    <div id="accounting-dialog-period-datepicker" class="clearfix" title="">
        <h3>Select accounting period</h3>
        <div class="dialog-body">
        </div>
    </div>
</div>