﻿@using Fusion.WebApp.Controllers
@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.AnalysisViewModel
@{
    ViewBag.Title = "Analysis";

    var defaultLens = Model.CurrentBasisType == BasisType.TechnicalProvision ? 1 : Model.CurrentBasisType == BasisType.Accounting ? 3 : 0;
}

@Html.Hidden("EnableFutureBenefits", ViewBag.FutureServiceEnabled ? "true" : "false")
@Html.Hidden("EnableAccountingLens", ViewBag.EnableAccountingLens ? "true" : "false")
@Html.Hidden("EnableABFPanel", ViewBag.EnableABFPanel ? "true" : "false")
@Html.Hidden("EnableInsurancePanel", ViewBag.EnableInsurancePanel ? "true" : "false")

@section controlPanel {

    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
                <div id="analysis_options" class="hide dashboardheader">
                    <div class="grid">
                        <!--grid-->
                        <div class="left">
                            <img id="reset-scheme" src='@Url.Content("~/Images/reset-scenario-icon-large.png")' class="resetSelector" title="Reload scheme defaults" />
                        </div>
                        <div class="left">
                            <img id="scenarios-flag" src='@Url.Content("~/Images/save-scenario-icon-large.png")' class="basisSelector" style="height: 24px; width: 24px; margin-top: 24px; margin-right: 0px;" />
                        </div>
                        <div class="left">
                            <div class="account basisSelector"></div>
                        </div>
                        <div class="left first-basis-on-menu">
                            <h5>Valuation basis</h5>
                            <h3 id="currentBasis" class="valuationbasisheader" data-masterbasisid="@Model.CurrentBasis.MasterBasisId.ToString()" data-basistypeid="@((int)Model.CurrentBasisType)">@Model.CurrentBasisName</h3>
                            @Html.BasisDropdownWithScenarios(Model.SchemeData, Model.SavedScenarios)
                        </div>
                        <div class="right">
                            <h5 style="margin-bottom: 5px;">Analysis date</h5>
                            <div class="headertitlewrap"><input id="analysis-date" class="analysisPeriodEnd h3" type="text" value="" data-range-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-range-max-date="@Model.CurrentBasis.AttributionEnd.ToShortDateString()" data-min-date="@Model.CurrentBasis.AnchorDate.ToShortDateString()" data-max-date="@Model.RefreshDate.ToShortDateString()" /></div>
                        </div>
                        <div class="left">
                            <h5 id="analysisPeriodBalanceLabel"></h5>
                            <h3 id="analysisPeriodBalance"></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<!--contents-->
<div class="contents analysis">
    <section id="journeyplan" class="">
        <!--tabs-->
        <div data-tabs="true" data-default="@defaultLens" data-orientation="horizontal" id="opts">
            <div class="tabHeader">
                <div class="wrapHead">
                    <ul class="tabMenu">
                        <li>
                            <a href="#time">
                                <div class="grid grey">
                                    <div class="left hundred time iconbadge">
                                        <h2 class="alignright tempHide">Time</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#cash">
                                <div class="grid grey">
                                    <div class="left hundred cash iconbadge">
                                        <h2 class="alignright tempHide">Cash</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#risk">
                                <div class="grid grey">
                                    <div class="left hundred risk iconbadge">
                                        <h2 class="alignright tempHide">Risk</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="lastelement">
                            @if (ViewBag.HasAccountingBasis)
                            {
                                <a id="accountingLensLink" href="#accounting" data-disabled-title="Please select an Accounting valuation basis to enable this lens">
                                    <div class="grid grey">
                                        <div class="left hundred accounting iconbadge">
                                            <h2 class="alignright tempHide">Accounting</h2>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="grid grey">
                                    <div class="left hundred accounting iconbadge degrayed" title="No accounting data held for scheme">
                                        <h2 class="alignright tempHide">Accounting</h2>
                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>

            <div id="time" class="panelTab">

                <div id="timeLensTabs" class="lensSubTabs tempHide">
                    <ul>
                        <li><a id="funding-progression-tab-link" href="#journeyPlanTab">Funding Progression</a></li>
                        <li><a href="#cashflowTab">Cashflows</a></li>
                    </ul>
                    <div id="journeyPlanTab">
                        <h2 id="funding-progression-chart-title" class="aligncenter" style="margin:0 0 5px 238px">Funding Progression</h2>
                        <div id="journeyPlanChartDiv" class="aligncenter" style="height: 352px"></div>
                        <h5 id="funding-progression-chart-footer" class="aligncenter tempHide" style="color:#aaa">Progression of funding levels based on selected asset &amp; liability assumptions</h5>
                    </div>
                    <div id="cashflowTab">
                        <h2 class="aligncenter" style="margin:0 0 5px 248px">Liability cashflows</h2>
                        <div id="cashflowChartDiv" class="aligncenter" style="height:352px"></div>
                    </div>
                </div>

            </div>

            <div id="cash" class="panelTab">
                <br />
                <div class="grid">
                    <div class="left thirty aligncenter">
                        <div id="fundingChartDiv" class="aligncenter" style="height:333px"></div>
                    </div>
                    <div class="right sixty-six">
                        <div id="recoveryPlanChartDiv" class="aligncenter" style="height:333px;"></div>
                        <div id="recoveryPlanChartDivNAContainer" style="height:333px; display: none;">
                            <div id="recoveryPlanChartDivNAContainer-title" style="height: 20px">Recovery plan</div>
                            <div id="recoveryPlanChartDivNAContainer-body" style="height: 313px">N/A</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="risk" class="panelTab">

                <div id="riskLensTabs" class="lensSubTabs">
                    <ul>
                        <li><a href="#varWaterfallTab">Waterfall</a></li>
                        <li><a href="#varFunnelTab">Funnel</a></li>
                    </ul>
                    <div id="varWaterfallTab">
                        <div class="aligncenter" style="margin:0 0 5px 160px">
                            <span class="h2">Value at Risk over</span>
                            <div id="varPeriodSelect" class="styleable-select h2">
                                <div class="select-selected"></div>
                                <div class="select-options">
                                    <div class="select-option" data-value="1">1 year</div>
                                    <div class="select-option" data-value="2">2 years</div>
                                    <div class="select-option" data-value="3">3 years</div>
                                    <div class="select-option" data-value="4">4 years</div>
                                    <div class="select-option" data-value="5">5 years</div>
                                </div>
                            </div>
                            <span class="h2">with a</span>
                            <div id="varChanceSelect" class="styleable-select h2">
                                <div class="select-selected"></div>
                                <div class="select-options">
                                    <div class="select-option" data-value="0.9">1 in 10 chance</div>
                                    <div class="select-option" data-value="0.95">1 in 20 chance</div>
                                    <div class="select-option" data-value="0.99">1 in 100 chance</div>
                                    <div class="select-option" data-value="0.995">1 in 200 chance</div>
                                </div>
                            </div>
                        </div>

                        <div id="varWaterfallChartDiv" class="aligncenter" style="height:352px"></div>
                        <h5 class="aligncenter" style="color:#aaa">Value at Risk ('VaR') figures are high level estimates based on simple statistical calculations</h5>
                    </div>
                    <div id="varFunnelTab">
                        <h2 class="aligncenter" style="margin:0 0 5px 200px">VaR Funnel - Projection of funding position</h2>
                        <div id="varFunnelChartDiv" class="aligncenter" style="height:352px"></div>
                    </div>
                </div>
            </div>


            @if (ViewBag.HasAccountingBasis)
            {
                @Html.Partial("_AccountingPanel")
            }

        </div>
        <!--tabs-->

    </section><!--section-->

    <section class="grey" style="padding:0;">
        <div id="cloneable-scenario-li" style="display:none">
            <li class="scenario">
                <div>
                    <a data-scenario='0' href='@Url.Action("LoadAnalysisAssumptions", "Json")' style="float:left;"></a>
                    <a href="#" class="remove-scenario" style="float:right;" title="Delete scenario">
                        <img src='@Url.Content("~/Images/remove-icon-disabled.png")' onmouseover="this.src='@Url.Content("~/Images/remove-icon.png")'" onmouseout="this.src='@Url.Content("~/Images/remove-icon-disabled.png")'" />
                    </a>
                </div>
                <div style="clear: both"></div>
            </li>
        </div>
        <a href="#" id="scenario-save-btn">Save this scenario</a>
        <a href="#" id="scenario-save-count" style="display: none">0</a>
        <div id="scenario-save-dialog" title="">            
            <input type="hidden" name="scenarios-existing" value="@Html.SavedScenariosToJson(Model.SavedScenarios)"/>
            <h3>Save scenario</h3>
            <div style="width: 210px; padding-top: 10px; padding-left: 30px;">
                <div>
                    <span class="field-validation-error" style="display:none;">Required</span>
                    <label for="scenario-new-name" style="float:left;">Name:</label>
                </div>
                <input type="text" name="scenario-new-name" id="scenario-new-name" style="width:210px" maxlength="60" />
            </div>
        </div>
        @if (Model.AllowScenarioDownload)
        {
            @Html.ActionLink("Download this scenario", "ResultsDump", null, new { id = "scenario-download-btn" })
        }
        <div data-tabs="true" data-orientation="horizontal" id="analysisdashboard" class="paneoptionspanel">
            <div class="tabHeader charcoalgrey " style="padding-top:10px; margin-bottom: -2px">
                <div class="wrapHead">
                    <ul class="tabMenu whitecolor">
                        <li><a href="#analysisdashboard_liabilities" style="padding-bottom:6px">Liability assumptions</a></li>
                        <li><a href="#analysisdashboard_assets" style="padding-bottom:6px">Asset assumptions</a></li>
                        <li><a href="#analysisdashboard_recoveryplan" style="padding-bottom:6px">Recovery plan</a></li>
                        <li><a href="#analysisdashboard_investmentstrategy" style="padding-bottom:6px">Investment strategy</a></li>
                        <li><a href="#analysisdashboard_fro" style="padding-bottom:6px">FRO</a></li>
                        <li id="li-analysisdashboard_etv" data-disabled-title="Unavailable for embedded FRO"><a href="#analysisdashboard_etv" style="padding-bottom:6px">ETV</a></li>
                        <li><a href="#analysisdashboard_pie" style="padding-bottom:6px">PIE</a></li>
                        <li id="li-analysisdashboard_futurebenefits" data-disabled-title="Unavailable for selected basis"><a href="#analysisdashboard_futurebenefits" style="padding-bottom:6px">Future benefits</a></li>
                        <li id="li-analysisdashboard_abf" data-disabled-title="Please select a non-Accounting basis to enable this panel"><a href="#analysisdashboard_abf" style="padding-bottom:6px">ABF</a></li>
                        <li id="li-analysisdashboard_insurance" data-disabled-title="Please select a buyout basis to enable this panel"><a href="#analysisdashboard_insurance" style="padding-bottom:6px">Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="lighterblue" style="border-left: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf; margin-bottom: 0">
                <div id="analysisdashboard_liabilities" class="panelTab panelTabHeight630">
                    @Html.Action("AnalysisLiabilities", "Dashboard")
                </div>
                <div id="analysisdashboard_assets" class="panelTab panelTabHeight560">
                    @Html.Action("AnalysisAssets", "Dashboard")
                </div>
                <div id="analysisdashboard_recoveryplan" class="panelTab panelTabHeight630">
                    @Html.Action("RecoveryPlan", "Dashboard")
                </div>
                <div id="analysisdashboard_investmentstrategy" class="panelTab bottom-padding-twenty">
                    @Html.Action("InvestmentStrategy", "Dashboard")
                </div>
                <div id="analysisdashboard_fro" class="panelTab">
                    @Html.Action("Fro", "Dashboard")
                </div>
                <div id="analysisdashboard_etv" class="panelTab">
                    @Html.Action("Etv", "Dashboard")
                </div>
                <div id="analysisdashboard_pie" class="panelTab">
                    @Html.Action("Pie", "Dashboard")
                </div>
                <div id="analysisdashboard_futurebenefits" class="futureServiceRelated panelTab">
                    @Html.Action("FutureBenefits", "Dashboard")
                </div>
                <div id="analysisdashboard_abf" class="panelTab">
                    @Html.Action("Abf", "Dashboard")
                </div>
                <div id="analysisdashboard_insurance" class="panelTab panelTabHeight828">
                    @Html.Action("Insurance", "Dashboard")
                </div>
            </div>
        </div>
        <div class="charcoalgrey whitecolor noborder" style="padding:20px;margin-top:-10px">

        </div>
</section>



</div>
<!--contents-->
@section scripts {
    @Scripts.Render("~/bundles/analysis")
}
