﻿@model Fusion.WebApp.Models.NameEmailUpdateModel

<h2>Change details</h2>

@using (Html.BeginForm("ChangeNameEmail", "Account"))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)

    </div>

    <div>
        @Html.ValidationMessageFor(m => m.EmailAddress)
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
    </div>

    <div class="submitters">
        @if (Model.Result.HasFlag(ResultEnum.Success))
        {
            <span class="changeSucceeded">Change made</span>
        }
        else if (Model.Result.HasFlag(ResultEnum.Failure))
        {
            <span class="changeFailed">Change failed</span>
        }

        <input type="submit" value="Change details" id="change-name-btn" class="submit-limit" />
    </div>
}
