﻿@model Fusion.WebApp.Models.SchemeNameUpdateModel

<h2>Change scheme</h2>

@using (Html.BeginForm("ChangeScheme", "Account"))
{
    @Html.AntiForgeryToken()

    <div>
                @if (Model.Result.HasFlag(ResultEnum.Failure)) { 
                    <span class="field-validation-error">Invalid scheme</span>
                }
                @Html.ValidationMessageFor(m => m.SchemeName)
                @Html.LabelFor(m => m.SchemeName)
                @Html.TextBoxFor(m => m.SchemeName, new { autocomplete = "off", @class = "schemeNameSearch", data_schemesource = Url.Action("List", "Scheme") })<div id="favouriteIcon" class="user-favourite-selector" title="Add to Favourites" data-type='@(Model.IsFavourite ? "gold" : "silver")' data-schemeid='@Model.SchemeDetailId'></div>
    </div>

    <div class="submitters">
        @if (Model.Result.HasFlag(ResultEnum.Success)) {
            <span class="changeSucceeded">Change made</span>
        }
        else if (Model.Result.HasFlag(ResultEnum.Failure)) {
            <span class="changeFailed">Change failed</span>
        }
        <input type="submit" value="Change scheme" id="change-scheme-btn" class="submit-limit" />
    </div>
    
    <script>
       $(document).ready(function () {
           $("#change-scheme-btn").click(function () {
               fusion.showSchemeChangeLoadingCover();
           });
       });
    </script>
}
