﻿@model Fusion.WebApp.Models.PasswordUpdateModel

<h2>Change password</h2>

@using (Html.BeginForm(Model.FormHandler.ActionName, Model.FormHandler.ControllerName))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.OldPassword)
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { autocomplete = "off" })
    </div>
    
    <div>
        @Html.ValidationMessageFor(m => m.NewPassword)
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off" })
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
    </div>
    <div class="topspace-10">
        @Html.Partial("_PasswordRequirementMessage")
    </div>

    <div class="submitters">
        @if (Model.Result.HasFlag(ResultEnum.Success)) {
            <span class="changeSucceeded">Change made</span>
        } else if (Model.Result.HasFlag(ResultEnum.Failure)) {
            <span class="changeFailed">Change failed</span>
        }
        <input type="submit" value="Change password" id="change-pwd-btn" class="submit-limit" />
    </div>
}
