﻿@model Fusion.WebApp.Models.UserNameUpdateModel

<h2>Change username</h2>

@using (Html.BeginForm("ChangeUserName", "Account"))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.NewUserName)
        @Html.LabelFor(m => m.NewUserName)
        @Html.TextBoxFor(m => m.NewUserName, new { autocomplete = "off" })
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.CurrentPassword)
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.PasswordFor(m => m.CurrentPassword, new { autocomplete = "off" })

    </div>

    <div class="submitters">
        @if (Model.Result.HasFlag(ResultEnum.Success)) {
            <span class="changeSucceeded">Change made</span>
        }
        else if (Model.Result.HasFlag(ResultEnum.Failure)) {
            <span class="changeFailed">Change failed</span>
        }
        <input type="submit" value="Change username" id="change-username-btn" class="submit-limit" />
    </div>
}

