﻿@model Fusion.WebApp.Models.UserEmailViewModel

<html>
<head>
    <style>
        label {
            width: 100px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>Welcome!</h2>

    <p>We have received a password reset for your account with KPMG Fusion.</p>

    <p>If this was you, please follow the link below to reset your password.</p>

    <a href="@Url.Action("ResetPassword", "Account", new { username = Model.UserName, token = Model.Token }, "http")">KPMG Fusion - Reset Password</a>

</body>
</html>