﻿@model FlightDeck.DomainShared.UserProfile

<html>
<head>
    <style>
        label {
            width: 100px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>Welcome!</h2>

    <p>We have received a username reminder reset for your account with KPMG Fusion.</p>

    <p>Your username is: <b>@Model.UserName</b></p>

</body>
</html>