﻿@model Fusion.WebApp.Models.GetStartedModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get Started Email</title>
    <style>
        th {
            text-align: left; margin-right: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h2>A request for a demonstration has been received:</h2>
        <table>
            <tr><th>Name</th><td>@Model.contactName</td></tr>
            <tr><th>Email</th><td>@Model.contactemail</td></tr>
            <tr><th>Role/Job title</th><td>@Model.contactRole</td></tr>
            <tr><th>Company/Scheme</th><td>@Model.contactOrg</td></tr>
            <tr><th>Telephone</th><td>@Model.contactPhone</td></tr>
        </table>
    </div>
</body>
</html>
