﻿@model Fusion.WebApp.Models.LoginViewModel
    <div id="login-panel" class="block lightgrey include_indicator">
    <h2>Sign in</h2>

    @if (Model.ShowTimeoutMessage)
    {
        <div id="timeout-msg">
            <h3>Your session has expired.</h3>
            <h5>Please sign in again to continue.</h5>
        </div>
    }

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off" })
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { autocomplete = "off" })
        </div>
        <div id="login-submitters" class="submitters">
            @if (Model.ShowSignInFailed)
            {
                <span class="changeFailed">Sign in failed</span>
            }
            
            <input type="submit" value="Sign in" id="login-btn" class="submit-limit" />
            <div id="spinner-container">
                <div id="spinnerDiv"></div>                
                <div id="spinnerMessage">Performing calculations...</div>
            </div>
            
        </div>

    }

    <div class="ForgottenPasswordContainer">
        Forgotten @Html.ActionLink("Username", "ForgottenUsername") / @Html.ActionLink("Password", "ForgottenPassword")?
    </div>


</div>