﻿@model Fusion.WebApp.Models.LoginNotificationViewModel

<html>
<head>
    <style>
        label {
            width: 100px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <p>
        @Model.FirstName @Model.LastName has logged into Fusion.
        <br/>
        <br />Details are
        <br />Username: @Model.UserName
        <br />Role: @Model.Role
        <br />Scheme: @Model.Scheme
        <br />Scheme generated from Tracker version: @(!string.IsNullOrEmpty(Model.DataCaptureVersion) ? Model.DataCaptureVersion : "Pre 49.01")
        <br />Scheme supported by Fusion v@(Fusion.WebApp.AppSettings.Version.ToString(4)): @(Model.SchemeSupported ? "YES" : "NO")
        <br />Email: @Model.Email
        <br />Log in: @Model.Date.ToString()
    </p>

</body>
</html>