﻿@model Fusion.WebApp.Models.ForgottenUsernameViewModel
@{
    ViewBag.Title = "Forgotten Username";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisableTimeout()

<div class="contents loginsection">

    <section id="loginpane" class="grey loginpane">
        <a href="~/" class="fusionlogo-new">Fusion Pension risk management</a>
        <div class="fusionimg">
            <div class="screenglaze"></div>
            <div id="no-slideshow" class="pics">
                <a class="fancybox fancybox.iframe" href="https://player.vimeo.com/video/79197932"><img src="/images/content/logins/explore-fusion-video.png" /></a>
            </div>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->
            <div class="right fourty">
                <div class="block lightgrey include_indicator">
                    @using (Html.BeginForm("ForgottenUsername", "Account"))
                    {
                        if (Model.RequestReceived)
                        {
                            <h2>Thank you</h2>
                            <p style="margin-bottom:110px">Your request has been received and should be processed shortly.</p>
                            <div class="submitters">
                                <span class="changeSucceeded">Thank you</span>
                                <a href="@Url.Action("Login", new { @new = true })" class="button">
                                    Sign in
                                </a>
                                <br />
                            </div>

                        }
                        else
                        {
                            <h2>Forgotten username?</h2>
                            <p>Please enter your email address in the field below.</p>
                            <p>We shall attempt to email you your username.</p>
                            <br />
                            <div>
                                @Html.ValidationMessageFor(m => m.Email)
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { autocomplete = "off" })
                            </div>
                            <div class="submitters">
                                @if (Model.HasError == true)
                                {
                                    <span class="changeFailed">Request failed</span>
                                }
                                <input type="submit" value="Reset username" />
                            </div>
                        }

                    }

                </div>
            </div>

        </div><!--grid-->


    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->


        <div class="grid">
            <!--grid-->
            <div class="right fourty">
                <div class="block mustygrey">
                    <div>
                        <h3>Having problems?</h3>
                        <div class="submitters">
                            <a href="mailto: @AppSettings.SupportEmail" class="button">
                                Get in touch
                            </a>

                        </div>
                    </div>


                </div>
            </div>

        </div><!--grid-->

        <div class="grid loginpaneoptions">
            <!--grid-->
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico time"></div>
                </div>
                <div class="ballmargins"><p>Track scheme over time</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico impact"></div>
                </div>
                <div class="ballmargins"><p>Review risk impact</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico scenarios"></div>
                </div>
                <div class="ballmargins"><p>Test multiple scenarios &amp; assumptions</p></div>
            </div>
            <div class="left twenty-five last">
                <div class="ball">
                    <div class="ico charts"></div>
                </div>
                <div class="ballmargins"><p>Simple, dynamic charts</p></div>
            </div>
        </div><!--grid-->


    </section><!--section-->
</div>
