﻿@using Fusion.WebApp
@model Fusion.WebApp.Models.LoginViewModel
@{
    Layout = "";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>KPMG - Fusion</title>

    @Styles.Render("~/Content/landingcss")
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

    <meta property="og:title" content="KPMG - Knowledge Services Handbook" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="[Partner-url-here]" />
    <meta property="og:image" content="[share-image-here]" />
    <meta property="og:image:width" content="210">
    <meta property="og:image:height" content="210">
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="KPMG - Knowledge Services Handbook" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/landingjs")

    <!-- built by Mauricio Masias : The Crocodile -->
    <!--[if lt IE 9]>
        <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/modernizr.js"></script>
    <![endif]-->

</head>

<body>

    <header></header>
    <div id="login_header"></div>

    <div id="content">

        <div id="overheader">
            <div class="logo"></div>
            <div class="headerlinks">
                <div class="hfirst"><a href="http://www.kpmg.com/UK/en/services/Tax/Pensions/Pages/default.aspx" class="ctalink" target="_blank">Visit KPMG UK pension website</a></div>
                <div class="head2"><a href="#" class="ctabutton  request">Get&nbsp;started</a></div>
                <div class="head3"><a href='@Url.Action("Login", new { @new = true })' class="signin ctabutton">Sign&nbsp;in</a></div>
            </div>
        </div>

        <div id="secundarymenu">
            <a href="#" class="request"><div class="hh2 ctabmobile">Get&nbsp;started</div></a>
            <a href='@Url.Action("Login", new { @new = true })' class="signin"><div class="hh3 ctabmobile">Sign&nbsp;in</div></a>
        </div>

        <div id="contactpanel">

            <div class="loginL">

                @using (Html.BeginForm("GetStarted", "Account", null, FormMethod.Post, new { id = "kpmg_contact_form" }))
                {
                    <div>
                        <span class="field-validation-valid" data-valmsg-for="contactName" data-valmsg-replace="true"></span>
                        <label for="UserName">Name <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="contactName" name="contactName" type="text" value="">
                    </div>

                    <div>
                        <span class="field-validation-valid" data-valmsg-for="contactEmail" data-valmsg-replace="true"></span>
                        <label for="Password">Email <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="contactEmail" name="contactemail" type="text" value="">
                    </div>

                    <div>
                        <span class="field-validation-valid" data-valmsg-for="contactRole" data-valmsg-replace="true"></span>
                        <label for="UserName">Role/Job title <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="contactRole" name="contactRole" type="text" value="">
                    </div>

                    <div>
                        <span class="field-validation-valid" data-valmsg-for="contactOrg" data-valmsg-replace="true"></span>
                        <label for="Password">Company/Scheme <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="contactOrg" name="contactOrg" type="text" value="">
                    </div>

                    <div>
                        <span class="field-validation-valid" data-valmsg-for="contactPhone" data-valmsg-replace="true"></span>
                        <label for="Password">Telephone <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="contactPhone" name="contactPhone" type="text" value="">
                    </div>


                    <div class="submitters">
                        <a href="#" class="trigger ctabutton small lblue_small">Submit</a>
                    </div>

                }


            </div>

            <div class="loginR">

                <a href="#" class="close_contact">Close</a>

                <p><span>Get started with KPMG Fusion</span></p>
                <p>To request your <strong>free demonstration</strong>, call the KPMG pensions team on <strong>020 7311 8600</strong> &#8209;&nbsp;or enter your details in the form to the left and we'll contact you.</p>
            </div>

        </div>


        <div id="loginpanel">

            <div class="loginL">

                <form id="kpmg_form">

                    @Html.AntiForgeryToken()
                    <div>
                        <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                        <label for="UserName">Username <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="UserName" name="UserName" type="text" value="" />
                    </div>

                    <div>
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        <label for="Password">Password <span>Required</span></label>
                        <input data-val="true" data-val-required="Required" id="Password" name="Password" type="password" />
                    </div>

                    <div class="submitters">
                        <input type="submit" value="Sign in" class="ctabutton small lblue_small" />
                    </div>

                    <div class="ForgottenPasswordContainer">
                        Forgotten <a href="#" class="usernamex">Username</a> / <a href="#" class="passwordx">Password</a>?
                    </div>

                </form>
                <div class="clear"></div>

            </div>

            <div class="loginR">

                <a href="#" class="close_login">Close</a>
                <a href="#" class="ctabutton small lblue_small request">Get in touch</a>
                <p>Don't have an account?</p>
            </div>

        </div>

        <div id="forgottenUsername">

            <div class="loginL">

                @using (Html.BeginForm("ForgottenUsername", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        <label for="Email">Email <span>Required</span></label>
                        <input autocomplete="off" data-val="true" data-val-required="Required" id="forgottenUsernameEmail" name="Email" type="text" value="" />
                    </div>

                    <div class="submitters">
                        <input id="forgottenUsernameSubmit" type="submit" value="Reset username" class="ctabutton small lblue_small" />
                    </div>
                }

            </div>

            <div class="loginR">

                <a href="#" class="close_username">Close</a>
                <p><span>Forgotten username?</span><br />Please enter your registered email address and we will send a username reminder.</p>

            </div>

        </div>

        <div id="forgottenPassword">

            <div class="loginL">

                @using (Html.BeginForm("ForgottenPassword", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                        <label for="forgottenPasswordUsername">Username <span>Required</span></label>
                        <input autocomplete="off" data-val="true" data-val-required="Required" id="forgottenPasswordUsername" name="UserName" type="text" value="" />
                    </div>

                    <div class="submitters">
                        <input id="forgottenPasswordSubmit" type="submit" value="Reset password" class="ctabutton small lblue_small" />
                    </div>
                }

            </div>

            <div class="loginR">

                <a href="#" class="close_password">Close</a>
                <p><span>Forgotten password?</span><br />Please enter your username and we will send password reset instructions.</p>

            </div>

        </div>


        <div id="thankyou">

            <div class="loginL"></div>

            <div class="loginR">

                <a href="#" class="close_thankyou">Close</a>
                <p><span>Thank you</span><br />Your request has been received and should be processed shortly.</p>

            </div>

        </div>


        <section class="main">
            <div class="whitebox box-650">
                <div class="fitting-main">
                    <h1>KPMG FUSION</h1>
                    <h2>Pension Risk Management</h2>

                    <p class="moto">Power your pensions strategy in a new way</p>
                    <p>Introducing KPMG Fusion<sup>&reg;</sup> – a new online tool fuelling insight, powering conversations and igniting action for your defined benefit pension scheme.</p>
                    <p class="no-bottom-margin">Fusion helps companies and trustees to better support pension risk management decisions with real-time information and insights. It lets you dynamically model options for managing cost and risk – and see immediately what you can achieve.</p>
                    <div class="ul-wrapper-div">
                        <ul>
                            <li class="phone"><span>020 7311 8600</span></li>
                            <li class="email"><a href="mailto:@AppSettings.ContactEmail">@AppSettings.ContactEmail</a></li>
                            <li><a href="#" class="ctabutton lblue nospace request">Request&nbsp;a&nbsp;free&nbsp;demonstration</a></li>
                        </ul>                        
                    </div>
                </div>
                <div class="main_corner"></div>
            </div>
        </section>

        <section class="spacer assets">

            <ul>
                <li>
                    <a href="//player.vimeo.com/video/92141036?autoplay=1" class="various fancybox.iframe"><img src='@Url.Content("~/Images/login/fusion_video.jpg")' alt="Fusion video" /></a>
                    <div>
                        <h2>See the Fusion video</h2>
                        <a href="//player.vimeo.com/video/92141036?autoplay=1" class="various fancybox.iframe ctabutton yellow nospace">Watch now</a>
                    </div>
                </li>

                <li class="last">
                    <a href='@Url.Content("~/Content/docs/KPMG_Fusion_Guide_v1.pdf")'><img src='@Url.Content("~/Images/login/fusion_paper.jpg")' alt="Fusion Guide" /></a>
                    <div>
                        <h2>Read the Fusion guide</h2>
                        <a href='@Url.Content("~/Content/docs/KPMG_Fusion_Guide_v1.pdf")' class="ctabutton orange nospace" target="_blank">Download&nbsp;now</a>
                    </div>
                </li>
            </ul>


        </section>

        <section class="dynamic">
            <div class="whitebox box-50">
                <div class="fitting-invert">
                    <h2>Dynamic decision support for your&nbsp;pension challenges</h2>
                    <p>Fusion’s visual interface has been designed to be intuitive and easy-to-use, enabling you to monitor the current status of your pension scheme, understand its past performance and explore solutions interactively to help shape your pensions strategy. By being able to identify potential opportunities as they arise, you can then act quickly and decisively to take advantage of these.</p>

                </div>
                <div class="dynamic_corner"></div>
            </div>
        </section>


        <section class="spacer">
            <p>“The clearest presentation of risk management information I’ve ever&nbsp;seen” - Professional Independent Trustee</p>
        </section>


        <section class="clarity">
            <div class="whitebox box-50R">
                <div class="fitting">
                    <h2>Gain clarity and enhance <br />stakeholder collaboration</h2>
                    <p>By providing a common platform and basis for discussion, Fusion helps encourage collaborative working between companies and trustees, allowing you to solve pensions issues together. Designed to let you see the whole picture, Fusion can facilitate more productive discussions, help you make informed decisions to act on, and enable you to develop a more holistic and coordinated strategy for your pension scheme.</p>

                </div>
                <div class="clarity_corner"></div>
            </div>
        </section>


        <section class="spacer">
            <p>“Fantastic! A truly 21st century tool, providing valuable insight in real time” - Pensions Manager for a FTSE100 company</p>
        </section>

        <section class="fusion">
            <h2>Discover the elements of Fusion</h2>
            <p>KPMG Fusion combines four elements to effectively support your pensions decision-making – underpinned by the experience and expertise of our people who can then help you implement your strategy.</p>
            <ul>
                <li>
                    <div class="image_list"><img src='@Url.Content("~/Images/login/elements-baseline.jpg")' alt="baseline" /></div>
                    <h4>Your initial position</h4>
                    <p>To develop your pensions strategy it is important to know where you are starting from.</p>
                </li>
                <li class="odd">
                    <div class="image_list"><img src='@Url.Content("~/Images/login/elements-evolution.jpg")' alt="evolution" /></div>
                    <h4>Understand past performance</h4>
                    <p>See the historic evolution of your scheme on a daily basis and easily investigate how things have changed over any time period.</p>
                </li>
                <li class="even">
                    <div class="image_list"><img src='@Url.Content("~/Images/login/elements-analysis.jpg")' alt="analysis" /></div>
                    <h4>Explore options and <br />develop strategy</h4>
                    <p>Perform interactive, complex and dynamic analysis in real-time and at the touch of a button to help shape your pensions strategy.</p>
                </li>
                <li class="last">
                    <div class="image_list"><img src='@Url.Content("~/Images/login/elements-solutions.jpg")' alt="solutions" /></div>
                    <h4>Access our insight<br />and expertise</h4>
                    <p>Bringing together information on solutions and combining this with the insight and expertise of our people helps you to explore the right strategy for your pension scheme.</p>
                </li>
            </ul>
        </section>

        <section class="spacer power">
            <h2>Power your pensions strategy in a new way –<br />contact us today to arrange your free demonstration</h2>
            <ul>
                <li class="phone big"><span>020 7311 8600</span></li>
                <li class="email big"><a href="mailto:@AppSettings.ContactEmail">@AppSettings.ContactEmail</a></li>
            </ul>

            <a href="#" class="ctabutton lblue nospace request">Request&nbsp;a&nbsp;free&nbsp;demonstration</a>
        </section>

        <section class="award2014">
            <p>KPMG Fusion <br />Best New Technology Solution of the Year</p>
        </section>

        <section class="gain">
            <div class="box-50R">
                <h2>Gain pension risk management insights</h2>
                <p>Read our free guide to see how real-time information and visualisation can support your pensions strategy.</p>

                <a href='@Url.Content("~/Content/docs/KPMG_Fusion_Guide_v1.pdf")' class="ctabutton orange nospace" target="_blank">Download&nbsp;the&nbsp;guide</a>
            </div>
        </section>

        <section class="bluebar"></section>


        <section class="footer">

            <div class="box-60">
                <p>&copy; @DateTime.Now.Year KPMG LLP, a UK limited liability partnership, and a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative, a Swiss entity. All rights reserved.  KPMG FUSION is registered as a trade mark covering the whole Community.</p>

                <p>KPMG International Cooperative ("KPMG International") is a Swiss entity. Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services. No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties, nor does KPMG International have any such authority to obligate or bind any member firm.</p>

                <p>&reg; KPMG FUSION is registered as a trademark covering the whole European Community. </p>
            </div>

            <div class="footermenu">
                <ul>
                    <li class="f1"><a href="http://www.kpmg.com/uk/en/Pages/Legal.aspx" target="_blank">Legal</a></li>
                    <li class="f2"><a href="http://www.kpmg.com/uk/en/Pages/Privacy.aspx" target="_blank">Privacy/Cookies</a></li>
                    <li class="last"><a href="http://www.kpmg.com/UK/en/services/Tax/Pensions/Pages/default.aspx" target="_blank">Visit KPMG UK pension website</a></li>
                </ul>
            </div>

        </section>

    </div>

    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@AppSettings.GoogleAnalytics[0]', '@AppSettings.GoogleAnalytics[1]');
            ga('send', 'pageview');
    </script>

</body>
</html>

