﻿@model Fusion.WebApp.Models.LoginViewModel
@{
    ViewBag.Title = "Sign in";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisableTimeout()

<div class="contents loginsection">

    <section id="loginpane" class="grey loginpane">
        <!--section-->

        <a href="~/" class="fusionlogo-new">Fusion Pension risk management</a>
        <div class="fusionimg">
            <div class="screenglaze"></div>
            <div id="no-slideshow" class="pics">
                @*
                    <img src="/images/content/logins/screen1.jpg" />
                    <img src="/images/content/logins/screen2.jpg" />
                *@
                <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/92141036"><img src="/images/content/logins/explore-fusion-video.png" /></a>
            </div>
        </div>
        <div class="grid">
            <!--grid-->
            <div class="right thirty-three">
                @Html.Partial("_LoginPanel", Model)
            </div>

        </div><!--grid-->
    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->


        <div class="grid">
            <!--grid-->
            <div class="right thirty-three">
                <div class="block mustygrey">
                    <h3>Don't have an account?</h3>
                    <div class="submitters">
                        <a id="get-in-touch-btn" href="mailto: @AppSettings.SupportEmail" class="button">
                            Get in touch
                        </a>

                    </div>
                </div>
            </div>

        </div><!--grid-->



        <div class="grid loginpaneoptions">
            <!--grid-->
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico time"></div>
                </div>
                <div class="ballmargins"><p>Track scheme over time</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico impact"></div>
                </div>
                <div class="ballmargins"><p>Review risk impact</p></div>
            </div>
            <div class="left twenty-five">
                <div class="ball">
                    <div class="ico scenarios"></div>
                </div>
                <div class="ballmargins"><p>Test multiple scenarios &amp; assumptions</p></div>
            </div>
            <div class="left twenty-five last">
                <div class="ball">
                    <div class="ico charts"></div>
                </div>
                <div class="ballmargins"><p>Simple, dynamic charts</p></div>
            </div>
        </div><!--grid-->
    </section><!--section-->


</div>

@section scripts {
    @Scripts.Render("~/bundles/loginjs")
}
