﻿@model Fusion.WebApp.Models.AccountUpdateModel
@{
    ViewBag.Title = "Manage Account";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/account")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a href='@Url.RouteUrl("Home")' class="button">Home</a>
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->
            <div class="left fourty-five">
                <div class="block lightgrey include_indicator">
                    @Html.Partial("_ChangeNameEmailPartial", Model.NameEmailUpdateModel)
                </div>
            </div>
            <div class="right fourty-five">
                <div class="block lightgrey include_indicator">
                    @Html.Partial("_ChangePasswordPartial", Model.PasswordUpdateModel.WithFormHandler("ChangePassword", "Account"))
                </div>
            </div>

        </div><!--grid-->

    
    </section><!--section-->

    <section id="getaccount" class="gold">
        <!--section-->


        <div class="grid">
            <!--grid-->
            <div class="left fourty-five">
                @if (Model.AllowSchemeChange)
                {
                    <div class="block mustygrey include_indicator">
                        @Html.Partial("_ChangeSchemePartial", Model.SchemeNameUpdateModel)
                    </div>
                }
            </div>            
            <div class="right fourty-five">
                @if (Model.AllowUsernameChange)
                {
                    <div class="block mustygrey include_indicator">
                        @Html.Partial("_ChangeUserNamePartial", Model.UserNameUpdateModel)
                    </div>
                }
            </div>

        </div><!--grid-->



    </section><!--section-->

</div>

