﻿@model Fusion.WebApp.Models.PasswordResetViewModel
@{
    ViewBag.Title = "Reset Password";
    ViewBag.Compact = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

<div class="contents loginsection">
        
        <section id="loginpane" class="grey loginpane">

            <a href="~/" class="fusionlogo-new">Fusion Pension risk management</a>
            <div class="fusionimg">
                <div class="screenglaze"></div>
                <div id="no-slideshow" class="pics">
                    <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/79197932"><img src="/images/content/logins/explore-fusion-video.png" /></a>
                </div>
            </div>


            <!--section-->
            <div class="grid">
                <!--grid-->
                <div class="right fourty">
                    <div class="block lightgrey include_indicator">
                        <h2>@(Model.IsCreate ? "Create" : "Reset") password</h2>

                        @Html.ValidationMessage("")

                        @using (Html.BeginForm("ResetPassword", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Token)
                            @Html.HiddenFor(m => m.UserName)
                            @Html.HiddenFor(m => m.OldPasswordRequired)
                            @Html.HiddenFor(m => m.IsCreate)
                            @Html.HiddenFor(m => m.ShowPasswordRules)

                            if (Model.OldPasswordRequired)
                            {
                                <div>
                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                    @Html.LabelFor(m => m.OldPassword)
                                    @Html.PasswordFor(m => m.OldPassword, new { autocomplete = "off" })
                                </div>
                            }
                            
                            <div>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                                @Html.LabelFor(m => m.NewPassword)
                                @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off" })
                            </div>

                            <div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
                            </div>
                            
                            <div class="topspace-10">
                                @Html.Partial("_PasswordRequirementMessage")
                            </div>
                            
                            <div class="submitters">

                                @if (Model.HasError == true)
                                {
                                    <span class="changeFailed">Password failed</span>
                                }

                                <input type="submit" value='@(Model.IsCreate ? "Create" : "Reset") password' id="reset-pwd-btn" class="submit-limit" />

                            </div>
                         }



                    </div>
                </div>

            </div><!--grid-->


        </section><!--section-->

        <section id="getaccount" class="gold">
            <!--section-->


            <div class="grid">
                <!--grid-->
                <div class="right fourty">
                    <div class="block mustygrey">
                        <div>
                            <h3>Having problems?</h3>
                            <div class="submitters">
                                <a href="mailto: @AppSettings.SupportEmail" class="button">
                                    Get in touch
                                </a>
                            </div>
                        </div>



                    </div>
                </div>

            </div><!--grid-->

            <div class="grid loginpaneoptions">
                <!--grid-->
                <div class="left twenty-five">
                    <div class="ball">
                        <div class="ico time"></div>
                    </div>
                    <div class="ballmargins"><p>Track scheme over time</p></div>
                </div>
                <div class="left twenty-five">
                    <div class="ball">
                        <div class="ico impact"></div>
                    </div>
                    <div class="ballmargins"><p>Review risk impact</p></div>
                </div>
                <div class="left twenty-five">
                    <div class="ball">
                        <div class="ico scenarios"></div>
                    </div>
                    <div class="ballmargins"><p>Test multiple scenarios &amp; assumptions</p></div>
                </div>
                <div class="left twenty-five last">
                    <div class="ball">
                        <div class="ico charts"></div>
                    </div>
                    <div class="ballmargins"><p>Simple, dynamic charts</p></div>
                </div>
            </div><!--grid-->


        </section><!--section-->
</div>
