﻿@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.AdditUserViewModel

<h2>Add new user
    @if (Model.Result == AdditUserResult.UserSaveSuccess)
    {
        <span class="changeSucceeded">User saved</span>
    }
    else if (Model.Result == AdditUserResult.DeleteUserSuccess)
    {
        <span class="changeSucceeded">Deleted user</span>
    }
</h2>

@using (Html.BeginForm("Add" , "Users", FormMethod.Post, new { id = "user-form" }))
{
    @Html.AntiForgeryToken()
    
    foreach (var schemeName in Model.Schemes)
    {
        <input type="hidden" name="Schemes" value="@schemeName" />
    }
    
    <div>
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off" })
    </div>

    <div id="manual-password">
        <div>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
        </div>

        <div class="topspace-10">
            @Html.Partial("_PasswordRequirementMessage")
        </div>
    </div>
    
    <div>
        @Html.ValidationMessageFor(m => m.Role)
        @Html.LabelFor(m => m.Role)
        @Html.RoleSelect(Model)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)

    </div>

    <div>
        @Html.ValidationMessageFor(m => m.EmailAddress)
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
    </div>

    <div class="submitters">

        @if (Model.Result == AdditUserResult.AddUserFailure)
        {
            <span class="changeFailed">Failed to add user</span>
        }
        
        <input type="submit" value="Add new user" id="add-user-btn" class="submit-limit" />

    </div>
}