﻿﻿@model Fusion.WebApp.Models.AdditUserViewModel

<h2>Edit user
    @if (Model.Result == AdditUserResult.FindUserSuccess)
    {
        <span class="changeSucceeded">User found</span>
    }
</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { id = "user-form" }))
{
    @Html.AntiForgeryToken()
    
    <input type="hidden" name="CurrentUserName" value="@Model.CurrentUserName" />

    foreach (var schemeName in Model.Schemes)
    {
        <input type="hidden" name="Schemes" value="@schemeName" />
    }
    
    <div>
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.Password)
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class="ghost", data_ghost="Reset password..." })
    </div>
    
    <div class="topspace-10">
        @Html.Partial("_PasswordRequirementMessage")
    </div>
    
    <div>
        @Html.ValidationMessageFor(m => m.Role)
        @Html.LabelFor(m => m.Role)
        @Html.RoleSelect(Model)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>

    <div>
        @Html.ValidationMessageFor(m => m.EmailAddress)
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
    </div>

    <div class="submitters">
        @if (Model.Result == AdditUserResult.EditUserFailure)
        {
            <span class="changeFailed">Failed to update user</span>
        }
        @if (Model.Result == AdditUserResult.DeleteUserFailure)
        {
            <span class="changeFailed">Failed to delete user</span>
        }

        <input type="submit" value="Update user" name="update" id="edit-user-btn" class="submit-limit" />
        <input type="submit" value="Delete" name="delete" id="delete_user" class="submit-limit" />
    </div>

    <div id="dialog-user-delete-confirm" title="">
        <h3>Delete User</h3>
        <p>Are you sure you want to permanently delete this user?</p>
    </div>
}