﻿@model Fusion.WebApp.Models.FindUserViewModel

<h2>Find user</h2>

@using (Html.BeginForm("Find", "Users"))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationMessageFor(m => m.FindUserName)
        @Html.LabelFor(m => m.FindUserName)
        @Html.TextBoxFor(m => m.FindUserName, new { autocomplete = "off", id = "userSearch", data_usersource = Url.Action("List", "Users") })
    </div>
    <div class="submitters">

        @if (Model.Result == ResultEnum.Failure) { 
            <span class="changeFailed">User not found</span>
        }
        <input type="submit" value="Find User" />
        @Html.ActionLink("List all", "ListAll", null, new { @class = "button" })
    </div>
}
