﻿@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.ListUserViewModel
@{
    var userHelper = Html.GetUserAdminHelper();
}

@Html.AntiForgeryToken()

<div id="user-list-header-row">
    <div id="h2-user-list" class="left">All Users</div>
    <div id="user-list-search-tools" class="left">
        <div class="left">
            <button id="user-list-filters-toggle" class='@(userHelper.ShowSearchFilter(Model.Params) ? "selected" : "")'>Search tools</button>
        </div>
        <div id="user-list-filters" style='display: @(userHelper.ShowSearchFilter(Model.Params) ? "block" : "none")'>
            <label for="role-filter">Roles</label>
            <select name="role-filter">
                @userHelper.GetRoleFilterOptions(Model.Params)
            </select>
            <label for="scheme-filter">Schemes</label>
            <input type="text" name="scheme-filter" id="scheme-filter" class="scheme-filter" autocomplete="off" value="@(Model.Params.SchemeName ?? string.Empty)" data-schemesource='@Url.Action("List", "Scheme" )' data-url="@userHelper.GetSchemeFilterUrl(Model.Params)" />
            <a id="filter-reset" href='@Url.Action("ListAll", "Users")' class="left-space-20">Reset</a>
        </div>
    </div>
</div>
<div id="user-action-panel">
    <div id="user-bulk-actions">
        <a href="@userHelper.GetFirstPageUrl(Model.Params)" id="delete_user">delete</a>
    </div>
</div>

@if (Model.Users.Any())
{
    <table id="tbl-user-list" class="left-spaced-table">
        <tr>
            <th><input type="checkbox" id="chk-user-selectall" /></th>
            <th><a href='@userHelper.GetNameOrderActionLink(Model.Params)' id="user-list-name-sort">Name</a><span class='user-list-sort-icon user-list-sort-icon-@(Model.Params.NameDescending ? "des" : "asc")'></span></th>
            <th>Email</th>        
            <th>Username</th>
            <th>Role</th>
            <th>Schemes</th>
            <th>Status</th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="user-select hidden"><input type="checkbox" name="user-select-chk" value="@user.Id" /></td>
                <td>@user.Surname, @user.Forename</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink(user.UserName, "Manage", new { id = user.Id })</td>
                <td>@user.Role</td>
                <td>@userHelper.SchemeMembershipDisplay(user)</td>
                <td style="width: 150px;">
                    @if (user.IsLocked)
                    {
                        <img src='@Url.Content("~/Images/user-lock-icon.png")' width="12" height="16" style="padding: 0; margin: 0;" /> <a href="#" class="user-unlock">Unlock</a> <span class="user-unlock-confirmation" style="display: none">[@Html.ActionLink("ok", "Unlock", "Users", new { user.UserName }, new { @class="user-unlock-ok" }) | <a href="#" class="user-unlock-cancel">cancel</a>]</span>
                    }
                </td>
            </tr>
        }
    </table>

    if (Model.Params.TotalMatches > 0)
    {
        <div id="user-list-footer">
            <div style="margin-left:10px; margin-top: 20px;" class="left">
                <div class="paging">
                    @userHelper.GetPagingLinks(Model.Params)
                </div>
            </div>
        </div>
    }

    <div id="dialog-user-delete-confirm" title="">
        <h3>Delete User</h3>
        <p>Are you sure you want to permanently delete selected users?</p>
    </div>
}
else
{
    <p>No users found.</p>
}