﻿@using FlightDeck.ServiceInterfaces
@using Fusion.WebApp.Models
@model Fusion.WebApp.Models.AdditUserViewModel
<div style="margin-top: 50px;">
    <div id="schemes-admin" class="scheme-access-info" style="display:none;"><span class="natural">Admin users can view all schemes.</span></div>
    <div id="schemes-installer" class="scheme-access-info" style="display:none;">
        <span class="natural">Installer users can view:</span>
        <ul style="padding: 0px; margin:5px 0px 0px 35px;">
            <li>all unrestricted schemes</li>
            <li>any restricted schemes they are given access to (below).</li>
        </ul>
    </div>
    <div id="schemes-consultant" class="scheme-access-info" style="display:none;">
        <span class="natural">Consultant users can view:</span>
        <ul style="padding: 0px; margin:5px 0px 0px 35px;">
            <li>all unrestricted schemes</li>
            <li>any restricted schemes they are given access to (below).</li>
        </ul>
    </div>
    <div id="schemes-client" class="scheme-access-info" style="display:none;"><span class="natural">Client users can only view schemes they are given access to (below).</span></div>
    <div id="schemes-adviser" class="scheme-access-info" style="display:none;"><span class="natural">Adviser users can only view the homepage and the evolution page for the schemes they are given access to (below).</span></div>
</div>
<div id="schemes">

    <div id="find-schemes-all">
        @Html.Partial("_FindScheme", new FindSchemeViewModel { SubmitLabel = "Add scheme", RestrictionStatus = SchemeRestrictionStatus.All })
    </div>
    <div id="find-schemes-restricted-only" style="display: none;">
        @Html.Partial("_FindScheme", new FindSchemeViewModel { SubmitLabel = "Add scheme", RestrictionStatus = SchemeRestrictionStatus.Restricted })
    </div>

    <div id="scheme-list">
        @Html.ValidationMessageFor(m => m.Schemes)
        <label for="scheme-list">Accessible <span id="restricted-label">restricted</span> schemes</label>
        <br />        
        @foreach (var scheme in Model.Schemes)
        {
            <div>
                <a href="#" class="remove-scheme" title="Remove access to scheme">
                    <img src='@Url.Content("~/Images/remove-icon-disabled.png")'
                         onmouseover="this.src='@Url.Content("~/Images/remove-icon.png")'"
                         onmouseout="this.src='@Url.Content("~/Images/remove-icon-disabled.png")'">
                </a><span class="scheme-name">@scheme</span>
            </div>
        }
    </div>
    <div id="clonable-scheme-section" style="display:none">
        <a href="#" class="remove-scheme" title="Remove access to scheme">
            <img src='@Url.Content("~/Images/remove-icon-disabled.png")'
                 onmouseover="this.src='@Url.Content("~/Images/remove-icon.png")'"
                 onmouseout="this.src='@Url.Content("~/Images/remove-icon-disabled.png")'">
        </a><span class="scheme-name"></span>
    </div>
</div>