﻿@using FlightDeck.DomainShared
@model Fusion.WebApp.Models.UserEmailViewModel

<html>
    <head>
        <style>
            label {
                width: 100px;
                display:inline-block;
            }
        </style>
    </head>
    <body>
        <h2>Welcome!</h2>
    
        <p>You have been registered as a @Model.Role.DisplayName() of KPMG Fusion.</p>
     
        <p>
            <label>Username:</label><b>@Model.UserName</b><br/>
            <label>First name:</label><b>@Model.FirstName</b><br />
            <label>Last name:</label><b>@Model.LastName</b><br />
            <label>Email address:</label><b>@Model.EmailAddress</b><br />
        </p>
        
        <p>Please follow the link below to complete your registration and access the application.</p>

        <a href="@Url.Action("ResetPassword", "Account", new {username = Model.UserName, token = Model.Token }, "http")">KPMG Fusion - Start Here</a>

    </body>
</html>