﻿@model Fusion.WebApp.Models.ManageUserViewModel

@{
    ViewBag.Title = "Manage Users";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/users-list")
}

<div class="contents-nohead" style="width: 1300px;">
    <section class="grey" style="padding:0px; position: initial;">

        <div class="bottompad">
            @Html.ActionLink("Back", "Manage", null, new { @class = "button" })
        </div>

        <!--section-->
        <div class="grid">
            <!--grid-->
            <div id="user-list-view" class="block lightgrey include_indicator">
                @Html.Partial("_List", Model.ListUserViewModel)
            </div>

        </div><!--grid-->

    </section><!--section-->

</div>
