﻿@model Fusion.WebApp.Models.ManageUserViewModel
@{
    var showAdd = string.IsNullOrEmpty(Model.AdditUserViewModel.CurrentUserName);
    ViewBag.Title = showAdd ? "Add User" : "Edit User";
    ViewBag.Compact = true;
    ViewBag.HideScheme = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/users-manage")
}

<div class="contents loginsection">
    <section id="loginpane" class="admin grey">

        <div class="bottompad">
            <a id="btn-cancel" href="~/Users/Manage" class="button" @Html.VisibleIf(Model.IsEditing)>Cancel</a>
            <a id="btn-home" href='@Url.RouteUrl("Home")' class="button" @Html.VisibleIf(!Model.IsEditing) )>Home</a>
        </div>

        <input type="hidden" name="disable-expanding" value="@Html.JScript().ToBool(!Model.IsEditing)" />

        <!--section-->
        <div class="grid">

            <div id="find-user" class="left fourty-five" style='display:@(Model.IsEditing ? "none" : "block")'>
                <div class="block lightgrey include_indicator">
                    @Html.Partial("_Find", Model.FindUserViewModel)
                </div>
            </div>

            <!--grid-->
            <div id="user-form-container" class='lightgrey @(Model.IsEditing ? "left hundred" : "")'>
                <div id="user-details-section" class='fourty-five @(Model.IsEditing ? "left" : "right")'>
                    <div class="block lightgrey include_indicator">
                        @if (showAdd)
                        {
                            @Html.Partial("_Add", Model.AdditUserViewModel)
                        }
                        else
                        {
                            @Html.Partial("_Edit", Model.AdditUserViewModel)
                        }
                    </div>
                </div>
                <div id="scheme-section" class="right fifty" style='display:@(Model.IsEditing ? "block" : "none")'>
                    <div class="block lightgrey right-continuation">
                        @Html.Partial("_Schemes", Model.AdditUserViewModel)
                    </div>
                </div>
            </div><!--grid-->
        </div>

    </section><!--section-->

</div>
