﻿@model Fusion.WebApp.Models.TermsViewModel

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    ViewBag.Title = "Terms";
}

<!--contents-->
<div class="contents terms">
    <section id="disclaimer" class="grey">
        <!--section-->
        <h4>Welcome to Fusion</h4>
        <h3>(the "Site")</h3>

        <p>
            This Site has been constructed exclusively for clients of KPMG LLP who have been
            authorised to use the Site (referred to below as "You"). Please read the following
            terms and conditions before accessing the Site.
        </p>

        <p>
            Access to the Site can be obtained by clicking on the "I accept" button below, which will
            denote that You have read, understood and accept these terms and conditions of use,
            which exist between You and KPMG LLP.
        </p>

        <h4>Username &amp; Password</h4>
        <p>
            You will be responsible for using the username and password we provide you with to log on
            to the Site, and taking all reasonable steps to ensure that your password stays secure.
            You should not permit anyone other than yourself to gain access to the Site or to take a
            copy of your username, and password.
        </p>

        <p>
            By logging onto the Site, you are granting permission to KPMG LLP and its appointed third
            party providers to provide data to you via this website.
        </p>

        <h4>Permitted Use</h4>
        <p>
            Unless specially agreed in a separate engagement letter, you should neither act nor refrain
            from acting based on the output from this site as this is provided for guidance only. No
            decisions should be made on the basis of any of the outputs obtained without thorough
            investigation of the circumstances and You should ensure that all appropriate advice and
            judgement is undertaken on any aspect of the information obtained in whole or in part from
            the Site.
        </p>

        <p>
            You are permitted to print and download extracts from the Site for your own use and/or for
            the purposes of seeking advice as long as you do not modify the printed extracts in any
            way including without limitation the inclusion of any copyright notices.
        </p>

        <p>
            Unless otherwise stated, the copyright and intellectual property rights in all materials on the
            Site (including without limitation photographs and graphical images) are owned by or
            licensed to KPMG LLP. For the purposes of these terms and conditions, any use of
            extracts from the Site for any purpose other than as set out in these terms and conditions
            is strictly prohibited.
        </p>

        <h4>Service Access</h4>

        <p>
            Whilst KPMG LLP endeavour to ensure that the Site is normally available 24 hours a day,
            they shall not be liable if for any reason the Site is unavailable at any time or for any period.
        </p>

        <h4>Amendment of Terms</h4>
        <p>
            We may make any amendments to these terms and conditions. You should check the
            terms and conditions section of the Site from time to time to review the then current
            version, which is binding on you. Your use of the Site after we have made a change will
            indicate your acceptance of the amended terms and conditions.
        </p>

        <h4>Exclusions and limitations on our liability</h4>

        <p>
            This Site is not intended to confer any legal rights on you or create any legal rights for you.
            KPMG LLP cannot be made responsible for any loss, damage or inconvenience caused as
            a result of any error or inaccuracy on this Site.
        </p>

        <p>
            These terms and conditions shall be governed by English Law and are subject to the
            exclusive jurisdiction of the English courts.
        </p>

        <p>
            If you have any problems using the Site or require information in another format, please
            contact us.
        </p>

        @if (Model.ShowAcceptPanel)
        {
            using (Html.BeginForm("AcceptTerms", "Terms"))
            {
                <div>
                    @Html.AntiForgeryToken()
                    <input class="right" type="submit" name="continue" value="Accept and continue" />
                    <br/>
                    <br/>
                    <br/>
                </div>
            }
        }

    </section>
</div>