﻿@using Fusion.WebApp
@using System.Configuration
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
        <title>@ViewBag.Title - KPMG Fusion</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        @Scripts.Render("~/bundles/fusionlibs")
        @Scripts.Render("~/bundles/fusioncore")
        @Scripts.Render("~/bundles/solutions")
        
        @Styles.Render("~/Content/fusioncss")
    </head>
<body>
    <div id="container">

    <header>
        <!--header-->
        <div class="headcomponents">
            <div class="headerwrapper">
                <div class="logo"><span><a class="fusion-logo" href='@Url.RouteUrl("Home")'>Fusion Pension risk management</a></span></div>
                @Html.Action("Header", "Solutions2")
            </div>
        </div>
        <div class="headerleft"></div>
        <div class="headerbase"></div>
        <div class="headextentsion">
            <div class="headmenu">
                <ul class="firstmenu">
                    <li class="dashboard"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="dashboard"><a href="@Url.Action("Index", "Baseline")">Baseline</a></li>
                    <li class="dashboard"><a href="@Url.Action("Index", "Evolution")">Evolution</a></li>
                    <li class="dashboard">@Url.LinkableIf(Html.UserIsNotAdviser(), "Index", "Analysis", "Analysis")</li>
                    <li class="dashboard">@Url.LinkableIf(Html.UserIsNotAdviser() && Html.EnableJourneyPlan(), "Index", "JourneyPlan", "Journey plan")</li>
                    <li class="submenu">@Url.LinkableIf(Html.UserIsNotAdviser(), "Index", "Solutions2", "Solutions")</li>
                    <li class="dashboard"><a href='@Html.FormatMailTo(SchemeHelper.GetScheme(Html).ContactEmail, AppSettings.ContactEmail, "Fusion feedback")' title="Feedback..."><img src='@Url.Content("~/Images/communication-light.png")' width="33" height="30" id="feedback-icon" /></a></li>
                </ul>
            </div>
            <div class="pane">
                
                @RenderSection("controlPanel", required: false)

                @if (ViewBag.Area == "Solutions2")
                {
                    <div class="solutions2-secondmenu">
                        <ul class="secondmenu">
                            <li><a href="@Url.Action("Risk", "Solutions2")">Risk</a></li>
                            <li><a href="@Url.Action("Cash", "Solutions2")">Cash</a></li>
                            <li><a href="@Url.Action("Efficiency", "Solutions2")">Efficiency</a></li>
                            <li><a href="@Url.Action("Reward", "Solutions2")">Reward</a></li>
                        </ul>
                    </div>
                    @*<div class="solutions2-secondmenu-dropdown-container">
                        <a id="solutionsSelector" href="#" class="solutionsSelector">
                            <div class="view-solutions"></div>
                            View solutions
                        </a>
                        <ul id="solutionsMenu" class="dropDownMenuX">
                            <li>@Html.ActionLink("Accounting", "PSA", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Asset Backed Funding", "ABF", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Benefit Changes", "BenefitChanges", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Communication", "Communication", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Governance and Efficiency", "GovernanceEfficiency", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Insurance Solutions", "InsuranceSolutions", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Investment", "Investment", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Member and Benefit Data", "MemberBenefitData", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Member Options", "MemberOptions", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("People Powered Performance", "PPP", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("PPF levy", "PPFLevy", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Scheme Funding", "SchemeFunding", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Sponsor Covenant", "SponsorCovenant", "Solutions2", null, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Tax solutions", "TaxSolutions", "Solutions2", null, new { target = "_blank" })</li>
                        </ul>
                    </div>*@
                }
            </div>
        </div>
    </header><!--header-->

    @RenderBody()

    <footer>
        @Html.Partial("_Footer")
    </footer>			

</div>

</body>

</html>
