﻿@model FlightDeck.DomainShared.UserProfile

<div class="userpanel">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a id="signin" class="logout" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
    }
    <div style="position: relative;display:inline;float: right">
        <a href="@Url.Action("Manage", "Account")" class="username">
            <div class="header-dropdown"></div>
            @Model.FirstName @Model.LastName
        </a>
    </div>
</div>
