﻿@{
    Layout = "~/Views/Solutions2/_LayoutSolutions.cshtml";
    ViewBag.Title = "Cash";
    ViewBag.Area = "Solutions2";
}


@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
            </div>
        </div>
    </div>
}


<!--contents-->
<div class="contents-full solutions cash">
    <section class="section-full">
        <div class='solutions-banner'>
            <img class="stretch" src="/images/solutions-banner-cash.png" alt="">
            <div class='solutions-banner-content'>
                <p class='whitecolor'>Controlling your cash spend is the biggest priority and ensuring that costs are sustainable is vital.</p>
            </div>
        </div>

    </section>

    <div class="slightlydarkergrey solution-top-content">
        <h1 class="aligncenter charcoalgreycolor"><strong>What are the most suitable options to manage cash?</strong></h1>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageright-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Asset Backed Funding</strong></h3>

                <p>ABF is a powerful tool that can maximise the efficiency of your funding strategy and also support other initiatives that might form part of a wider Pension Solution. It provides security to trustees while reducing company cash spend by using business assets to support the payments to the pension scheme. Further significant cash savings can be made through accelerated tax deductions and PPF levy reductions, and ABF can also protect against trapped surplus if funding levels improve significantly.</p>

                @Html.ActionLink("Read", "ABF", "Solutions2", null, new { target = "_blank", @class="morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-abf.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleftoverlap-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Scheme Funding</strong></h3>

                <p>Cash is important for all businesses but, more than that, your scheme funding strategy influences and is influenced by almost all the other areas of your wider pension strategy.  We will combine actuarial, investment, corporate finance and tax expertise to help you set a scheme funding strategy which is joined-up with your wider goals and makes full use of the innovative solutions that are available.</p>

                @Html.ActionLink("Read", "SchemeFunding", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-schemefund.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageright-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Sponsor Covenant</strong></h3>

                <p>The sponsor’s ability to support the pension scheme is at the heart of UK pension regulation and must also be central to your overall pension strategy.  It is critical to getting the right outcome on cash as part of any funding agreement.  We will help you to understand the dynamics, to position the issue of sponsor covenant to best effect and to devise appropriate structures to provide the pension scheme with access to the covenant where this facilitates what you are trying to achieve.</p>

                @Html.ActionLink("Read", "SponsorCovenant", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-sponsor-covenant.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleft-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Benefit changes</strong></h3>

                <p>If your DB scheme is still open to new benefit accrual then you have a range of options to get the most out of your pension scheme and provide a highly valued benefit to members. Our experience of helping companies to design and implement a range of flexible and innovative alternatives will help you to find the right answer for you.</p>

                @Html.ActionLink("Read", "BenefitChanges", "Solutions2", null, new { target = "_blank", @class="morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-benefitchanges.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageright-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Governance and Efficiency </strong></h3>

                <p>Pension scheme governance is increasingly high up the agenda of many organisations and is firmly on the Pensions Regulator’s radar.  Whatever your long-term goals, making the most of what you have and running an efficient ship is clearly beneficial.  Our extensive range of services will help you to manage the pension scheme effectively, minimise risks and keep control of costs.</p>

                @Html.ActionLink("Read", "GovernanceEfficiency", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-gov-eff.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="slightlydarkergrey">
        <div class="grid solution-panel-also">
            <div class="left thirty-three">
                <p class="charcoalgreycolor"><strong>Also consider</strong></p>

            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Accounting", "PSA", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Investment", "Investment", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Insurance Solutions", "InsuranceSolutions", "Solutions2", null, new { target = "_blank" })</p>


            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Member Options", "MemberOptions", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("People Powered Performance", "PPP", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Communication", "Communication", "Solutions2", null, new { target = "_blank" })</p>


            </div>


        </div>


    </div>
</div>
