﻿@{
    Layout = "~/Views/Solutions2/_LayoutSolutions.cshtml";
    ViewBag.Title = "Efficiency";
    ViewBag.Area = "Solutions2";
}


@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
            </div>
        </div>
    </div>
}


<!--contents-->
<div class="contents-full solutions efficiency">
    <section class="section-full">
        <div class='solutions-banner'>
            <img class="stretch" src="/images/solutions-banner-efficiency.png" alt="">
            <div class='solutions-banner-content'>
                <p class='whitecolor'>You are focused on getting the biggest bang for your buck – getting the most out of the assets, minimising unnecessary costs and making sure you stay on track to reach your target.</p>
            </div>
        </div>

    </section>

    <div class="slightlydarkergrey solution-top-content">
        <h1 class="aligncenter charcoalgreycolor"><strong>What are the most suitable options to increase efficiency?</strong></h1>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imagerightoverlap-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Investment</strong></h3>

                <p>Investment strategy is the most powerful tool in the box. Make sure you are getting the most out of your assets for the level of risk you are prepared to take, and be alert to emerging opportunities to add value. Whether you want to accelerate up the mountain or smooth out the bumps in your journey, we have bespoke solutions for you.</p>

                @Html.ActionLink("Read", "Investment", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-investment.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleft-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Benefit changes</strong></h3>

                <p>If your DB scheme is still open to new benefit accrual then you have a range of options to get the most out of your pension scheme and provide a highly valued benefit to members. Our experience of helping companies to design and implement a range of flexible and innovative alternatives will help you to find the right answer for you.</p>

                @Html.ActionLink("Read", "BenefitChanges", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-benefitchanges.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imagerightoverlap-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Member options</strong></h3>

                <p>Reducing risk whilst giving members valuable flexibility in terms of the shape and nature of their pension can be a real win:win for all parties. These exercises can also deliver important cost savings. Our comprehensive data on offer design and rates of success, plus our market leading implementation credentials, will help you to make these exercises successful and to deploy them at the right time.</p>

                @Html.ActionLink("Read", "MemberOptions", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-memberoptions.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleft-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Asset Backed Funding</strong></h3>

                <p>ABF is a powerful tool that can maximise the efficiency of your funding strategy and also support other initiatives that might form part of a wider Pension Solution. It provides security to trustees while reducing company cash spend by using business assets to support the payments to the pension scheme. Further significant cash savings can be made through accelerated tax deductions and PPF levy reductions, and ABF can also protect against trapped surplus if funding levels improve significantly.</p>

                @Html.ActionLink("Read", "ABF", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-insurance.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageright-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Governance and Efficiency</strong></h3>

                <p>Pension scheme governance is increasingly high up the agenda of many organisations and is firmly on the Pensions Regulator’s radar.  Whatever your long-term goals, making the most of what you have and running an efficient ship are clearly beneficial.  Our extensive range of services will help you to manage the pension scheme effectively, minimise risks and keep control of costs.</p>

                @Html.ActionLink("Read", "GovernanceEfficiency", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-gov-eff.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="slightlydarkergrey">
        <div class="grid solution-panel-also">
            <div class="left thirty-three">
                <p class="charcoalgreycolor"><strong>Also consider</strong></p>

            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Accounting", "PSA", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Scheme Funding", "SchemeFunding", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Sponsor Covenant", "SponsorCovenant", "Solutions2", null, new { target = "_blank" })</p>


            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Insurance Solutions", "InsuranceSolutions", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("People Powered Performance", "PPP", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Communication", "Communication", "Solutions2", null, new { target = "_blank" })</p>


            </div>


        </div>


    </div>
</div>
