﻿@{
    Layout = "~/Views/Solutions2/_LayoutSolutions.cshtml";
    ViewBag.Title = "Reward";
    ViewBag.Area = "Solutions2";
}


@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
            </div>
        </div>
    </div>
}


<!--contents-->
<div class="contents-full solutions rewards">
    <section class="section-full">
        <div class='solutions-banner'>
            <img class="stretch" src="/images/solutions-banner-rewards.jpg" alt="">
            <div class='solutions-banner-content-reward'>
                <p class='charcoalgreycolor'>After all, that’s what pension schemes are for! You want a modern, engaging, flexible pension scheme that delivers for you and your employees.</p>
            </div>
        </div>

    </section>

    <div class="slightlydarkergrey solution-top-content">
        <h1 class="aligncenter charcoalgreycolor"><strong>What are the most suitable options if you're interested in reward?</strong></h1>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imagerightoverlap-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Member options</strong></h3>

                <p>Reducing risk whilst giving members valuable flexibility in terms of the shape and nature of their pension can be a real win:win for all parties. These exercises can also deliver important cost savings. Our comprehensive data on offer design and rates of success, plus our market leading implementation credentials, will help you to make these exercises successful and to deploy them at the right time.</p>

                @Html.ActionLink("Read", "MemberOptions", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-memberoptions.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleft-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Benefit changes</strong></h3>

                <p>If your DB scheme is still open to new benefit accrual then you have a range of options to get the most out of your pension scheme and provide a highly valued benefit to members. Our experience of helping companies to design and implement a range of flexible and innovative alternatives will help you to find the right answer for you.</p>

                @Html.ActionLink("Read", "BenefitChanges", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-benefitchanges.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imagerightoverlap-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>People Powered Performance</strong></h3>

                <p>Your workforce should be your greatest competitive advantage.  We will help you to create smarter workforce solutions by understanding the connections between people issues and capitalising on them to deliver superior operational performance and financial returns. </p>

                @Html.ActionLink("Read", "PPP", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantr-image-ppp.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="grey ">
        <div class="solution-slant-container solution-slant-imageleft-container">
            <div class="solution-slant-content">

                <h3 class="charcoalgreycolor"><strong>Communication</strong></h3>

                <p>How well you communicate about your pension benefits influences the value that employees place on them.  Communicating and engaging with your employees and pension scheme members also runs through many of the solutions that you might be considering.  Getting this right can make or break the success of any exercise!  Our experience of helping clients to design and deliver compelling messages will help you to make the most of your solutions. </p>

                @Html.ActionLink("Read", "Communication", "Solutions2", null, new { target = "_blank", @class = "morebtn" })

            </div>
            <div class="solution-slant-image"><img src="/images/solutions-slantl-image-communication.png" alt=""></div>
        </div>
    </div>
    <div class="solutions-blue-bar rightside">
        <div class="solutions-blue-bar-inner">
        </div>
    </div>
    <div class="slightlydarkergrey">
        <div class="grid solution-panel-also">
            <div class="left thirty-three">
                <p class="charcoalgreycolor"><strong>Also consider</strong></p>

            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Accounting", "PSA", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Investment", "Investment", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Asset Backed Funding", "ABF", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Scheme Funding", "SchemeFunding", "Solutions2", null, new { target = "_blank" })</p>


            </div>
            <div class="left thirty-three">
                <p>@Html.ActionLink("Sponsor Covenant", "SponsorCovenant", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Insurance Solutions", "InsuranceSolutions", "Solutions2", null, new { target = "_blank" })</p>
                <p>@Html.ActionLink("Efficiency and Governance", "GovernanceEfficiency", "Solutions2", null, new { target = "_blank" })</p>


            </div>


        </div>


    </div>
</div>
