﻿@{
    Layout = "~/Views/Solutions2/_LayoutSolutions.cshtml";
    ViewBag.Title = "Solutions";
    ViewBag.Area = "Solutions2";
}


@section controlPanel {
    <div class="controlpanel">
        <div class="controlpanelwrapper">
            <div class="paneoptions">
            </div>
        </div>
    </div>
}


<!--contents-->
<div class="contents-full solutions">
    <section class="section-full">
        <img class="stretch solutions2-header" src="/images/solutions2-header.png" alt="">

        <div class="solutions-banner-content-container">
            <div class="margincenter seventy" >
                <h1 class="aligncenter whitecolor">KPMG PENSION SOLUTIONS</h1>
                <h4 class="aligncenter yellowcolor">Find the right pension strategy</h4>
                <p class="aligncenter whitecolor">Balancing cost and risk, and providing a compelling employee reward proposition.<br /><br />The real power of our Pension Solutions is when we help you to deploy these tools together in a joined-up way to maximise the benefits which they deliver.</p>
            </div>
        </div>


        <div class="solutions-video-link-container">
        </div>

    </section>
    <section>
        <h2 class="center"><strong>What’s important to you?</strong></h2>

        <div class="grid">
            <div class="margincenter sixty">

                <h3 class="center">The right pension strategy for you is rooted in your own specific circumstances:</h3>
            </div>
        </div>


        <div class="grid">
            <div class="margincenter ninety">
                <div class="grid">

                    <div class="left twenty-five no-pointer">
                        <div class="no-ball">
                            <div class="ico risk"></div>
                            <div class="no-ball-head">
                                <p class="medium nomargin">We need to</p>
                                <h3 class="nomargin">Control risk</h3>
                            </div>
                            <div class="no-ball-body">
                                <p>We need a plan to reduce the level of risk we run and to control swings in the pension scheme’s finances.</p>
                            </div>
                        </div>
                    </div>

                    <div class="left twenty-five no-pointer">
                        <div class="no-ball">
                            <div class="ico cash"></div>
                            <div class="no-ball-head">
                                <p class="medium nomargin">We need to ensure</p>
                                <h3 class="nomargin">Cash is king</h3>
                            </div>
                            <div class="no-ball-body">
                                <p>Controlling our cash spend is the biggest priority and ensuring that costs are sustainable is vital.</p>
                            </div>
                        </div>
                    </div>

                    <div class="left twenty-five no-pointer">
                        <div class="no-ball">
                            <div class="ico increase"></div>
                            <div class="no-ball-head">
                                <p class="medium nomargin">We need to</p>
                                <h3 class="nomargin">Increase efficiency</h3>
                            </div>
                            <div class="no-ball-body">
                                <p>We are focused on getting the biggest bang for our buck – getting the most out of the assets, minimising unnecessary costs and making sure we stay on track to reach our target.</p>
                            </div>
                        </div>
                    </div>

                    <div class="left twenty-five no-pointer">
                        <div class="no-ball">
                            <div class="ico gift"></div>
                            <div class="no-ball-head">
                                <p class="medium nomargin">We want to provide</p>
                                <h3 class="nomargin">Enticing rewards</h3>
                            </div>
                            <div class="no-ball-body">
                                <p>After all, that’s what pension schemes are for! We want a modern, engaging, flexible pension scheme that delivers for us and our employees.</p>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="grid">
                    <div class="left twenty-five no-pointer">
                        <div class="no-ball-body">
                            <a href='@Url.Action("Risk", "Solutions2")' class="morebtn">More</a>
                        </div>
                    </div>
                    <div class="left twenty-five no-pointer">
                        <div class="no-ball-body">
                            <a href='@Url.Action("Cash", "Solutions2")' class="morebtn">More</a>
                        </div>
                    </div>
                    <div class="left twenty-five no-pointer">
                        <div class="no-ball-body">
                            <a href='@Url.Action("Efficiency", "Solutions2")' class="morebtn">More</a>
                        </div>
                    </div>
                    <div class="left twenty-five no-pointer">
                        <div class="no-ball-body">
                            <a href='@Url.Action("Reward", "Solutions2")' class="morebtn">More</a>
                        </div>
                    </div>
                </div>

                <div class="grid">


                </div>
            </div>

        </div>


</section>
</div>

<div class="see-our-awards-tab-container"><div class="see-our-awards-tab see-our-awards-tab-down"></div></div>
<div class="see-our-awards-body">

    <div class="margincenter fifty">
        <div class="grid">
            <div class="left solutions-award-small-container">
                <div class="grid solutions-award-small-container">
                    <div class="left solutions-award-small-item-l">
                        <img src="/images/award-pension2013-ebconsultancy.png" alt="" />
                    </div>
                    <div class="left solutions-award-small-item-r">
                        <img src="/images/award-pension2013-ebconsultancy.png" alt="" />
                    </div>
                </div>
                <div class="grid margincenter solutions-award-small-container">
                    <p class="aligncenter">Follow our journey</p>
                    <a class="downloadbtn margincenter" target="_blank" href="/Content/docs/employee-benefits-consultancy-year-2013.pdf">Download</a>
                </div>
            </div>
            <div class="left solutions-award-center-container">
                <img src="/images/content/EI_Awards2014_Winner_Small.jpg" alt="" />
            </div>
            <div class="right solutions-award-large-container">
                <img src="/images/award-fn2012-assetmanagement.png" alt="" />
            </div>

        </div>


    </div> 

</div>